<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Improvements</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <h4>Potential Returns on Improvements</h4>
                <p>
                    Before you estimate potential returns, research competing properties and tenant (or buyer) preferences. Learn what you need to do to design
                    a
                    cooperative advantage. Your profits flow directly from how much your tenants (buyers) value your units relative to what other owners offer.
                </p>

                <h4>How Much Should You Budget for Improvements?</h4>
                <p>
                    As you plan improvements for income properties, develop a cost and income estimate. Study market rent levels. Figure out how much you can
                    increase rents for each project you undertake. As one rule of thumb, each $1,000 you invest in improvements should increase your net
                    operating
                    income at least $200 a year.
                </p>
                <p>
                    When you estimate your costs of improvements, guard against spending too much relative to the property&rsquo;s neighborhood and relative to
                    the
                    rent levels your tenants are willing and able to pay. If $850 a month is tops and your inferior units now rent for $700 a month, using the
                    20
                    percent rule, you should limit costs to no more than, say, $6,000 to $9,000 per unit. These amounts assume that after renovations, you could
                    raise your rents to $800 or $850 a month and pocket another $100 to $150 a month in income:
                </p>
                <ul class="list-style-none">
                    <li>$1,200 (12 &times; $100) &divide; .20 = $6,000 cost of improvement</li>
                    <li>$1,800 (12 &times; $150) &divide; .20 = $9,000 cost of improvement</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>