<div class="container-xxl">
    <div class="row mt-4 mb-3">
        <div class="col-xl-12">
            <div class="page-header">
                <h1>Purchase &amp; Sale Agreement (PSA)</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <p>Make sure PSA includes following:</p>
            <ul>
                <li>Due diligence clock doesn&rsquo;t start until you have received all the required documents.</li>
                <li>Purchase price: What is the total price?</li>
                <li>Down payment: How much do you need down?</li>
                <li>What is the initial deposit, earnest money, to open escrow and start your detailed research?</li>
                <li>Who holds the buyer&rsquo;s deposit in escrow and when does it become nonrefundable?</li>
                <li>What are the time frames after the agreement acceptance date especially for contingencies and close of escrow date?</li>
                <li>
                    What are the prorations for rents, taxes insurance, security deposits all of which should be split between the buyer and seller at close of
                    escrow?
                </li>
                <li>When will the title report be delivered and what is in it?</li>
                <li>What are the financing contingencies, including getting a new loan or assuming the existing one?</li>
                <li>
                    What are the due diligence time frames, including receipt of all books and records, rental agreements, operating statements, rent rolls,
                    personal property inventories, service contracts, utility information. ALTA survey, environmental reports, building plans, engineering
                    reports, or any recent appraisals? <i>As the buyer, you must receive all of those before the due diligence period begins.</i>
                </li>
                <li>What is the time frame to perform the pest control inspection?</li>
                <li>What is the time frames for the physical inspections of all interior and exterior spaces, including units and common area.</li>
                <li>Negotiated solutions to any discovered issues are included in the PSA.</li>
            </ul>

            <h4>Contingencies</h4>
            <p>
                Your attorney will be able to advise you about contingencies. Contingencies are provisions within a contract that give you recourse to cancel
                the deal in the event of unforeseen circumstances. A few examples of typical contingency statements include loan contingencies and due diligence
                contingencies.
            </p>
            <p>
                A loan contingency states that the sale is contingent on your qualifying for the loan. This gives you an out without loosing
                any of your earnest money should the lender refuse to finance the deal.
            </p>
            <p>
                One key point you should include in your PSA is to protect yourself by providing an open-ended out for any reason whatsoever within the first 30
                days of signing the contract. This initial period, also known as a &quot;free look&quot; or feasibility period, gives you the right to walk away
                from the deal for any reason at all, or for no reason at all. Once you are under contract, the 30-day period is the time for you to complete all
                phases of your due diligence. Any number of factors could arise that might cause you to change your mind. Whatever the reason, be sure to
                safeguard yourself with a free-look period. The seller may not always give you a full 30 days, but you should have a minimum of 15 days to
                perform your due diligence.
            </p>
            <p>
                See <a href="javascript:void(0)" (click)="onSeeRecommendedContingenciesListClick()" class="text-decoration-none">recommended contingencies
                    list.</a>
            </p>

            <h4>Price and Financing</h4>
            <p>
                When you write your offer, spell out precisely the purchase price of the property and the terms of the financing. If you agree to arrange new
                financing, spell out the maximum terms (for example, 5.75 percent, 25 years, 20 percent down). Then, if it turns out that, in good faith, the
                best loan you can find is at 6.25 percent, 20 years, 25 percent down, you need not complete purchase. You can walk away and obtain a return of your
                earnest money deposit. (But make your financing contingency seem reasonable to the sellers. As noted elsewhere, savvy sellers will not accept
                unrealistic contingencies. And the fewer the contingencies, the more certain your offer will close, the lower the price).
            </p>

            <h4>Earnest Money &amp; Feasibility Period</h4>
            <p>
                Base the size of your deposit on the amounts local sellers and realty agents think reasonable for the type of transaction you are entering.
            </p>
            <p>
                Keep in mind that a seemingly low deposit diminishes your credibility. A relatively high deposit bolsters credibility. For the best of both
                worlds, employ a low deposit strategy and rely on other factors to support your credibility as a buyer, such as current ownership of multiple
                properties, strong FICO credit score, high net worth, and personal integrity. But this tactic is not so easy to pull off. Ready cash persuades best.
            </p>
            <p>
                Example from the book, I made an offer for $1,100,000 with the standard 30-day feasibility period and 1/2 percent of the purchase price as
                earnest money matched with another 1/2 percent after the 30-day period when the earnest money goes hard, or becomes nonrefundable, and an additional
                60 day to close. These terms are not at all out of the ordinary and in fact would be considered reasonable and customary in that market.
            </p>

            <h4>Pre-closing Property Damage (Casualty Clause)</h4>
            <p>
                Most purchase agreements require the sellers to deliver a property to the buyer on the date of closing (or the date of possession) in
                essentially the same condition as it stood on the date the purchase agreement was signed. If the property suffers damage (fire, earthquake,
                vandalism, hurricane, flood) after the purchase contract has been signed, but before the closing, the seller must repair the property at their
                expense. Alternately, in the event of damage, the sellers may be allowed to terminate your purchase agreement and return the earnest money deposit.
            </p>
            <p>
                Also, you may not want contract language that gives sellers the right to return your earnest money and terminate the purchase agreement should
                they
                find themselves unwilling or unable to repair any property damage. Say you bargain hard and get the sellers down to a price of $335,000. After
                accepting your offer, they begin to harbor second thoughts. Then along comes another offer at $355,000. Mysteriously, the property suffers a
                $5,000
                fire. Now what will sellers do?
            </p>
            <p>
                They may drag their feet on repairs and claim problems settling with their insurer. Because they supposedly can&rsquo;t restore the property to
                its
                previous condition in time to meet the scheduled closing date, they cancel your contract and return your deposit. The sellers effectively used
                that
                casualty clause to shut you out of your bargain price.
            </p>
            <p>
                To eliminate unwanted seller withdrawals, set the right to cancel the contract as your option, not the option of the sellers. The contract could
                also
                impose financial penalties on the sellers for failure to repair - or set up an escrow repair credit to compensate for the amount of the damage.
            </p>
            <p>
                If you plan to use bank financing, the bank may refuse to close your loan until the damage has been satisfactory repaired. That puts you in a
                catch-22. You can&rsquo;t repair the property until after you close your loan, but the lender won&rsquo;t close your loan until after you have
                made
                the repairs. This type of problem doesn&rsquo;t occur often, but if you prepare for this risk ahead of time, you and your attorney can draft a
                causality clause that adequately protects your interests. (To resolve this issue with a lender, you might set up a $5,000 - or some other
                appropriate
                amount - repair escrow account).
            </p>

            <h4>Closing and Possession Date</h4>
            <p>
                Purchase agreements set dates for settlement and possession. When sellers (or buyers) strongly prefer a quick (or maybe delayed) closing date,
                that
                date can play role in negotiations. Because of a need for ready cash, the sellers might trade a lower price for a fast settlement. Or for tax
                reasons, the sellers may prefer to delay settlement for six months or more. Reasons vary, but as a smart negotiator, feel out the sellers on
                their
                preferred closing and possession dates. Then use this information to shape your offer. If you are willing to the sellers&rsquo; needs on this
                issue,
                they will more likely move closer to the price or terms, or both, that make the deal acceptable to you.
            </p>

            <h4>Property Condition</h4>
            <p>
                As added protection, include a property inspection contingency in your offer. Check out the property with one or more specialists who can assess
                the
                condition of the plumbing, heating and air conditioning, electrical system, roofing, and foundation. (Risks remain, as no inspector warrants
                condition).
            </p>
            <p>
                Your contingency clause can state that repair costs should not exceed some designated amount (say $5,000). Ideally, the sellers should pay these
                costs. But if you&rsquo;ve negotiated a bargain price, you might expect to pay them. If repair costs exceed your specified amount, your
                contingency
                clause should give you the right to cancel the purchase agreement and obtain a refund of your earnest money deposit. (Remember, when you present
                a
                firm, con-contingency offer to the sellers, along with a large earnest money deposit, your power to extract price and other concessions goes
                up).
            </p>

            <h4>Environmental Hazards</h4>
            <p>
                Heightened costs for environmental cleanups and extensive regulatory controls mean that your contract must address environmental hazards that
                could
                affect the property. Lead paint, asbestos, urethane formaldehyde, underground heating oil tanks, radon - and who knows what other dangers the
                Environmental Protection Agency may discover - can cost property owners thousands in remedial or replacement expenses.
            </p>
            <p>
                Include a contract clause as follows: &quot;Sellers warrant that the property complies with all current federal, state, or local environmental
                laws,
                rules, or regulations. Sellers agree to indemnify buyers for all required cleanup costs that shall be necessary to remedy environmental hazards
                that
                existed during the sellers&rsquo; period of ownership&quot;.
            </p>
            <p>
                This language only suggests, but it covers two main questions that you want answered:
            </p>
            <ol>
                <li>Is the property free of hazards?</li>
                <li>If hazards are discovered, who pays for the cleanup?</li>
            </ol>
            <p>
                Under federal law and many state laws, any owner of a property may be personally required to pay for environmental cleanup - even when that
                owner
                stands innocent of creating the hazard.
            </p>

            <h4>Default Clause</h4>
            <p>
                Your PSA agreement default clause should spell out what happens if you or the seller fail to carry through the terms of your PSA. These clauses
                address at least four areas:
            </p>
            <ol>
                <li>
                    <strong>Method of Resolution:</strong> Many people are quick to file a lawsuit when another party breaches an agreement. If you pursue a
                    lawsuit,
                    you will probably loose even if a court&rsquo;s decision goes in your favor. Other options for resolution include mediation and arbitration.
                </li>
                <li>
                    <strong>Damages:</strong> A party who breaches a real estate contract may be held liable for either compensatory damages or liquidated
                    damages.
                </li>
                <li>
                    <strong>Specific Performance:</strong> In addition to a claim for damages, some contracts give buyers (and less frequently, sellers) the
                    right to
                    seek specific performance. For example, a court could order defaulting property owners to sell their property on the terms specified in your
                    purchase contract.
                </li>
                <li>
                    <strong>Who Bears the Expenses?</strong> Whether you pursue mediation, arbitration, or litigation, the dispute resolution process can easily
                    run
                    up thousands (or tens of thousands) of dollars in costs and expenses. Therefore, look to your purchase contract to see what it says about
                    who
                    pays. Even though today we hear about &quot;looser pays&quot; types of laws and contract terms, accept such a clause only after you think
                    through
                    its potential adverse results. Lawyers lose many cases in which their clients are in the right. Judges may rely on their biases rather than
                    on
                    the weight of the evidence. If the other side can easily spend more money than you, they can higher a better lawyer to overwhelm and
                    intimidate
                    you and your lawyer.
                </li>
            </ol>

            <h4>Names of the Parties</h4>
            <p>
                Ideally, all of the named property owners should sign your offer as soon as you&rsquo;ve reached agreement. Do not negotiate with a seller whose
                co-owner spouse or partners do not join the negotiations. Later on, if they don&rsquo;t sign, you lose that deal and you&rsquo;ve wasted time
                and effort.
            </p>
            <p>
                <u>Make sure you list your LLC's name that you formed for holding this property and not your name on PSA.</u> In case if seller sues you, you're not
                personally liable, LLC is liable and seller can go after only LLC's assets. And since that LLC will have no assets seller will not be able to get
                anything. For example, you went over due dates on your contingencies in the PSA and you didn't close, you'll lose your earnest money, but let's say
                during that time property value went down, seller can sue you for loss in property value. You held up his property for some time
                during which seller could not sell it to someone else, you didn't close, and property value went down, now seller can not sell it for original,
                higher, price.
            </p>

            <h4>Summary</h4>
            <p>
                Your contract negotiations will involve multiple deal points. Especially hold in the front of your mind these primary issues:
            </p>
            <ul>
                <li>Does the contract include the names and signatures of all buyers and sellers?</li>
                <li>Are the site boundaries accurately delineated?</li>
                <li>Are the building and other site improvements adequately identified and described?</li>
                <li>
                    Does the contract or contract addendum lists all personal property and fixtures included in the sales price? Should you ask the sellers to
                    prepare a separate bill of sale for these items? Does the seller hold clear title to all the personal property that is to be conveyed?
                </li>
                <li>
                    Have the sales price, term, and financing contingency been spelled out so precisely that a disinterested third party could unambiguously
                    interpret the agreement?
                </li>
                <li>
                    What is the amount of the earnest money deposit? Under what conditions will it be returned to the buyer?
                </li>
                <li>
                    What type of deed must the seller use to convey title to the property? Is the title free of encumbrances? If not, what liens, easements,
                    encroachments, or other encumbrances cloud the title? Is the title insurable? What exceptions apply?
                </li>
                <li>
                    What is the condition of the property? Have you obtained adequate seller disclosures and professional inspections? Have you negotiated an
                    escrow credit for repairs?
                </li>
                <li>
                    Who bears liability for pre-closing casualty losses? Under what conditions can the buyer (or seller) terminate the sales contract as the
                    result of pre-closing casualty losses? Who has responsibility for pre-closing repair or replacement of systems and appliances?
                </li>
                <li>
                    What settlement costs are to be paid by the sellers? The buyers?
                </li>
                <li>
                    What are the date of closing and possession?
                </li>
                <li>
                    Have you examined all leases that apply to the units occupied by tenants? Has the present owner of the property entered into side agreements
                    with any of the tenants? Have you confirmed with the tenants the rental information provided by the sellers? Have you identified the
                    tenants&rsquo; personal property? Although leases provide legal recourse, tenant quality ranks just as important (if not more so). What
                    qualifications, character, and cooperativeness do the tenants display?
                </li>
                <li>
                    How many contingency clauses have you included in your offer? Are your contingencies consistent with the negotiation strategy you have
                    adopted?
                </li>
                <li>
                    Have you protected yourself against environmental hazards that may require expensive cleanup costs? What methods of dispute resolution are
                    provided by your offer? What types of default remedies are available to you and the sellers? Who pays the costs?
                </li>
                <li>
                    Do you support your requests and positions with credible reasons, benchmarks, and evidence? If you ask for a lower price or seller terms,
                    tell why. How will the seller benefit?
                </li>
            </ul>
        </div>
    </div>
</div>
