<div class="row my-4">
    <div class="col-xl-2">
        <div class="card shadow">
            <div class="card-body text-center">
                <h2 class="mb-2">{{rentRollSummary.totalNumberOfUnits}}</h2>
                <h6 class="text-uppercase text-muted">Units</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card shadow">
            <div class="card-body text-center">
                <h2 class="mb-2">{{rentRollSummary.vacancyRate}}%</h2>
                <h6 class="text-uppercase text-muted">Vacancy Rate</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card shadow">
            <div class="card-body text-center">
                <h2 class="mb-2">{{rentRollSummary.averagePercentOfMarketRent}}%</h2>
                <h6 class="text-uppercase text-muted">Avg. % of Market Rent</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card shadow">
            <div class="card-body text-center">
                <h2 class="mb-2">{{rentRollSummary.averageContractRent | currency}}</h2>
                <h6 class="text-uppercase text-muted">Avg. Contract Rent</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card shadow">
            <div class="card-body text-center">
                <h2 class="mb-2">{{rentRollSummary.averageMarketRent | currency}}</h2>
                <h6 class="text-uppercase text-muted">Avg. Market Rent</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card shadow">
            <div class="card-body text-center">
                <h2 class="mb-2">{{rentRollSummary.totalActualMonthlyIncome | currency}}</h2>
                <h6 class="text-uppercase text-muted">Total Income</h6>
            </div>
        </div>
    </div>
</div>
