<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Real Estate CPA</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    A great CPA is vital in your real estate investing business, he will help you choose the best tax-saving strategy for buying and holding
                    your properties. Find CPA who specializes in real estate.
                </p>
                <h4>Interview Questions</h4>
                <p>
                    Before interviewing verify CPA license online.
                </p>
                <ul>
                    <li>How long have you been doing real estate accounting?</li>
                    <li>Are you primarily a real estate CPA?</li>
                    <li>What percent of your work is related to multifamily (5 and up units buildings)?</li>
                    <li>How does your billing work?</li>
                    <li>
                        How much does your services cost?
                        <ul>
                            <li>Annual business entity tax filing fees</li>
                            <li>How much does consultation cost?</li>
                        </ul>
                    </li>
                </ul>
                <p>
                    <a href="/assets/team/cpa-interview-questions.docx" target="_blank" class="text-decoration-none">Download interview questions</a>.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>