<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Create New Account</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>

<form [formGroup]="registrationForm" (ngSubmit)="onRegistrationFormSubmit()" novalidate>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row mb-3">
                <label for="firstName" class="col-xl-4 col-form-label">First Name<span class="text-danger">
                        *</span></label>
                <div class="col-xl-8">
                    <input formControlName="firstName" type="text"
                        [ngClass]="{'is-valid': !firstName.invalid && (firstName.dirty || firstName.touched), 'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched)}"
                        class="form-control" id="firstName" placeholder="First Name">
                </div>
            </div>

            <div class="row mb-3">
                <label for="lastName" class="col-xl-4 col-form-label">Last Name<span class="text-danger">
                        *</span></label>
                <div class="col-xl-8">
                    <input formControlName="lastName" type="text"
                        [ngClass]="{'is-valid': !lastName.invalid && (lastName.dirty || lastName.touched), 'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched)}"
                        class="form-control" id="lastName" placeholder="Last Name">
                </div>
            </div>

            <div class="row mb-3">
                <label for="email" class="col-xl-4 col-form-label">Email<span class="text-danger"> *</span></label>
                <div class="col-xl-8">
                    <input formControlName="email" type="email"
                        [ngClass]="{'is-valid': !email.invalid && (email.dirty || email.touched), 'is-invalid': email.invalid && (email.dirty || email.touched)}"
                        class="form-control" id="email" placeholder="Email">
                </div>
            </div>

            <div class="row mb-3">
                <label for="password" class="col-xl-4 col-form-label">Password<span class="text-danger">
                        *</span></label>
                <div class="col-xl-8">
                    <input formControlName="password" type="password"
                        [ngClass]="{'is-valid': !password.invalid && (password.dirty || password.touched), 'is-invalid': password.invalid && (password.dirty || password.touched)}"
                        class="form-control" id="password" placeholder="Password">
                    <div *ngIf="(password.touched || password.dirty) && password.errors?.minlength" class="invalid-feedback">Password must be at least 5
                        characters
                        long.</div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="confirmPassword" class="col-xl-4 col-form-label">Conf. Password<span class="text-danger">
                        *</span></label>
                <div class="col-xl-8">
                    <input formControlName="confirmPassword" type="password"
                        [ngClass]="{'is-valid': !confirmPassword.invalid && !registrationForm.errors?.noMatch && (confirmPassword.dirty || confirmPassword.touched), 'is-invalid': (registrationForm.errors?.noMatch || confirmPassword.invalid) && (confirmPassword.dirty || confirmPassword.touched)}"
                        class="form-control" id="confirmPassword" placeholder="Confirm Password">
                    <span *ngIf="(confirmPassword.touched || confirmPassword.dirty) && registrationForm.errors?.noMatch" class="invalid-feedback">Password does
                        not
                        match the confirm password.</span>
                </div>
            </div>

            <div class="row" *ngIf="success">
                <div class="col-xl-12">
                    <div class="alert alert-success" role="alert">
                        <span class="fas fa-exclamation-circle me-2"></span>
                        Please check your email and confirm your email address.
                    </div>
                </div>
            </div>

            <app-error-summary [validationErrorResult]="validationErrorResult" [serverError]="serverError">
            </app-error-summary>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" [disabled]="registrationForm.invalid || isProcessing" class="btn btn-primary">
            {{ (isProcessing ? 'Processing...' : 'Register') }}
        </button>
    </div>
</form>