<div class="container-xxl">
    <div class="row mt-4 mb-3">
        <div class="col-xl-12">
            <div class="page-header">
                <h1>Cost Segregation</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <p>
                Cost segregation is an important component of any discussion on depreciation and is an extremely important tool in enhancing the value of any
                real estate investment.
            </p>
            <p>
                Why is depreciation magic? Because this is a deduction that the IRS gives to you without requiring you to put in any cash. Your property can
                rise in value, and you still get a deduction for depreciation. Of course, depreciation is simply a deduction for the cost of a building and its
                contents over a period of time. The idea in the tax law is that you will have wear and tear on the building, so you should be able to deduct the
                cost of building as that wear and tear occurs.
            </p>
            <p>
                Part of the magic comes because you don’t have to pay for all of the building. The bank will pay for 80 percent of it. And your tenants pay bank
                with their rent. Even though the bank is paying for most of the building, you get 100 percent of the depreciation deduction. In essence, get the
                bank’s depreciation.
            </p>
            <p>
                Pretty cool deal, huh?
            </p>
            <p>
                Well, it gets even better with a cost segregation. While you may get a deduction for depreciation equal to anywhere from 2.5 to 3.6 percent for
                the cost of the building each year, you can get an even higher depreciation deduction if you do a cost segregation. So, let's talk about what a
                cost segregation is, and how you do it.
            </p>
            <p>
                Think about what you actually purchased when you bought your building. You purchased land and a building, of course. But you also purchased the
                contents of the building, such as the lighting, flooring, cabinetry, and window coverings, as well as the land improvements. Your improvements
                include the landscaping, outside lighting, fencing and red parking spaces. The IRS has determined that the contents and the improvements will
                wear out more quickly than the building itself. So, get a higher depreciation deduction for these items than you do for the building itself. Of
                course, even the IRS understands that land doesn't wear out, so you don't get a depreciation deduction at all for the cost of land.
            </p>
            <p>
                So how does cost segregation work? It's pretty simple, actually. You merely have to determine what portion of your purchase price you paid for
                the land, the building, the contents, and the land improvements. While you get a depreciation deduction of 2.5-3.6 percent for the building, you
                get a depreciation deduction of 15-20 percent or more for the contents and 5-10 percent for the land improvements. Some commercial buildings
                will end up with 50-60 percent of the cost of the project being allocated to contents and land improvements, creating much more depreciation in
                the early years of ownership.
            </p>
            <p>
                When I talk about cost segregations to a group of real estate investors, I invariably get comments that many of their CPAs don't like cost
                segregations. They say they are risky. They also talk about the downside to a "recapture." What these CPAs are really saying is that they are
                lazy. Cost segregations take work. But let's discuss these, objections one at a time.
            </p>
            <p>
                First, let's address the idea that cost segregations are risky, aggressive, or even that they are not allowed. The IRS has an audit guide that
                specifically addresses how to handle cost segregations and what the IRS requires in a cost segregation. Obviously, they are allowed. In fact, by
                definition in the tax law, they are required. The IRS just doesn't enforce this requirement. Let me explain.
            </p>
            <p>
                When you do a cost segregation on a building that you acquired several years ago (yes, you can even do one years after you purchased the
                building—which is good news if you're one of the folks who got bad advice from your accountant about doing a cost segregation), the change in
                depreciation is called a change in accounting method.
            </p>
            <p>
                There are two types of changes of accounting methods. The first is a change from one acceptable method of accounting to another (like changing
                from the cash method to the accrual method of accounting). The second is a change from an incorrect method to a correct method of accounting.
                Cost segregations are this second type. This, by definition, means that not doing a cost segregation is an incorrect accounting method.
            </p>
            <p>
                Still, you must do it the way the IRS instructs you to in its audit guide. <u>It requires that you either use a CPA or an engineer to do the
                    cost segregation for you.</u> So just estimating the cost of the contents and land improvements won't fly. At my CPA firm, ProVision, when
                we do cost segregations for our clients, we use both a CPA and an engineer.
            </p>
            <p>
                The other primary objection to a cost segregation is recapture. Depreciation recapture can occur when you sell the building. Portions of the
                depreciation you took could be added back into your income when you sell, the property How is this bad? You received a deduction for the
                depreciation early and then paid back some of the taxes you saved later on. It's not so different from a pension, profit-sharing plan, or
                401(k), except that, unlike these plans, you will never have to pay back all of the depreciation because contents and land improvements really
                do wear out. So when you sell the building, those things will be worth less than what paid for them, and a smaller portion of the sales price
                will be allocated these items.
            </p>
            <p>
                You can also avoid depreciation recapture in total with good tax planning combined with a good wealth strategy. You can avoid recapture doing a
                proper 1031 exchange (also called a "like kind" or "Starker exchange").
            </p>
            <p>
                So don't be afraid of doing cost segregations. In fact, you should embrace them. Do them on all of your properties and you will pay far less in
                the way of taxes. And if you are a serious real estate investor, cost segregations could, and should, result in you never paying taxes on your
                rental income. Combined with a 1031 exchange strategy, this means that a good investor should never pay taxes on his or her rental income or on
                gains from rental real estate. This is the best tax advantage in the entire tax law. Don't let it pass you by just because you have a lazy or
                fearful accountant.
            </p>

            <h4>Cost Segregation in Action</h4>
            <p>
                As was just explained, cost segregation enables you depreciation from each of the components that relate to the and maintenance of a building.
                These may include ceilings and roofs, HVAC systems, bathroom fixtures like tubs and sinks, stairs, doors, floors, landscaping, and paving.
            </p>
            <p>
                Let's take an example from the U.S. Tax Court case of Hospital Corporation of America v. Commissioner to illustrate how this works, and why cost
                segregation can have greater benefits to you than a simple building depreciation. The Tax Court permitted Hospital Corporation to use the cost
                segregation technique on building improvements.
            </p>
            <p>The company could depreciate these components over a 5-year life span:</p>
            <ul>
                <li>Accordion doors and partitions</li>
                <li>Carpeting</li>
                <li>Conduit, floor boxes and power boxes</li>
                <li>Electrical wiring relating to internal communications</li>
                <li>Kitchen wall pipes and steam lines</li>
                <li>Patient corridor handrails</li>
                <li>Primary and secondary electrical distribution systems</li>
                <li>Vinyl wall and floor coverings</li>
                <li>Wiring and related property items in the laboratory and maintenance shop, as well as other wiring and related property</li>
                <li>Wiring to television equipment</li>
            </ul>
            <p>
                The rest of the building, since it was a commercial property, was depreciated over 39 years. These elements included the following:
            </p>
            <ul>
                <li>Acoustical tile ceilings</li>
                <li>Bathroom accessories and mirrors</li>
                <li>Branch electrical wiring and communications special equipment</li>
                <li>Overhead lights</li>
                <li>Steam boilers</li>
            </ul>
            <p>
                Without cost segregation, or the application of component depreciation, the building would be subject to "straight-line depreciation", in which
                the value of the building or structure is divided by the term of depreciation (27. 5 years for residential; 39 years for commercial) to arrive
                at your rate of annual depreciation. Know that such rate will remain constant for the ration of the 27.5 or 39 years, whichever standard
                applies.
            </p>
            <p>
                Here's a basic formula for calculating the value of personal property, as well as a building or structure:
            </p>
            <ol>
                <li>
                    <strong>Determine the value of the land.</strong> Begin with the purchase price of the property, and then contact your tax assessor for a
                    statement of value for the land and building. The statement will indicate the ratio of the land value to the building value. You'll apply
                    that ratio to the actual purchase price to determine the actual value of the land in relation to the building. (Note: Some accountants use a
                    simple 20-80 rule, in which 20 percent is land value and 80 percent is building, but I recommend a more authoritative, precise approach if
                    possible).
                </li>
                <li>
                    <strong>List the items of personal property and assign values to each.</strong> Hopefully, you have an appraiser among your advisory team
                    members—it's a good idea to turn to this person for help with this task. A word of caution here: The IRS is likely to be skeptical of a tax
                    return in which personal property accounts for more than 30-40 percent of a building's value.
                </li>
                <li>
                    <strong>Subtract the value of the land and personal property from the purchase price to arrive at the structure's value.</strong> At this
                    point a cost segregation study will appoint costs to either structure or personal property (components).
                </li>
            </ol>
            <img src="../../../../../assets/cost-segregation/cost-segregation-example.jpg" class="img-fluid img-thumbnail float-left me-3 mb-1" />
            <p>
                To illustrate this point, the personal property depreciation in my early example in this chapter about the $450,000, five-unit apartment
                building $15,000, while building depreciation was $10,909. This "phantom deduction" (deduction on depreciation, which is neither tangible nor an
                asset) meant a paper loss of $7,523 and an ultimate tax savings of $2,540 against your other income. All this together is what makes real estate
                investment lucrative.
            </p>
            <p>
                There are other instances in which your cash-on-cash return could be eased. In the case of an interest-only loan, in which your entire debt
                service payment is interest, the entire payment is deductible, which then increases your return. Additionally, by reducing your down payment -
                say, from 20 percent to 10 percent - this would also increase your rate of return.
            </p>
            <p>
                As you can see, there are a lot of ways to analyze and affect the numbers to suit your unique situation. Talk to your CPA about the possible
                strategies that you could use, or what suits your needs best to achieve the results you want.
            </p>
        </div>
    </div>
</div>