<div class="container-xxl">
    <div class="row mt-4">
        <div class="col-xl-12">
            <div class="page-header">
                <h1>Submitting Your Offer</h1>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-xl-12">
            <h4>Offering on a Property on the MLS</h4>
            <p>
                When you want to offer on a property currently listed on the MLS, you need to go through a real estate agent. Typically, one agent will
                represent the seller and another will represent the buyer, but the seller will pay the commission for both agents. In other words, a real estate
                agent is typically free for the buyer (you!). Therefore, your first step in offering on a deal on the MLS will be to find a real estate agent to
                work with.
            </p>
            <p>
                Yes, you can use the same agent who is selling the property. <u>In fact, some investors like to work this way, because the agent is incentivized
                    to encourage their client to take your offer, because they would make double the commission.</u> The downside to this, however, is the
                inherent conflict of interest present when the listing agent, who is morally bound to get the seller the highest price possible, is also working
                for you. Some states, in fact, make this practice illegal as a result. <u>I recommend using the same agent (known as "dual agency") only if you
                    are an experienced investor and don't need any advice from the agent.</u>
            </p>
            <p>
                Once you have your agent, offering on a property can be a quick process. The agent will walk you through each step using the forms supplied by
                the local MLS. You'll need to check the boxes, sign on the right lines, and send the offer off with your agent to deliver (electronically, most
                likely) to the seller. Most agents can do the entire offer process online, but I recommend sitting down with your agent if you are just getting
                started with real estate and having them walk you through each step of the process.
            </p>
            <p>
                Once the offer has been sent off, you just need to wait for the seller to respond.
            </p>

            <h4>Offering on a Property Not Listed on the MLS</h4>
            <p>
                If you are buying a property that is not listed on the MLS, you will probably not be using a real estate agent. While this can seem
                intimidating, this happens all the time, and although an agent won't be there to hold your hand, you'll get through it just fine!
            </p>

            <h4>The Earnest Money Deposit</h4>
            <p>
                The earnest money deposit, also known as a good faith deposit or simply earnest money, is money provided by the buyer when an offer is submitted
                as a way of showing the seriousness of the offer. This deposit is essentially the buyer saying, "Look, I really want to buy this property, and
                I'm putting my money where my mouth is."
            </p>
            <p>
                The earnest money is pledged, and should the buyer not fulfill his end of the contract, the seller can keep the money. Yes, you can lose your
                earnest money! However, there are certain conditions that allow you to back out without losing it.
            </p>

            <h4>How Much Is the Earnest Money Deposit?</h4>
            <p>
                The amount of earnest money supplied depends greatly on the price of the property and the person from whom you are buying the property. For
                example, the earnest money on a $40,000 house will probably be far less than the earnest money on a $1,000,000 apartment complex. Although there
                is no hard and fast rule that governs the amount required, most earnest money deposits tend to be 1% to 2% of the purchase price.
            </p>
            <p>
                Because the seller gets to keep the earnest money if the buyer backs out without a legitimate reason (which we'll talk about in a moment), the
                higher the earnest money deposit, the better the chance that your offer will be accepted. <u>That said, when dealing with motivated sellers, the
                    earnest money becomes much less "normal," because the seller generally doesn't know or care much about the amount. Some investors simply
                    make the earnest money $1.00, and most private sellers don't seem to notice or mind.</u>
            </p>

            <h4>Who Holds On to the Earnest Money Deposit?</h4>
            <p>
                The earnest money should not be given directly to the seller. Instead, this money is usually held by a third party, most likely the title
                company or attorney who is handling the closing. This ensures that the rules that govern what happens to the earnest money are followed. This is
                most commonly done when the contract has been accepted and signed by both parties, not before. If you are working with a real estate agent, your
                agent will mostly likely tell you when and where to drop off the earnest money check.
            </p>

            <h4>What Happens to the Earnest Money?</h4>
            <p>
                So what exactly is the earnest money used for? What ultimately happens to it? There are three possible scenarios that could play out, depending
                on how the deal is done (or not done).
            </p>
            <ol>
                <li>
                    If the sale goes through, the earnest money becomes part of the cash the buyer would be required to bring to closing. For example, if your
                    down payment plus closing costs came to $50,000, but you gave a $2,000 earnest money deposit, you would only be required to bring $48,000 to
                    the closing table, as directed by the title company or attorney who closes the sale.
                </li>
                <li>
                    If the sale does not go through, and the buyer does not have a legal reason to back out, then the deposit is forfeited to the seller, and
                    the seller receives the deposit.
                </li>
                <li>
                    If the sale does not go through, and the buyer does have a legal reason to back out, the deposit is returned to the buyer.
                </li>
            </ol>

            <p>
                So what are these "legal reasons" I have mentioned?
            </p>
            <p>
                Most contracts, real estate or otherwise, contain certain provisions that outline conditions in which the contract could be terminated. These
                provisions are known as "contingencies." In other words, the property sale is contingent on some specifically listed things. These are legal
                loopholes that allow you to not follow through on your contract, should one of those contingencies happen to occur.
            </p>

            <h4>Why Would You Back Out of the Offer?</h4>
            <p>
                In other words, as we discussed earlier in this chapter, what are the contract contingencies? Can the buyer back out if they can't obtain
                financing? What if they find some surprise problems during the inspection, like asbestos in the attic or plumbing that hasn't worked in a
                generation? What if the house appraises for far less than what was offered? Make sure your P&S document spells all this out.
            </p>

            <h4>How Will This All Happen?</h4>
            <p>
                In other words, the contract should spell out the exact process by which the sale will proceed. This includes all the small print that helps the
                title company or attorney know exactly how to move forward with the sale.
            </p>

            <h4>How Much Should You Offer?</h4>
            <p>Now for the difficult question: how much should you offer?</p>
            <p>
                Some investors choose to submit a lot of lowball offers, hoping something, somewhere pans out. Others choose to give their highest and best
                offer up front. Still others find room in the middle. Each of these techniques have a time and place, but each individual deal will dictate the
                kind of offer you should submit.
            </p>
            <p>
                <u>For example, if the home has been sitting on the market for a long time, and you have a good indication that the seller is eager to sell,
                    there is no real danger in submitting a lowball offer to see what happens. However, if you are in a competitive market and a new listing
                    hits the MLS at a great price and you know that it's going to sell quickly, you may want to cut out the chase and simply offer your highest
                    amount, right then and there. Sometimes, you may even need to offer more than the asking price.</u>
            </p>
            <p>
                The transaction for a triplex I recently purchased went exactly that way. The big, ugly, purple triplex REO hit the market at $70,000, and I
                knew just by the photos that this thing would go quickly. It needed some work, but the property was in overall great shape and would bring in
                almost $2,000 per month in income. Within hours of the home hitting the MLS, I submitted a bid of $72,000 for the property, wanting to be the
                first and assuming that any other offers would be full priced but that few would go over. I was right, and today, this property is one of my
                highest cash flow deals. Had I tried to lowball the seller with a $50,000 offer, they would have laughed at me and moved on to another
                interested party. But for me, even at $72,000, the numbers worked great. And that's key! The numbers worked at $72,000. I would never pay more
                than asking price just to win a bid if the numbers didn't pencil out, and you shouldn't either, unless you have some dramatic future reason for
                doing so.
            </p>
            <p>
                Another property, which I mentioned earlier in this book, I walked through a home on the MLS, and the seller was home, so we struck up a
                conversation. She was trying to move to California, and the house, which she could not take care of, was the only thing keeping her from doing
                so. She was eager to go be with the rest of her family and just wanted out. The seller was asking $30,000 for the piece-of-junk property, but
                because of the condition, I didn't expect any other investors to be pounding down her door. It was only a mediocre deal. I offered her $16,000
                for the property and told her I could close in two weeks. She took it.
            </p>
            <p>
                As you can see from these two examples, I submitted an offer on both these properties the day they were listed, yet my strategy was different
                for each. The motivation was different, as was the relative price. These are just a few nuances in the real estate game that you'll master
                quickly once you start making offers. Never assume that the offer process is always black and white, and keep your eyes open to cues that will
                help you make a solid offer with the best chance of being a win-win for all parties involved.
            </p>
        </div>
    </div>
</div>