<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Rent Roll</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    The rent roll is a list of all current tenants, their rental amount, and other information (such as move-in date and lease term length). In
                    essence, it’s a summary of what you’ll hopefully find in their leases, but double check that anyway. Make sure the numbers add up to what
                    you think they should.
                </p>
                <p>Look for:</p>
                <ul>
                    <li>Make sure rental rate from rent roll match the numbers in income statement and lease.</li>
                    <li>Security deposits amount match what&rsquo;s on balance sheet.</li>
                    <li>
                        Most complexes collect rents at the beginning of the month. An inspection of the Date Paid column on the rent roll will quickly tell you
                        whether rents are, on average, being collected when they are due. If they are not, this could very well be indicative of underlying
                        problems
                        within the management organization. The timely and efficient collection of rents is crucial in meeting your cash-flow needs. An
                        affective
                        manager will require strict enforcement of collections and may be willing to proceed with the eviction process if necessary. Poor
                        collection
                        of rents may provide you with an opportunity to create value, but remember: the price you pay for the apartment complex should reflect
                        the
                        value of the property as it is <i>currently operating</i>, not what it would be if all of the rents were being collected. This will also
                        show
                        quality of residents in each unit - Do they pay on time? Are they creating problems for other residents?
                    </li>
                    <li>Actual potential income and future potential income.</li>
                    <li>
                        Compare property rents with market rents for similar properties in the same area. Use rentometer.com, go to apartments.com, zillow.com
                        see
                        what everyone else is charging, ask property management company.
                    </li>
                    <li>
                        Take a hard look at every unit that is under the market rent. This is your golden egg that will create an increase in your cash flow
                        after you purchase the property. Take detailed notes for management plan and operating budget.
                    </li>
                    <li>
                        Compare vacancy rate on rent roll with market vacancy rate provided by the property manager, real estate agent, commercial banker on
                        your
                        team. If vacancy rate on rent roll is higher than market vacancy rate, work with the property manager on what improvements can be done
                        to
                        lower it. Be cautious if vacancy rate on rent roll is significantly lower than market vacancy rate. Find out why. Low vacancy, compared
                        to
                        others in the market, could mean that rents are below the market. Then your plan is to buy this property at the current income stream
                        and
                        raise rents to market rents on leas renewals.
                    </li>
                </ul>

                <p>A good rent roll or rent schedule will provide most of the data:</p>
                <ul>
                    <li>Unit Number</li>
                    <li>Tenant&rsquo;s Name</li>
                    <li>Floor Plan - for example, two bedroom, two bath</li>
                    <li>Apartment Square Footage</li>
                    <li>Scheduled Rent</li>
                    <li>Collected Rent</li>
                    <li>Other Income - any other income collected from utilities, application fees, late fees etc</li>
                    <li>Total Paid</li>
                    <li>Date Paid</li>
                    <li>Comments - notes such as &quot;new move-in&quot; or &quot;gave 30-day notice&quot;</li>
                    <li>Turnover Ratio</li>
                    <li>Vacancy Rate</li>
                </ul>
                <p>
                    <a href="/assets/due-diligence/pre-offer/rent-roll.pdf" target="_blank">Download rent roll sample</a>
                </p>
                <p>
                    By closely studying the rent rolls, you should be able to assess the <i>stability of the property</i>. Stability of the property implies one
                    where there is minimal or normal turnover. The turnover rate is calculated by dividing the number of units vacated over a period of time by
                    the
                    total number of units.
                </p>
                <ul class="list-style-none">
                    <li>26 move-outs &divide; 100 units = 26% annual turnover rate</li>
                </ul>
                <p>
                    In a 100-unit complex, for example, normal turnover might range from 1 to 5 move-outs per month, with 5 being on the high side. Low turnover
                    suggests that the tenants are happy and content with their overall living accommodations. If they were not, they would move. If they moved,
                    the
                    turnover rate would be higher. If the turnover rate were higher, the property would not be as efficient, because higher turnover results in
                    higher make-ready costs, higher maintenance costs, and higher advertising costs. A close examination of the rent roll will tell you exactly
                    how
                    many people are moving in and out each month.
                </p>
                <p>
                    Make sure turnover expense is included in case when units need to be brought up to the acceptable standards. Following is the example story
                    related to the turnover expense:
                </p>
                <ul class="list-style-none">
                    <li>
                        Afterward, Richard and I reviewed our notes and both determined the 36-unit would require considerable work to bring it up to our
                        standards.
                        $128,595 to bring the 36-unit building up to acceptable standards. This figure did not even allow for the tenant turnover that would
                        surely
                        occur. For a project like this, I would estimate a turnover ratio of 75 percent, or 27 out of the 36 units. For every tenant that moved,
                        I
                        would incur a make-ready expense and also a loss of rents. On average, this would be about $1,000. This number was higher than normal
                        because
                        of the extensive work required on the interiors of the units. So I could add another $27,000 to the cost of the project, bringing the
                        total
                        up to $155,595, or $4,322 per unit. At the price I was paying for the apartment complex, there would be very little upside potential
                        left, if
                        any, by the time I invested the additional money for the required capital improvements.
                    </li>
                </ul>
                <p>
                    Remember example above when searching for your own value-play opportunities. Limit your selection to those properties that need minimal
                    work,
                    primarily aesthetic in nature. Avoid properties like 36-unit buildings that require extensive and costly repairs. If you do decide to assume
                    the
                    additional risk associated with such properties, it needs to be reflected in the price. As a value-player, you are seeking to maximize the
                    return
                    on your investment. You are not in the charity business. Do not allow yourself to be persuaded into buying these kinds of deals unless the
                    seller
                    is willing to offer you additional incentives.
                </p>
                <p>
                    High occupancy rate is usually, but not always, indicative of a well managed property, a tight rental market, below market rents, or a
                    combination of the three. A proficient manager will work hard to keep the units fully occupied.
                </p>

                <h4>Other</h4>
                <p>
                    You have to know the marketplace. When you are looking at the schedule of rents, you have to know how they fit into marketplace in that
                    location. Are the rents below, above, or at the market rents? Analyzing a building is completely useless unless you can place it into
                    context of
                    the marketplace. For example, I'm looking at the fourplex where rent is $600 per unit, however, similar units in the similar building in
                    that
                    marketplace rent for $475 per unit. So the question is what is so special about this building where units in it get $600 whereas everybody
                    else
                    gets $475? Are you really going to get that? Just because current landlord got lucky to get $600, does not mean you will once current tenant
                    moves out and new one moves in. On the other hand, fourplex units rent at $600 and similar units in the similar buildings in that market
                    rent for
                    $800. Is that valuable? You bet, because you want to buy based on the current income. If you can negotiate price based on the current income
                    and
                    then push the income up, then good for you.
                </p>
                <p>
                    Let&rsquo;s say you verified the building is really getting $600 per unit in the market of $475 per unit. The issue is in the end it is
                    probably
                    some kind of anomaly that happening there and in the long run you probably going to end up loosing out because in the future those rents
                    will
                    probably comedown to meet the market rents.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>