<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Lender Required Property Appraisal</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    You need to monitor and talk to the appraiser to make sure: he has the proper information such as the most up to date rent roll; pending
                    transactions, the most recent lease and sale comparables, any additional income that the property is generating and anything else that will
                    enhance the value of the property.
                </p>
                <p>
                    Although many of the appraisers do not wish to speak with the borrower, it is necessary to make that initial contact with them to make sure
                    that
                    you&rsquo;re not going to get &quot;short-changed&quot; on the appraisal, because they weren&rsquo;t provided all they could have been to
                    increase the value of the appraisal.
                </p>
                <p>
                    If you are not being proactive with the appraiser and let the appraisal process go on &quot;auto-pilot&quot;, you run a high chance of
                    getting a
                    lower appraisal and therefore less desirable loan amount and potentially higher down-payment amount.
                </p>

                <p>
                    Appraisers incorporate unverified secondhand data, appraisers often err in fact and interpretation. Accept an appraisal report as
                    for-what-it&rsquo;s-worth information. Always verify the appraiser&rsquo;s comp property data before accepting it.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>