<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Physical Inspection</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Just as you can’t judge a book by its cover, you also would be wise to avoid judging a property by its paint job. Below the surface of your
                    property lies incredible amounts of risk that if not discovered in advance could cause immense financial loss later on. Therefore, the
                    physical inspection of the rental property you are about to purchase is one of the most important steps in the entire due diligence process.
                </p>
                <p>
                    Speed is critical at this point, because you’ll likely only have a week or so (depending on the details both parties signed in the P&S
                    agreement). After the inspection, the inspector may take a couple of days to get their final report back into your hands, and you may need a
                    day or two to think about what to do, so the moment you get the property under contract, the clock is ticking! <u>I would try to get the
                        inspector onto the property within four days of mutual acceptance.</u>
                </p>

                <h4>The Day of the Inspection</h4>
                <p>
                    <u>If possible, make sure the power, water, and all other utilities for the property are turned on before the inspection. If there is no
                        water, how can the inspector check for leaks? If there is no electricity, how can he or she tell which lights work and which don’t?</u>
                </p>
                <p>
                    After hiring the inspector, you or your agent will schedule a time for the inspector to look at the prospective property. <u>Although you do
                        not need to be present for the inspection, I highly recommend that you are.</u> You are paying for the inspection anyway, so get your
                    money’s worth! Walk, crawl, climb, and touch every inch of the property as the inspector does, asking questions along the way. By doing
                    this, you will be able to get a better idea of exactly what is wrong with the property so you can make the best decision on what you
                    want to do with the problems you find. You may get a 30-page (or longer!) report from the inspector, but it can be hard to tell from a
                    written description how bad something really is. The report may say something scary like “illegal and dangerous wiring in bedroom two,”
                    but without being there to ask more questions, you might not realize the issue is simply two wires being mixed up in the light fixture—a
                    30- second repair!
                </p>

                <h4>What Does the Inspector Look For?</h4>
                <p>
                    Everything! The inspector will look at the property from the foundation to the roof and try to determine what they can about the condition
                    of the property. If there is a crawlspace, they’ll get down on their hands and knees and crawl through the entire thing, looking at the
                    foundation posts, beams, and joists. They’ll investigate for rot, incorrect past repairs, and evidence of rodents. Inside the house, they’ll
                    look at the condition of the doors, windows, walls, and flooring. They’ll check the cabinets, the drawers, the plumbing, the electrical
                    outlets. They’ll look at the heat source and make sure it’s working correctly. They’ll crawl into the attic and look for issues there, and
                    they’ll hopefully walk up on the roof to check out the shingles and the chimney, if there is one. They’ll also look at gutters, downspouts,
                    and any landscaping issues that could affect the condition of the property.
                </p>

                <h4>After the Inspection</h4>
                <p>
                    The report that the inspector provides you several days after the inspection will likely be scary! This is especially true with older homes.
                    After all, the inspector’s job is to discover every single possible problem they can about the property, and let’s be honest, no property is
                    perfect! In fact, I’d be nervous if the report didn’t contain a laundry list of problems, because I’d assume the inspector had been sleeping
                    during the inspection! Your job, after the report comes in, is to decide which issues are important and which aren’t. <u>Again, being
                        present for the inspection makes this process much easier.</u>
                </p>

                <h4>Should You Use Your Contractor as Your Inspector?</h4>
                <p>
                    Although there is nothing wrong with bringing your contractor through the property to take a look, I recommend hiring a third-party
                    professional inspector to officially check out the property. Unlike the contractor, the inspector won’t have any conflict of interest with
                    the property, since they won’t be doing the work. Moreover, contractors may be great at fixing things, but they are not generally trained to
                    spot problems. <u>A contractor might see a crack in the wall and begin talking about how to patch it, whereas an inspector will dive in to
                        find out why it cracked. This distinction is very important.</u>
                </p>

                <h4>How Much Does an Inspection Cost?</h4>
                <p>
                    First, think of an inspection as an investment rather than an expense. The inspector will find things out about the property that you didn’t
                    know, and learning these things up front can either help you negotiate a better deal on the house or save you from problems later on. <u>An
                        inspection can also help you plan the entire rehab process on a property and allow you to create a checklist for addressing all the
                        issues to make the property right.</u>
                </p>
                <p>
                    The cost of an inspection depends largely on the size of the property, but for easy reference, a typical single-family home will cost
                    between $350 and $500 for an inspection. A small multifamily property might cost up to $1,000. Larger multifamily properties (five or more
                    units) get more expensive the larger they are. But again, don’t think about the cost, think about the value and peace of mind you’ll get.
                </p>

                <h4>After the Inspections</h4>
                <p>
                    After the property has been physically inspected and you’ve looked over the reports, you’ll need to decide whether the property is still
                    worth pursuing. If you included an inspection contingency in your offer, you could likely back out without losing any of your earnest money.
                    However, if you did not include an inspection contingency and decide to back out, you will probably lose your earnest money deposit—though
                    that might be better than losing tens of thousands of dollars on a money pit because you let your emotions keep you in a
                    bad deal.
                </p>
                <p>
                    Also remember this: it is an inspector’s job is to scare you with facts. If you are just getting started with your first deal, a scary
                    inspection could raise unwarranted fear and make you back out of a deal that is actually totally manageable. I recommend consulting property
                    management company about your concerns before backing out.
                </p>
                <p>
                    <u>Finally, keep in mind that the items you discover in your inspection can be used to negotiate a better price on the property.</u> If you
                    find things that you did not know about, you can ask the seller to either fix those issues, credit you the cost of those repairs at closing,
                    or simply lower the price of the property. Of course, they may say “no,” but if the issue is serious enough, there is a good chance they
                    will make some concessions.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>