<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Lead-Based Paint Inspection</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Before 1978, lead was often used in both interior and exterior paint. It was added to paint to speed the drying time, increase the longevity
                    of the paint, and resist moisture which can cause corrosion on the painted surface. I was later discovered that lead can cause damage to the
                    human nervous system, especially in young children. In 1978, lead-based paint was outlawed in the United States for residential use.
                    Therefore, anything built before 1978 may contain lead (the older the home, the greater the chance). Because of the danger this poses, there
                    are some fairly strict laws in place concerning the disturbance or removal of lead-based paint from a property; this, of course, means that
                    the issue can be very expensive to remediate. If you are buying a property that was built before 1978 - and especially if you plan to do
                    major work on it - you need to test the surface of several painted areas of the property to determine whether lead exists.
                </p>
                <p>
                    Also, the level of lead in paint maybe acceptable at the time of purchase of the property, however, the laws about acceptable level of lead
                    in the paint may change in future and you will be liable to fix it, which can be very costly. So it is better to avoid purchasing properties
                    built before 1978.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>