<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Building &amp; Fire Code Violations</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    There maybe outstanding violations on the building that have yet to be rectified that the current owners aren&rsquo;t disclosing. It is
                    necessary
                    to go to the local municipal Building &amp; Safety Department and check to see, if in fact, there are any violations currently on the
                    property.
                </p>
                <p>
                    Make sure you also check to see if building permits and certificate of occupancy (C of O) have been issued for the build-outs. It is a good
                    idea
                    to get a copy of all the building permits and C of Os on file so that you have record of them. If there are some built-outs that cannot be
                    accounted for, ask the seller if they have the building permit and C of O on file. If not, ask them to check with contractor who did the
                    built-out to see if they have them. This could be a major problem with insurance companies if there were ever a claim and you could not
                    produce
                    the necessary paperwork. Ask the property manager if the are any outstanding building violations that they have been notified of or have
                    knowledge of that need to be addressed.
                </p>
                <p>
                    Making a trip down to the municipal Building &amp; Safety Department can uncover all sorts of unknown or disclosed problems, issues or
                    concerns.
                    Ask if there are any outstanding concerns or issues that may affect the property currently or in the near future, for example, fire
                    sprinkler
                    installation.
                </p>
                <p>
                    If the property includes features or uses that violate standards not grandfathered as permissible, those features or uses remain illegal.
                    Even
                    work that conforms to the law might place the owners (present and future) in jeopardy if such work was performed without a valid building or
                    renovation permit.
                </p>
                <p>
                    If you buy a property that fails to meet current law, buy with your eyes open. Lower your offering price to reflect risk. At some future
                    time,
                    city inspectors may require you to bring the property up to code. Or if the property suffers major fire damage, the city may not permit a
                    rebuild
                    (for example, a grandfathered office building in a single-family-zoned district).
                </p>
                <p>
                    Before you decide upon the price to pay for a property, verify code compliance. To bring a nonconforming property up to code (or to tear out
                    and
                    reinstall unpermitted work) can cost thousands (or even tens of thousands) of dollars.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>