<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Asbestos Inspection</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Asbestos is a naturally occurring fibrous material used during the 20th century in a lot of building materials, but it was later discovered
                    to be
                    dangerous, even deadly, to humans who might breathe in fibers that become airborne. Asbestos can be found in hundreds of different products
                    but
                    is most common in popcorn ceilings, exterior siding, and pipe insulation. If you or your inspector have concerns about asbestos being used
                    on
                    your property, get the property tested by a local environmental testing agency. Although asbestos can be removed, this must be done by a
                    licensed
                    professional trained to remove the lethal product.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>