<div class="row mt-4">
    <div class="col-xl-12 pt-2">
        <div class="card shadow">
            <div class="card-header bg-info-2 text-white">Lease Count Over Time</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6">
                        <app-highcharts [options]="newLeasesOptions" (load)="saveNewLeasesChartInstance($event)"></app-highcharts>
                    </div>

                    <div class="col-xl-6">
                        <app-highcharts [options]="leasesExpireOptions" (load)="saveLeasesExpireChartInstance($event)"></app-highcharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>