<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Tenant Estoppel Certificates</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    If you are buying a property that is already rented, and especially if you are buying a property with multiple units, I highly recommend
                    getting estoppel certificates from all the current tenants.
                </p>

                <p>
                    When a landlord places a rental property up for sale, the real estate agent or buyer will often request that the tenants in the building
                    complete and sign a document called an Estoppel Certificate. Sometimes an estoppel certificate is entitled Tenant Rental Information
                    Declaration or Rental Information Questionnaire.
                </p>
                <p>
                    An estoppel certificate is used to inform a potential buyer of commercial or residential rental property of the rights and privileges of
                    existing tenants. The estoppel certificate requests information about rental amount, lease terms, protected tenancy status, oral agreements
                    with the landlord, amendments to written lease agreements, promises made by the landlord, and agreements with respect to the payment of
                    utilities, e.g. water and gas. In short, the estoppel agreement is meant to completely describe the nature of the relationship between the
                    landlord and tenant. The goal is to put any prospective buyers of the rental property on notice regarding the rights and privileges that the
                    existing tenants enjoy.
                </p>

                <p>
                    <u>This can help you verify that the seller did not change the lease agreement without the tenant's knowledge or create a fake one, just to
                        make the income seem higher (trust me, this happens!).</u>
                </p>
                <p>
                    Once you'll be doing tenant interview verify with them their signature on the Tenant Estoppel Certificate.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>