<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Commercial Real Estate Broker</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Having two or three real estate brokers scouting properties for you is one of the most effective ways to quickly and efficiently identify
                    potential multifamily property acquisitions. It is crucial to your success to ensure the competence of the brokerage team you put together.
                    There are residential brokers who focus primarily on single-family dwellings and occasionally sell a duplex or triplex and suddenly think
                    they are qualified to represent you in a large multifamily property transaction, in truth, they will have no clue as to the intrinsic value
                    of the apartment building you are considering because the valuation approaches are different. Single-family property appraisals are largely
                    based on comparable sales, while multifamily property valuations are driven primarily by income.
                </p>
                <p>
                    There are brokers who focus solely on multifamily properties and nothing else. These are the people you want on your team!
                </p>
                <p>
                    Good agents know what prices properties are selling for, which areas are strong, and which neighborhoods are getting hot. Skilled and
                    motivated agent can assist you with at least eight tasks:
                </p>
                <ol>
                    <li>Suggest sources and techniques of financing and help you run through the numbers.</li>
                    <li>
                        Find comparable sales data (aka "comps") and rent levels so that you can know the value of the property you go to look at.
                    </li>
                    <li>Act as an intermediary in negotiations.</li>
                    <li>
                        Recommend other professionals whose services you may need (property management company, lawyer, mortgage broker or who their preferrer
                        lander is that can give you a good deal, contractor, designer, architect, property inspector).
                    </li>
                    <li>Handle innumerable details and problems that always seem to arise on the way from contract to closing.</li>
                    <li>Clue you in about what type of interest and market activity has developed around various properties.</li>
                    <li>Give you an insider&rsquo;s glimpse into an area to let you know who&rsquo;s doing what and where.</li>
                    <li>Disclose negatives about a property or neighborhood that might otherwise have escaped your attention.</li>
                </ol>
                <p>
                    Don&rsquo;t just walk into broker&rsquo;s office and expect start treatment. When you are a new investor and nobody has dealt with you
                    before and you don&rsquo;t have a record of closing the deals, then brokers are very wary about waisting time with you. They work on
                    commission, the commissions are big because these are the big deals but the commissions are not that frequent. They don&rsquo;t want to sink
                    a lot of time with an investor who hasn&rsquo;t proven themselves plus their reputation is on the line with the sellers, so they don&rsquo;t
                    want to bring a buyer who they aren&rsquo;t convinced can close, because if they don&rsquo;t close the deal, now the broker has an egg on his
                    face with the seller. So broker&rsquo;s reputation suffers. So if you are a new investor you have to do a lot of work to establish yourself
                    with brokers.
                </p>
                <p>
                    Ask property management company, attorney, CPA, do you know any commercial real estate broker that you can introduce me to? You will get a
                    different treatment than just walking into broker&rsquo;s office.
                </p>
                <p>
                    You absolutely have have to show up professionally. It&rsquo;s to walk in there and just be some guy off the street and get them to take you
                    seriously. If you are really going to jump into the serious commercial deals, then you have to look like someone who can do these deals. So
                    you have to have company setup, business card, business email address - no your_name&#64;gmail.com. You have to look like an entity who can do
                    the deals.
                </p>
                <p>
                    You have to know what you are looking for when you come and be able to speak intelligently about the deals. So it will be very helpful to
                    put together like an ask-sheet that lists exactly what kind of properties you are looking for, and have a due diligence list that you are
                    going to provide. If you walk into a broker you&rsquo;ve never meat before and you show them a very specific ask and say this is what we
                    give everybody, this is what we are looking for, and you tell them upfront these are the due diligence items that we require, they are going
                    to take you seriously because you thought through all these issue, you are not just coming and saying "I want to buy a property. I got X
                    dollars to spend on it".
                </p>

                <ul class="list-style-none">
                    <li>
                        <a href="/assets/team/seller-initial-documents-checklist.docx" target="_blank" class="text-decoration-none">
                            Download seller initial documents checklist.</a>
                    </li>
                    <li>
                        <a href="/assets/team/initial_call_to_broker.docx" target="_blank" class="text-decoration-none">
                            Download initial call to the broker.</a>
                    </li>
                    <li>
                        <a href="/assets/team/initial_email_to_broker.docx" target="_blank" class="text-decoration-none">
                            Download initial email to the broker.</a>
                    </li>
                </ul>
                <p>
                    Once you close a deal with the broker, brokers perceive that you&rsquo;re able to close on the deals, then they will start bringing you the
                    off-market stuff.
                </p>
                <p>
                    How much does a real estate broker cost? If you're looking to use them to buy property, nothing! In a typical transaction, the real estate agent
                    is paid by the seller.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
