<div>
  <div>
    <h1>Purchase &amp; Sale Agreement (PSA)</h1>
  </div>

  <div>
    <p>Make sure PSA includes following:</p>
    <ul>
      <li>Vivamus nulla dolor, mollis id turpis ut, blandit facilisis est.</li>
      <li>Quisque commodo mattis sem, vitae sagittis justo dapibus?</li>
      <li>Cras id odio sed sapien malesuada hendrerit in non dolor. Fusce at quam nec justo pulvinar laoreet?</li>
      <li>Nunc nulla tortor, eleifend nec porta a, rutrum id nulla?</li>
      <li>Curabitur augue ex, fringilla vitae mauris sit amet, eleifend consectetur est. Sed facilisis congue lorem. Nulla aliquet, quam facilisis tristique porta?
      </li>
      <li>
        Nullam vel urna nec est facilisis facilisis quis in purus. Maecenas ut mauris et enim facilisis maximus. Nam rutrum diam at lorem pretium placerat?
      </li>
      <li>hasellus sit amet rhoncus justo?</li>
      <li>What are the financing contingencies, including getting a new loan or assuming the existing one?</li>
      <li>
        Suspendisse diam neque, aliquam ac luctus elementum, hendrerit sed dolor. Praesent eleifend tortor sed diam ultricies malesuada. Sed vulputate tincidunt
        efficitur. Aliquam sit amet tellus sed tortor vulputate sagittis. Fusce ullamcorper ligula eget porta sagittis. Vestibulum sollicitudin, dolor vel porta
        cursus, odio est consectetur tellus, vel dictum ante purus vitae orci. Morbi laoreet, augue in rutrum molestie, mi quam fermentum neque, sit amet egestas
        massa enim a turpis. Suspendisse in finibus nisi. Sed eu ullamcorper mi, ut sagittis dolor. Aenean non consectetur nisl? <i>As the buyer, you must receive
          all of those before the due diligence period begins.</i>
      </li>
      <li>Aliquam erat volutpat?</li>

    </ul>

    <h4>Contingencies</h4>
    <p>
      Morbi tempor egestas orci nec ultricies. Sed commodo euismod tristique. Nam iaculis, felis et malesuada feugiat, orci ipsum egestas est, non commodo augue nunc
      eget justo. Aenean elementum ipsum vel tristique venenatis. Cras id viverra tortor, eu malesuada ex.
    </p>
    <p>
      Donec consectetur risus sed consectetur suscipit. Fusce vitae mollis ex, id mattis eros. Maecenas in sagittis magna, ut vestibulum ex. Suspendisse luctus eros
      massa, id imperdiet felis tempor aliquet. In cursus ipsum mauris, ut venenatis tellus euismod non.
    </p>
    <p>
      Pellentesque gravida euismod ante, vitae vehicula purus tristique et. Nam nec pharetra nunc, id gravida dolor. Sed quis augue luctus felis aliquam vestibulum
      ac a dolor. Pellentesque ultrices dui vel justo luctus, ac elementum risus imperdiet. Praesent et tristique augue. Fusce tristique, tellus vel condimentum
      tristique, nibh leo accumsan justo, quis dignissim magna purus ut nisl. Etiam non lacus ullamcorper, lobortis ante id, ultrices felis.
    </p>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          See recommended contingencies list.
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>expand_more</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        <h4>Maecenas placerat massa scelerisque</h4>
        <p>
          Ut lacinia finibus augue, id tristique augue dapibus vel. Quisque at condimentum felis. Maecenas mollis pretium orci, vel tristique dolor commodo egestas.
          Fusce tincidunt vestibulum mollis. Duis vitae orci sit amet nisi volutpat maximus. Mauris dolor dui, aliquam vitae ultrices ut, ultricies et mi. Praesent
          nulla mi, tristique ac nisl eu, semper ultricies lectus. Ut dolor ligula, ultrices quis scelerisque quis, condimentum vel quam. Nam aliquet eu nisl eget
          commodo. Nulla vel rhoncus sapien. Vestibulum congue tristique facilisis. Curabitur cursus posuere est at volutpat. Vivamus iaculis eros et accumsan
          scelerisque. Integer mattis, quam eget tristique placerat, neque elit blandit odio, non egestas enim ex a ipsum. Nullam facilisis sodales ligula aliquam
          condimentum. Vivamus sed urna faucibus, hendrerit ligula id, mollis felis:
        </p>
        <ul class="none">
          <li>
            <i>
              Cras sem leo, pulvinar in urna eu, consectetur efficitur nisl. Nam sed sagittis enim. Sed velit urna, sodales in mollis ut, vulputate et mauris.
            </i>
          </li>
        </ul>
        <p>
          Mauris ultrices cursus nulla. Aenean at libero mattis, aliquam lacus sit amet, blandit ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce sit amet scelerisque dui. Aliquam erat volutpat. Duis eget tincidunt ipsum, in pharetra
          dui. Aenean pretium malesuada quam, vitae malesuada eros fringilla vel.
        </p>
        <p>
          Donec eget lorem luctus elit tincidunt auctor. Donec vehicula fermentum accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
          cubilia curae:
        </p>

        <h4>Aliquam Phasellus </h4>
        <p>
          Phasellus magna nulla, gravida nec metus id, interdum imperdiet arcu. Praesent dolor mauris, suscipit vitae ultrices in, vestibulum sed est.
        </p>
        <ul class="none">
          <li>
            <i>
              Nulla facilisi. Etiam euismod convallis velit, sed auctor erat. Sed viverra mi ligula, ac semper nisi finibus sit amet. Sed luctus quam sit amet magna
              rutrum ullamcorper.
            </i>
          </li>
        </ul>

        <h4>Orci </h4>
        <p>
          Fusce venenatis vestibulum tortor, id pretium risus tincidunt non. In suscipit eros finibus nisi facilisis bibendum. Suspendisse vehicula sagittis mauris
          ac ullamcorper. Nullam fermentum lacinia est quis lobortis. Cras molestie id libero id consequat. Praesent commodo sollicitudin rutrum. Suspendisse a lacus
          eget sem consequat efficitur. Etiam urna arcu, volutpat ac mauris vel, dictum egestas libero. Cras fringilla felis dui, sit amet consequat sapien posuere
          ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque sit amet est malesuada, condimentum dolor a, laoreet neque. Phasellus vitae
          rutrum urna.
        </p>
        <ul class="none">
          <li>
            <i>
              Fusce venenatis vestibulum tortor, id pretium risus tincidunt non. In suscipit eros finibus nisi facilisis bibendum. Suspendisse vehicula sagittis
              mauris ac ullamcorper. Nullam fermentum lacinia est quis lobortis. Cras molestie id libero id consequat. Praesent commodo sollicitudin rutrum.
              Suspendisse a lacus eget sem consequat efficitur. Etiam urna arcu, volutpat ac mauris vel, dictum egestas libero. Cras fringilla felis dui, sit amet
              consequat sapien posuere ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque sit amet est malesuada, condimentum dolor a,
              laoreet neque. Phasellus vitae rutrum urna.
            </i>
          </li>
        </ul>

        <h4>Fusce ultricies </h4>
        <p>
          Pellentesque ut ipsum sed ligula porttitor auctor. Ut sagittis maximus luctus. Phasellus molestie, libero at tempus ultricies, tortor neque molestie
          turpis, sit amet facilisis velit velit vel urna. Curabitur feugiat sapien lorem, in vestibulum mauris suscipit eget. Vestibulum mollis, sapien sed egestas
          cursus, nisi elit condimentum justo, eu iaculis justo purus quis nibh. Vestibulum feugiat sodales ante, ut ornare lacus aliquet eu. Fusce volutpat ligula
          nisl, dapibus auctor turpis ultrices id. Sed viverra, lectus ut commodo elementum, orci nibh facilisis odio, et laoreet purus dolor ut enim. Maecenas quis
          maximus justo. Vivamus eu quam hendrerit, rhoncus mi vel, euismod est. Nam eleifend nunc ullamcorper urna accumsan tristique.
        </p>
        <ul class="none">
          <li>
            <i>
              <p>
                Aliquam facilisis vestibulum turpis, porta rhoncus justo sollicitudin ut. Maecenas gravida dolor ac ligula interdum, condimentum porttitor justo
                mollis. Vivamus auctor lorem at arcu blandit, eget rutrum mauris eleifend. Sed congue pellentesque justo, vel tincidunt nibh. Phasellus dapibus
                vehicula lectus, non facilisis massa feugiat in.
              </p>
              <p>
                Mauris sollicitudin condimentum risus, ac convallis purus pharetra eu. Quisque in urna augue. Vivamus fringilla porta lectus, eget sagittis tortor
                sollicitudin eget.
              </p>
              <p>
                Duis ullamcorper pellentesque urna, nec egestas lacus accumsan eget. Etiam eu sollicitudin lorem, eu imperdiet enim. Proin ante elit, iaculis non
                hendrerit feugiat, efficitur placerat orci. Aenean ac finibus justo, sit amet ornare ligula. Mauris volutpat tempus leo in maximus. Suspendisse ut
                odio dolor.
              </p>
            </i>
          </li>
        </ul>

        <h4>Curabitur condimentum</h4>
        <p>
          Vivamus rhoncus arcu id mi suscipit imperdiet. Mauris sed massa odio. Donec volutpat magna ut erat interdum mollis. Nulla et vehicula dui, mattis placerat
          lectus.
        </p>
        <ul class="none">
          <li>
            <i>
              Duis sollicitudin faucibus molestie. Nam rhoncus, velit et facilisis tincidunt, felis nulla finibus tortor, ac egestas tellus neque ac ante. Integer
              porttitor metus eu semper pulvinar. Integer sollicitudin sodales est id eleifend. Aenean maximus vestibulum justo, eu euismod quam malesuada vel.
              Phasellus viverra et odio at iaculis. Maecenas bibendum nunc ac diam blandit scelerisque quis nec orci. Vestibulum ante ipsum primis in faucibus orci
              luctus et ultrices posuere cubilia curae; Duis ac ultricies metus, porttitor pretium odio. Nulla vitae urna est.
            </i>
          </li>
        </ul>


        <h4>Duis Curabitur </h4>
        <p>
          Ut at felis non eros pulvinar dapibus. Suspendisse potenti. Aenean tincidunt dignissim congue. Pellentesque sed nibh et tellus ultricies ornare.

        </p>
        <p>
          Integer nec mattis lacus. Vestibulum nec tristique justo. Nunc vulputate laoreet ex sed posuere. Nullam consequat erat urna, a venenatis lectus volutpat
          id. Aliquam in rhoncus metus. Nam condimentum scelerisque metus sed faucibus. Curabitur sed urna volutpat, hendrerit lacus eget, tempus mauris.
        </p>
        <p>
          Etiam consectetur maximus lorem, ac condimentum tortor pulvinar sed. Vestibulum elementum, eros non hendrerit ornare, lorem eros sollicitudin velit, sit
          amet ornare nisi ante sed mi. Aliquam tempus ultrices egestas. Vivamus accumsan lectus fringilla, eleifend odio eu, molestie lacus. Vivamus malesuada,
          ligula sed pretium fermentum, lorem sem placerat dolor, non mattis magna purus nec libero. Duis erat nibh, ornare vitae vestibulum et, vehicula id ligula.
        </p>

      </div>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    </mat-expansion-panel>


    <h4>Nulla Facilisi</h4>
    <p>
      Fusce est augue, varius eget gravida feugiat, suscipit non mauris. Vivamus auctor nisi diam, vitae porttitor lorem porta at. Morbi a nibh eu felis commodo
      sollicitudin eu a eros. Vivamus vehicula ipsum laoreet convallis dignissim. Mauris et mauris a leo ultrices rhoncus. In iaculis tellus eget neque lacinia
      rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse aliquam nunc et risus lacinia, sed volutpat odio semper.
    </p>

    <h4>Property Condition</h4>
    <p>
      Munc non felis sed orci vestibulum malesuada. Phasellus sit amet augue vel magna efficitur pharetra. Interdum et malesuada fames ac ante ipsum primis in
      faucibus. Aenean consequat magna in finibus eleifend. Praesent quis vestibulum sapien. Ut quis efficitur urna. Morbi tempor posuere orci, sed bibendum nunc
      dictum ut. In vulputate ex nulla, sed elementum nisi faucibus quis. Aenean scelerisque ut lorem ut mattis. Sed vitae bibendum enim.
    </p>
    <p>
      Your contingency clause can state that repair costs should not exceed some designated amount (say $5,000). Ideally, the sellers should pay these
      costs. But if you&rsquo;ve negotiated a bargain price, you might expect to pay them. If repair costs exceed your specified amount, your
      contingency
      clause should give you the right to cancel the purchase agreement and obtain a refund of your earnest money deposit. (Remember, when you present
      a
      firm, con-contingency offer to the sellers, along with a large earnest money deposit, your power to extract price and other concessions goes
      up).
    </p>

    <h4>Quisque Nullam </h4>
    <p>
      Vivamus finibus augue magna, id luctus ante facilisis quis. In ut rhoncus mi, in ultrices orci. Aliquam eget velit et risus bibendum maximus. Pellentesque
      gravida, ligula sit amet scelerisque congue, turpis erat facilisis leo, non eleifend purus est sed est. Proin in interdum justo, sit amet porttitor augue. Nam
      egestas sem sit amet sapien porta sollicitudin. Sed sed mauris id erat pulvinar mattis ut vel dui. Praesent auctor pulvinar varius. Nunc euismod ultricies
      augue, in dictum nulla tempor id. Phasellus tempor pellentesque nulla, nec tincidunt enim tempus pretium.
    </p>
    <p>
      Donec id lorem vitae orci venenatis cursus vitae nec leo. Donec sodales velit auctor facilisis faucibus. Quisque volutpat nisl a nulla malesuada suscipit.
      Donec sollicitudin posuere ex vel aliquam..
    </p>
    <p>
      Nulla egestas tempus urna ut viverra. Nunc tincidunt magna tellus:
    </p>
    <ol>
      <li>Maecenas molestie arcu porttitor augue auctor pellentesque?</li>
      <li>Praesent quis vestibulum sapien. Ut quis efficitur urna. Morbi tempor posuere orci, sed bibendum nunc dictum ut. In vulputate ex nulla?</li>
    </ol>
    <p>
      Under federal law and many state laws, any owner of a property may be personally required to pay for environmental cleanup - even when that
      owner
      stands innocent of creating the hazard.
    </p>

    <h4>Quisque viverra Lorem </h4>
    <p>
      Vivamus mollis justo vel tellus fermentum faucibus. Integer vehicula nibh eget malesuada convallis. Nulla risus erat, vehicula consequat justo ut, eleifend
      egestas elit:
    </p>
    <ol>
      <li>
        Nullam pharetra libero eget lacus ultricies mattis. Ut interdum tellus et commodo mattis. Fusce eget arcu suscipit augue aliquam consectetur. Pellentesque
        maximus turpis eget eros posuere dignissim eget quis ligula. Integer efficitur, risus vitae malesuada rutrum, felis metus cursus justo, in posuere ante arcu
        et sapien. Nulla ullamcorper in quam ut sollicitudin. Suspendisse ac finibus nisi. Curabitur quis semper metus.
      </li>
      <li>
        Donec id lorem vitae orci venenatis cursus vitae nec leo. Donec sodales velit auctor facilisis faucibus. Quisque volutpat nisl a nulla malesuada suscipit.
      </li>
      <li>
        Phasellus auctor, sapien eu laoreet tristique, augue nisl pellentesque ipsum, ac mattis ipsum ante non libero. Nunc egestas in libero id feugiat. Praesent in
        nibh malesuada.
      </li>
      <li>
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce placerat faucibus ex, a accumsan massa scelerisque rhoncus.
        Nullam pharetra libero eget lacus ultricies mattis. Ut interdum tellus et commodo mattis. Fusce eget arcu suscipit augue aliquam consectetur. Pellentesque
        maximus turpis eget eros posuere dignissim eget quis ligula. Integer efficitur, risus vitae malesuada rutrum, felis metus cursus justo, in posuere ante arcu
        et sapien. Nulla ullamcorper in quam ut sollicitudin. Suspendisse ac finibus nisi. Curabitur quis semper metus. Fusce ac purus feugiat, elementum ligula non,
        vestibulum ligula. Nulla rhoncus erat eu nisi mollis faucibus.
      </li>
    </ol>

    <h4>Integer nec mattis lacus</h4>
    <p>
      Etiam consectetur maximus lorem, ac condimentum tortor pulvinar sed. Vestibulum elementum, eros non hendrerit ornare, lorem eros sollicitudin velit, sit amet
      ornare nisi ante sed mi. Aliquam tempus ultrices egestas. Vivamus accumsan lectus fringilla, eleifend odio eu, molestie lacus. Vivamus malesuada, ligula sed
      pretium fermentum, lorem sem placerat dolor, non mattis magna purus nec libero. Duis erat nibh, ornare vitae vestibulum et, vehicula id ligula. In hac
      habitasse platea dictumst. Sed blandit, lectus sed sagittis aliquam, urna tortor maximus diam, et scelerisque mauris risus non metus. Orci varius natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>

    <h4>Vestibulum </h4>
    <p>
      Nam malesuada porttitor ipsum, nec pretium nisl vehicula ut. Vivamus condimentum nisi nisi, laoreet scelerisque ante dapibus sit amet: </p>
    <ul>
      <li>
        Maecenas nisi mauris, dignissim eget ipsum malesuada?
      </li>
      <li>
        Fusce laoreet urna volutpat nisi ullamcorper efficitur. Nulla tincidunt gravida dui, eu placerat elit condimentum sed. Nullam bibendum velit massa, sit amet
        aliquam leo pharetra sed?
      </li>
      <li>
        Fusce ipsum quam, sodales non urna et, consectetur auctor justo. Duis semper iaculis nunc, nec suscipit quam interdum nec. Quisque tincidunt justo vel tellus
        convallis pellentesque. Curabitur consectetur aliquam tortor at rhoncus. Aenean leo ex, mattis in mollis id, tincidunt ac nibh. Integer eget ullamcorper dui?
      </li>
      <li>
        Donec imperdiet sit amet leo nec sodales. Mauris tempus semper magna id feugiat. Nunc vestibulum rutrum enim, at feugiat quam elementum et. Maecenas sed
        aliquet est. Mauris ut mauris eu orci convallis fermentum. Praesent consequat nunc sagittis quam efficitur scelerisque. Nunc posuere dui mollis, suscipit
        turpis ac, gravida lorem. Suspendisse condimentum velit vel enim euismod, eget volutpat est cursus. Sed dictum odio vel sagittis maximus?
      </li>
      <li>
        Fusce ipsum quam, sodales non urna et, consectetur auctor justo? Nulla tincidunt gravid?
      </li>
      <li>
        Donec tempor, orci eget consectetur ultrices, libero urna rutrum purus, in dapibus nunc dui ut leo. Vivamus mollis justo vel tellus fermentum faucibus?
      </li>
      <li>
        Donec sit amet laoreet eros. Donec consequat ipsum eget turpis mollis, feugiat cursus ipsum cursus. Aliquam luctus consequat libero. Cras molestie, ex ac
        faucibus aliquet, diam sem mollis lectus, blandit venenatis augue lectus et justo. Nunc id ipsum vel dolor ultricies convallis bibendum ac libero. Sed
        vestibulum lectus eget tellus aliquam vehicula. Ut convallis nibh purus, ac efficitur lorem lobortis sit amet.
      </li>
      <li>
        Aliquam id eleifend sapien. Nullam mollis risus ut tincidunt molestie. Donec rhoncus consequat commodo. Aliquam et nisi nec lorem facilisis posuere?
      </li>
      <li>
        Mauris porttitor tincidunt ante, nec tincidunt ipsum. Suspendisse eleifend interdum odio, at eleifend risus aliquet sed? Fusce aliquam dapibus eleifend?
      </li>
      <li>
        Vivamus vehicula ipsum laoreet convallis dignissim. Mauris et mauris a leo ultrices rhoncus. In iaculis tellus eget neque lacinia rutrum. Interdum et
        malesuada fames ac ante ipsum primis in faucibus.
      </li>
    </ul>
  </div>
</div>
