<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Closing Documents</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Your closing agent will likely call you a few days before closing to schedule the date and location where you’ll sign all the paperwork.
                    They’ll also tell you the final amount of money you’ll need to bring with you to close the deal. The process for signing all the paperwork
                    depends greatly on the state in which you are buying, but most likely, it will take place at the attorney’s or title company’s office.
                    You’ll need to bring three important things to the meeting:
                </p>
                <ul>
                    <li>Yourself and anyone else on the loan or title</li>
                    <li>Your government-issued ID</li>
                    <li>A certified check</li>
                </ul>
                <p>
                    Be sure to read over exactly what you are signing, because title companies and attorneys do make mistakes. Have the person organizing the
                    documents go through all the math behind the numbers you are supposed to bring to closing.
                </p>
                <p>
                    The primary closing documents that will require a careful review are the title report, closing statement, deed of trust, and promissory
                    note.
                </p>
                <ul>
                    <li>
                        <strong>Title Report:</strong> Also known as the <i>abstract of title,</i> provides a history of ownership, judgments, liens, and
                        anything else that may have been recorded against the property over time. The title insurance company issues an insurance policy to the
                        buyer and a separate policy to the lender that ensurers the title is clean and there are no encumbrances that may adversely affect the
                        new owner.
                    </li>
                    <li>
                        <strong>Closing Statement:</strong> Also known as <i>settlement statements,</i> are commonly prepared by the title company handling the
                        closing. They detail by line item all of the associated debits and credits assessed to both buyer and seller, such as:
                        <ul>
                            <li>Contract sales price</li>
                            <li>Earnest money deposit</li>
                            <li>Principal amount of new loan(s)</li>
                            <li>Existing loan(s)</li>
                            <li>Seller financing</li>
                            <li>Prorated tax adjustments</li>
                            <li>Prorated rent adjustments</li>
                            <li>Tenants&rsquo; deposits</li>
                            <li>Lender fees</li>
                            <li>Title fees</li>
                            <li>Attorney fees</li>
                        </ul>
                        Errors are inadvertently made for one reason or another. For example, the title company may have an incorrect payoff amount for the
                        seller&rsquo;s loan, or it may prorate the rents or taxes incorrectly, or it may not be aware of a credit you are entitled to because of
                        a specific clause in your purchase agreement negotiated by you and seller. <u>Make sure to review each charge on the settlement
                            statement and verify its accuracy.</u>
                        <ul>
                            <li>
                                Any credits or charges allocated to the seller must be verified. Make sure there are only those credits and/or charges that were
                                agreed to in the purchase and sale agreement.
                            </li>
                            <li>
                                Make sure prorations of operating expenses are properly prorated under each line item and get proof information on each amount,
                                i.e. copies of checks, paid invoices etc.
                            </li>
                            <li>
                                In prorating fees on service contracts or annual inspections do not credit the seller for annual inspections, as they are
                                purchased as part of the asset.
                            </li>
                            <li>
                                Security deposits, prepaid rent and any credits owed to the tenants - make sure you receive a credit for all after you close on
                                the property.
                            </li>
                            <li>
                                Verify lender and escrow fees, make sure those are all the fees you are responsible for paying. Make sure all deposits and fees
                                paid, i.e. loan application fees, rate lock fees, etc. are included as buyer's credits.
                            </li>
                            <li>
                                Have the escrow officer include all buyer&rsquo;s costs, i.e. survey, third party reports, buyer expenses, insurance,
                                commissions etc. to be paid through escrow at the close.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Deed of Trust &amp; Promissory Note:</strong> The lender is responsible for preparing the deed of trust and the promissory note.
                        These documents outline the terms and conditions under which the lender has agreed to loan you money. Repayment terms are specified,
                        including the amount of the loan, the interest rate and amortization period, and any prepayment penalties that may be imposed.
                    </li>
                </ul>

                <p>
                    <strong><i>Important note:</i></strong> Always be sure that you tell the escrow officer that no closing statement is released to the seller
                    or lender until it is cleared and they get approval by you. In addition, the buyer&rsquo;s closing statement, when purchasing a property,
                    shows only the buyer&rsquo;s side of the transaction and not combined.
                </p>
                <p>
                    Some landers may require you to sign an <i>attorney opinion letter.</i> It is often prepared by the lender&rsquo;s attorney and subsequently
                    forwarded to your attorney. The letter serves two primary functions:
                </p>
                <ul>
                    <li>
                        <strong>First:</strong> It forces you to review all of the pertinent and relative language affecting the transaction with your attorney.
                        Your attorney will advise you regarding the legal content and may recommend changes to help protect you. By taking time to have a
                        competent attorney review these documents, you will minimize your exposure to risk from any inadvertent errors.
                    </li>
                    <li>
                        <strong>Second:</strong> It serves to indemnify and hold harmless the lender. By outlining all of the terms and conditions and by
                        requiring you to review them with an attorney, the lender is effectively adding an extra measure of self-protection.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>