<div class="container-xxl">
    <div class="row mt-4 mb-3">
        <div class="col-xl-12">
            <div class="page-header">
                <h1>Pre-Offer: During Negotiations of PSA</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <h4>Documents</h4>
            <p>
                As a buyer, you must receive all of the listed below documents before the due diligence period begins.
                <a href="/assets/due-diligence/pre-offer/seller_disclosure_checklist.docx" target="_blank" class="text-decoration-none">Download seller
                    disclosure checklist</a>.
            </p>
            <ul>
                <li>
                    <strong>Financial Documents</strong>
                    <ul>
                        <li><a href="javascript:void(0)" (click)="onRentRollClick()" class="text-decoration-none">Rent roll</a></li>
                        <li>
                            <a href="javascript:void(0)" (click)="onOperatingStatementsClick()" class="text-decoration-none">Operating statements</a> recently
                            ended three years and trailing 12-months (T12) all broken down by transaction
                        </li>
                        <li>Detailed capital expenditures history report (year to date as well as all past years)</li>
                        <li><a href="javascript:void(0)" (click)="onOperatingBudgetClick()" class="text-decoration-none">Detailed operating budget</a></li>
                        <li>Aged receivables report - a list of who&rsquo;s behind on their rent, by how much, and how many days</li>
                        <li>Security deposits, prepaid rent, and any credits owed to the tenants' report</li>
                        <li>List of unpaid bills</li>
                        <li>
                            <a href="javascript:void(0)" (click)="onSellerTaxReturnsClick()" class="text-decoration-none">Seller&rsquo;s IRS Schedule E tax
                                return</a> (past three years)
                        </li>
                        <li><a href="javascript:void(0)" (click)="onUtilitiesStatementsClick()" class="text-decoration-none">Recent utilities statements</a>
                        </li>
                        <li>Property tax bill (two years)</li>
                    </ul>
                </li>
                <li>
                    <strong>Tenants / Units</strong>
                    <ul>
                        <li><a href="javascript:void(0)" (click)="onLeasesClick()" class="text-decoration-none">All current leases</a></li>
                        <li>
                            <a href="javascript:void(0)" (click)="onTenantEstoppelCertificatesClick()" class="text-decoration-none">Tenant estoppel
                                certificates</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="onTenantBackgroundCheckReportsClick()" class="text-decoration-none">All current tenants&rsquo;
                                applications &amp; background check reports</a>
                        </li>
                        <li>Tenant insurance certificates</li>
                        <li>
                            List of any evictions, litigations, pending or in process
                            <ul>
                                <li>
                                    Evictions are part of the public record in most counties of America. In other words, you can take a trip to your local
                                    county administration office and ask to see a list of the current evictions. Different counties and states do evictions a
                                    little differently, so I can't tell you exactly how to track down the list of evictions in your area, but if you ask around
                                    enough, it shouldn't be hard to find.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Each unit&rsquo;s inspection sheet &amp; pictures - that show the condition of each of the units at the time the tenants moved in.
                            Make sure they are signed by the tenants.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Roof</strong>
                    <ul>
                        <li>Age of roof</li>
                        <li>Condition of roof</li>
                        <li>Any problems with roof / leakage / date</li>
                        <li>Roof composition</li>
                        <li>Any repair / resurfacing of roof / date</li>
                    </ul>
                </li>
                <li>
                    <strong>Air Heating / Cooling / Electrical</strong>
                    <ul>
                        <li>Date heating system installed</li>
                        <li>Condition of heating system</li>
                        <li>Insulation up to code</li>
                        <li>Date of last inspection / service</li>
                        <li>Kind of the heating system / make, gas or electric</li>
                        <li>Kind of the air conditioning system</li>
                        <li>Previous heating inspections / date</li>
                        <li>Condition of electrical equipment</li>
                        <li>Condition of wiring</li>
                        <li>Known defects / describe</li>
                    </ul>
                </li>
                <li>
                    <strong>Water / Sewer</strong>
                    <ul>
                        <li>Water supply source / city, well and/or septic system</li>
                        <li>Type of water pipes</li>
                        <li>Condition of water supply</li>
                        <li>Known prior plumbing leaks / rust problems</li>
                        <li>Condition of plumbing</li>
                        <li>Any flooding / date, how repaired</li>
                        <li>Drainage problems / describe</li>
                        <li>Capacity of water heater</li>
                        <li>Location of water heater</li>
                        <li>What company did inspection?</li>
                        <li>Date of last water heater inspection and/or service</li>
                        <li>Condition of landscape sprinklers / describe</li>
                        <li>Any water pressure problems</li>
                        <li>Known standing water areas</li>
                        <li>Condition of water heater</li>
                        <li>Age of water heater</li>
                        <li>Safety device for water heater</li>
                    </ul>

                </li>
                <li>
                    <strong>Who pays for which utility (water, sewer, garbage, electricity, and heat)?</strong>
                </li>
                <li>
                    <a href="javascript:void(0)" (click)="onRightOfFirstRefusalOrOptionClick()" class="text-decoration-none">
                        <strong>Anyone having right of first refusal or option to buy?</strong></a>
                </li>
                <li><a href="javascript:void(0)" (click)="onServiceContractsClick()" class="text-decoration-none">
                        <strong>All current service contracts</strong></a>
                </li>
                <li><a href="javascript:void(0)" (click)="onWarrantiesClick()" class="text-decoration-none"><strong>All existing warranties</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onInventoriesClick()" class="text-decoration-none">
                        <strong>List of personal property inventories</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onHoaDocumentsClick()" class="text-decoration-none"><strong>HOA documents</strong></a></li>
                <li><strong>List of any additions to the building made by current and past owners and were all additions properly permitted?</strong></li>
                <li><a href="javascript:void(0)" (click)="onBuildingAndFireCodeViolationsClick()" class="text-decoration-none">
                        <strong>Building &amp; fire code violations</strong></a></li>
                <li><strong>List of all code violations</strong></li>
                <li><strong>Building permits</strong></li>
                <li><strong>Any needed repairs</strong></li>
                <li><strong>Status of all ongoing capital improvements</strong></li>
                <li><strong>Easements on property</strong></li>
                <li><strong>Any known future problems affecting property</strong></li>
                <li><strong>Pending legal actions</strong></li>
                <li><strong>Liens against property / explain</strong></li>
                <li><strong>Pending expansion / real estate development of area</strong></li>
                <li><strong>Problems with stability of ground beneath property, settling, cracks in cement / describe</strong></li>
                <li><strong>Condition of foundation</strong></li>
                <li><strong>Fire protection system / overhead sprinklers / location</strong></li>
                <li><strong>Property in designated zone / flood, hazard</strong></li>
                <li>
                    <strong>Get a warranty from the seller stating no state or federal tax liens, judgments, bankruptcy, or mechanic's liens are attached to the
                        property (work with an attorney to draft this warranty for the seller)</strong>
                </li>
                <li><a href="javascript:void(0)" (click)="onIsNonconformingUseClick()" class="text-decoration-none"><strong>Is nonconforming use?</strong></a>
                </li>
                <li><strong>Last pest inspection report</strong></li>
                <li><strong>Any known issues with lead-based paint or mold and other allergens?</strong></li>
                <li><strong>All recent environmental inspection reports</strong></li>
                <li>
                    <strong>Recent Property Condition Report (PCA)</strong>
                    <ul class="list-style-none">
                        <li>
                            It will give you an idea of which issues were outstanding when the current owners purchased the property as well as what has been
                            fixed or upgraded since their ownership.
                        </li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)" (click)="onOtherReportsClick()" class="text-decoration-none">
                        <strong>Any other available third-party reports</strong></a></li>
                <li><strong>Recent appraisals</strong></li>
                <li><strong>Floor plans</strong> - showing apartment types, placement, and square footage.</li>
                <li><strong>Space measurement studies</strong> - indicating detail of gross, usable, and rentable sq. ft.</li>
                <li><a href="javascript:void(0)" (click)="onAsBuiltDrawingsClick()" class="text-decoration-none"><strong>As-Built Drawings</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onCertificateOfOccupancyClick()" class="text-decoration-none">
                        <strong>Certificate of Occupancy</strong></a>
                </li>
                <li><a href="javascript:void(0)" (click)="onSellerDisclosureStatementClick()" class="text-decoration-none">
                        <strong>Seller Disclosure Statement</strong></a></li>
                <li><strong>When did you purchase the property?</strong></li>
                <li><a href="javascript:void(0)" (click)="onWhyIsOwnerSellingClick()" class="text-decoration-none"><strong>Why is owner selling?</strong></a>
                </li>
                <li>
                    <strong>
                        All documents provided by the seller must be signed and certified by the seller whereby they swear that all financial
                        documents figures that they have reported to me are true and factual.
                    </strong>
                </li>
                <li>
                    Try to get following:
                    <ul>
                        <li>
                            <a href="javascript:void(0)" (click)="onRecordsOfAllMaintenanceClick()" class="text-decoration-none">
                                <strong>Past written records of all maintenance calls, repairs, receipts, diagnoses, and replacements</strong></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <h4>Property Inspection</h4>
            <p>
                See if seller will allow to have walk through every room with property manager, interview tenants during this stage, and do basic check for big
                expense items: roof, foundation, heating and cooling, water heater, electrical system, and plumbing. To find out if property has a deal breaking
                issues before spending money in legal fees negotiating purchase and sale agreement, doing PCA, Environmental, and other inspections.
            </p>

            <h4>Lender</h4>
            <p>
                Before you look at the properties and wire up an offer to buy, verify whether that property meets the criteria of the lender and loan program
                that you intend to use. Otherwise, you may wast time and money.
            </p>

            <h4>Parking</h4>
            <p>
                Be certain the property meets the local city code requirements in terms of adequate parking ratios and handicap parking spaces needed. Also,
                verify there are enough parking spaces to accommodate the non-leased units currently available in the building.
            </p>
            <p>
                You want to determine early on which items are going to be &quot;deal breakers&quot; and which ones you can negotiate on. Either way it&rsquo;s
                important to figure them out as soon as possible; and if possible bring them up while negotiating the purchase and sale agreement (PSA) and make
                sure that the solutions to any issues negotiated are incorporated into the PSA so there are no &quot;loose ends&quot;. Any item left out will
                likely be forgotten or &quot;overlooked&quot;.
            </p>
            <p>
                If that isn&rsquo;t possible or issues or problems are discovered later in the due diligence process, make sure you are aware of the costs
                involved and how it will impact the financial analysis and be prepared to confront the seller properly &quot;armed&quot; with the right
                information; estimates for repair or replacement, etc., as applicable, so you can legitimately ask for a discount.
            </p>

            <h4>Spend Time at the Property</h4>
            <p>
                There is much to be experienced and found out by spending time in and around the property.
            </p>
            <p>
                You&rsquo;ll discover: what the tenants are like and what the surrounding area looks like in terms of activity and people. It&rsquo;s important
                to check the property out at various times of the day to get a better feel for how it operates. You may be surprised at the different foot
                traffic that goes through the building. If located near a school you may get kids cutting through the parking structure or garage looking for a
                car with valuables in it. The point is that you want to be aware of what is going on in and around the building at various times of the day, in
                case there is a potential problem that you might not have known about, had you not investigated. If you don&rsquo;t, you may end up having to
                deal with problems and issues that you didn&rsquo;t count on or bargain for.
            </p>
            <p>
                Look at age and condition of cars parked in the parking areas; best to check this out in the evenings when most people are at home. This will
                give you an idea of the socioeconomic mix of the tenants.
            </p>
            <p>
                Check property in the middle of the business day. If you will see lot of cars there, then you want to think twice about purchasing that
                property because lot of tenants are unemployed.
            </p>
            <p>
                Is there lots of garbage around? Are playgrounds in the bad condition? Drive around neighborhood to get a feel for it. What houses around look
                like, are there bars on the windows, are they well kept? Do you like the neighborhood?
            </p>

            <h4>Value-Play Opportunities</h4>
            <p>
                Limit your selection to those properties that need minimal work, primarily aesthetic in nature. Avoid properties that require extensive and
                costly repairs. If you do decide to assume the additional risk associated with such properties, it needs to be reflected in the price. As a
                value-player, you are seeking to maximize the return on your investment. You are not in the charity business. Do not allow yourself to be
                persuaded into buying these kinds of deals unless the seller is willing to offer you additional incentives. A popular rule of thumb used by many
                house flippers is the 70% rule. This rule states that the most a flipper should pay for a property is 70% of the after repair value (ARV, what
                the house is worth after it has been fixed up) less rehab costs. So, a house that has an ARV of $150,000 and needs $30,000 worth of rehab could
                be bought for $75,000, because $150,000 x .7 = $105,000 $105,000 - $30,000 = $75,000
            </p>

            <h4>Potential Value That Can Be Created</h4>
            <p>
                Before you make an offer on a multifamily property, you'll want to know the potential value that can be unlocked from it. Creating value in
                multifamily apartment building can be accomplished in several ways:
            </p>
            <ul>
                <li>
                    <strong>Increase rents: </strong>
                    Generally, in order to justify a substantial rent increase in the minds of your tenants, you must give them something in return,
                    such as improvements to the building. Smaller rent increases may not necessary require improvements. Part of your initial analysis
                    will include researching comparable properties in the area and their respective rates. This can be done by simply calling property
                    management company or several of the apartments in the market you are considering and asking, for example, what the rates are for a
                    one-bedroom, a two-bedroom, and so on. You will also want to know what your competitors are offering in the way of move-in specials,
                    deposit requirements, and amenities. If your property has a pool and covered parking, and the one a few blocks down the street does
                    not, then an adjustment should be made to reflect this. Most competent brokers who deal primarily with commercial or multifamily
                    real estate will be able to help you with your market analysis by providing data such as the average rent per square foot. If
                    average rate in the area is, for example, $0.67 per square foot and the apartment you are considering is charging only $0.57 per
                    square foot, you need to know why. A qualified and capable broker can also provide historical data regarding occupancy rates so you
                    can determine whether an area has a stable, declining, or increasing level of occupancy. You will want to note difference between
                    the overall market&rsquo;s occupancy rate and that of the apartment you are considering.
                </li>
                <li>
                    <strong>Update the look of the property: </strong>
                    Sometimes inexpensive remodels such as new paint, flooring, or wallpaper, can make all the difference in the world. These simple and
                    inexpensive changes are more likely to get noticed by the typical renter rather than more expensive and involved structural changes.
                </li>
                <li>
                    <strong>Add a garage or carport: </strong>
                    Most people would rather park their cars inside. If the cost of this improvement is reasonable, it just may be justified by the increased
                    amount of income.
                </li>
                <li>
                    <strong>Add a fence: </strong>
                    If the other properties around yours have fencing, you might want to consider putting one in.
                </li>
                <li>
                    <strong>Consider building a storage unit: </strong>
                    Apartment renters always need more space to keep their belongings. If your property has some extra room, you could bring in extra income
                    from renting these units to your tenants.
                </li>
                <li>
                    <strong>Install laundry facilities: </strong>
                    If your apartment building doesn't have laundry facilities, think of how quickly those quarters could add up. Consider adding washers and
                    dryers for your tenants' use.
                </li>
                <li>
                    <p>
                        <strong>Convert master-metered property to a submetered property: </strong>
                        Most newer apartments have been built with individual meters so that the tenants are responsible for their own electric bills.
                        Many older buildings, however, have not. Converting a property is not that difficult and can be done very cost effectively.
                        Passing the cost of the electric bill directly on to the tenants will likely necessitate an offsetting decrease in rents by
                        approximately 70 percent of the average electric bill on a per-unit basis.
                    </p>
                    <p>
                        Some properties, especially older ones, have all the utilities paid by the owner, which is not ideal. <u>Buy these kind of
                            properties only if the numbers truly make sense, because having so little control over this major expense will give you a
                            major headache. When tenants don't need to pay for their own heat, they tend to leave windows open in the winter or the air
                            conditioner running 24/7 in the summer. If they don't need to pay for water, they'll never let you know about the constant
                            drip in the bathroom, thereby costing you hundreds of dollars a year.</u>
                    </p>
                    <p>
                        <u>When shopping for multifamily, at least look for ones where heat and electricity can be paid by the tenant, and if you can
                            find properties that can be converted to a "submetered" system to allow tenants to pay for their own water, you've
                            potentially struck gold!</u>
                    </p>
                </li>
                <li>
                    <strong>Add vending services such as laundry and soft drinks: </strong>
                    If the current owner or manager is servicing the laundry equipment and collecting money, it may be time for a change, especially
                    if the machines are older. You can eliminate the headache of having to service the equipment by turning the entire process over to a
                    professional company specializing in this business.
                </li>
                <li><strong>Provide access to building rooftops for cellular companies</strong></li>
                <li><strong>Convert excess storage space into rentable living area</strong></li>
                <li>
                    <strong>Install water-saving devices in bathrooms: </strong>
                    A fairly simple and low-cost way to help control water expenses is to implement a program whereby faucets, and toilets are
                    inspected with every make-ready. Every time a tenant moves out, all faucets and toilets should be checked for leaks and promptly repaired as
                    necessary. Another simple cost-savings measure is to replace the flush mechanisms inside the toilet tanks. Many older toilets use 2 to 5
                    gallons per flush, while all new toilets are mandated by law not to exceed 1 gallon per flush. Rather than replacing the entire commode,
                    simply replace the flush mechanism with one equipped with a water-saving feature. You can shave 20 to 30 percent off your water bill almost
                    immediately by implementing this one simple strategy.
                </li>
                <li>
                    <strong>Protest assessed tax valuations to have them lowered: </strong>
                    City, county, and state taxes annually assessed against the property. <i>Beware:</i> Tax assessors periodically revalue
                    properties to reflect increases in market prices. Future tax bills could jump 30 to 40 percent over the amount of the previous tax years.
                    Similarly, if your purchase price comes in less than the assessor&rsquo;s current assessed value, request that the assessor reduce
                    your taxes.
                </li>
            </ul>

            <h4>Other</h4>
            <p>
                Although not all agents will oblige, ask them whether a seller has accepted or rejected any previous offers and, if so, at what price.
                Agents often disclose juicy facts about why a seller is selling and their level of motivation. Although presumably confidential, ask the prices
                agreed to on pending sales of comp properties too.
            </p>
            <p>
                Always ask questions through the e-mail so you have documentation of the answers and can keep track of the questions asked.
            </p>
            <p>
                <u>Before providing closing date (in 30 days or 60 days) ask bank how long do they usually and longest time take to go through all the paperwork
                    and inspections?</u>
            </p>

            <h4>Negotiation</h4>
            <p>
                Negotiations can (and will) happen at every step of the process. Until the property's title is officially transferred from seller to buyer at
                closing, the real estate deal always feels as though it's balancing on the edge of a cliff, and the slightest breeze could push it over.
                Negotiation is about both parties keeping the deal from falling, so slight negotiation is needed throughout the process to make sure it closes.
            </p>
            <ul>
                <li>
                    <strong>Before signing PCA: </strong>Negotiate as much as possible before signing PCA. Once PCA is signed seller will be less motivated to
                    give you a better deal.
                </li>
                <li>
                    <strong>After the inspection: </strong> If the inspection reveals some defect in the property you were not expecting, you can negotiate
                    again at this point. If you included an "inspection contingency" in your offer and you are within your inspection time frame, you can back
                    out of the deal and will get your earnest money back. Some investors choose to negotiate very lightly at the beginning and instead to push
                    their weight around after the inspection. Personally, <u>I don't recommend this tactic unless you absolutely have to. This is not a great
                        time to negotiate, because at this point, you have likely spent a good deal of money on the inspection, possible appraisals, and other
                        aspects of the deal. However, if you find something you didn't expect during the inspection, don't be afraid to renegotiate the deal.
                        Just don't be a jerk about it!</u>
                </li>
                <li>
                    <strong>Always get last concession: </strong>The negotiation process contains a lot of back-and-forth, asking for (and offering)
                    concessions. For example, the seller might ask you to pay $100,000, and you can accept, but only if they pay for your closing costs. Maybe
                    they'll come back and say "I can't pay all of them, but I can pay some," so you can reply with "Sure, as long as you throw in a home
                    warranty." As J Scott, author of The Book on Flipping Houses, once wrote, <u>"If the other party realizes that every time he asks for
                        something, he will need to give something, he will naturally shy away from asking for more than what he needs in fear that he will be
                        asked to give up something important in return for additional (non-essential) demands on his part."</u>
                </li>
                <li>
                    <strong>Stick to your numbers: </strong> Real estate is largely a game of mathematics and numbers, so while negotiating, stick to your
                    numbers, and don't let emotion take over. Appealing to the math is a great strategy when negotiating, because it's hard to argue with. "Mr.
                    Seller," you'll say, "at $100,000, my expenses with taxes, insurance, vacancy, maintenance, and management will be almost $900 per month,
                    and I can only rent the property out for $1,000 per month, which would only give me a 5% return on investment. This doesn't work for me, but
                    at $90,000, it would push my return up to 9%, which does work for me." It's hard to argue with that.
                </li>
                <li>
                    <strong>Negotiate with data: </strong>When possible, use data to negotiate your point. One of the best ways to do this when buying a piece
                    of property is by having the comparable sales (comps) with you when negotiating. The seller may want $150,000 for their property, but if you
                    can show them that other similar properties have sold recently for only between $120,000 and $130,000, you'll take them out of their
                    fantasy-land and ground them in cold, hard facts. It's tough to argue with data!
                </li>
                <li>
                    <p>
                        <strong>Ask for their lowest price, then go lower: </strong>When negotiating in person with a motivated seller, one tactic that works
                        almost every time is simple: ask the seller what their lowest price is. They'll usually tell you a number, but this is never their real
                        lowest price—this is their starting price!
                    </p>
                    <p>
                        Then, ask them a follow up question like "Okay, but what if I could pay all cash and close next week?" They will almost always go a
                        little lower. If you wanted to push it one more time, you could say something like "So, if I were to offer you [amount even lower than
                        their new lowest price] and get you the cash you need in the next ten days, that would be unreasonable?" No one likes to appear
                        unreasonable, and there is a good chance they'll respond with "Yeah, I could do that."
                    </p>
                    <p>
                        In just less than one minute, you were able to talk them down twice from their "lowest price," potentially saving you thousands (or even
                        tens of thousands) of dollars. Calculate that out to a per-hour cost, and it'll be the best, easiest money you've ever made!
                    </p>
                </li>
            </ul>

            <h4>Call Banks</h4>
            <p>
                If numbers make financial sense before moving to Letter of Intent call banks to see if you'll qualify for a loan. So that you don't waist
                anybodies time if you can't find a bank that will finance it.
            </p>
            <p>
                Start with the bank that you already have your primary checking account with. Schedule an appointment with the loan officer, and actually sit
                down with them. Ask them what kind of loan programs they have for rental property loans. Ask them the rental property loan amounts they
                typically lend on, the current interest rates, the term, and any other information. Have the same conversation with three or four other lenders
                in your area, and be sure to mix it up between banks, credit unions, and mortgage companies. Once you have the basics from each company, pick
                one and get <u>pre-qualified</u>.
            </p>

            <h4>Letter of Intent</h4>
            <p>
                Once you have established initial offer price in the <a href="javascript:void(0)" (click)="onOperatingStatementsClick()"
                    class="text-decoration-none">Operating Statements</a> step, and numbers as well as condition of the property look good, use a standard
                letter of intent to map out the deal points between yourself and the seller before moving to the formal purchase and sale contact. Letter of
                intent will save you a lot of money in attorney fees because attorneys are not usually involved in letters of intent negotiations. Also, the
                work done during this process makes the purchase and sale contract process smoother and faster. The letter of intent contains your offer along
                with the basic deal points like down payment amount, due diligence time frame, escrow amount, and financing contingencies.
            </p>
            <p>
                You must have you team established at this point. The last thing you want to do at this stage of the game is begin relationships with the banks,
                title companies, or investors. Get your letter of intent out as quickly as possible so you can agree on the basic terms of the deal and tie up
                the building.
            </p>
            <p>
                Letters of intent are like proposal you send to the seller. They are designed to be negotiated and the original document you send over is
                the starting point. The seller will review the offer and the terms and will usually counter the offer and adjust some of the terms. This is
                back-and-forth process, so don&rsquo;t be surprised if it takes weeks to accomplish. That&rsquo;s normal.
            </p>
            <p>
                Realize, even though you are actively negotiating the terms of the sale with the seller, the property <strong>is not off the market.</strong>
            </p>
            <p>
                Letter of intent is nothing you need to draft. Typically your real estate broker will prepare it for you and you&rsquo;ll verify and approve it.
            </p>

            <h4>Fundamental Rules of Successful Real-Estate Investing</h4>
            <ul>
                <li><strong>Buy a property for less than you can sell it.</strong></li>
                <li><strong>Use as much of other people&rsquo;s money as you can.</strong></li>
                <li><strong>Make sure your property pays for itself.</strong></li>
                <li><strong>Tax maximum advantage of the tax laws.</strong></li>
            </ul>

            <p>
                You need to buy an investment property with no more emotion attached than you would have investing in a stock, a bond or anything else.
                It&rsquo;s only business. So always ask yourself these three questions:
            </p>

            <ul>
                <li><strong>Is buying this property the best use of my money?</strong></li>
                <li><strong>Will this property pay for itself?</strong></li>
                <li><strong>Can I increase the value of this property?</strong></li>
            </ul>
            <p>
                If you can&rsquo;t answer yeas to each question. don&rsquo;t buy the place.
            </p>
            <p>
                You must consider the current Treasury yield as the bare minimum you should make on your investment (it&rsquo;s now about 5 percent a year and
                is rising). And since anyone can make 5 percent simply by loaning money to government, anything lower than the Treasure rate is a bad deal and
                doesn&rsquo;t compensate you for your risk.
            </p>
            <p>
                My strategy is to make at least 12 percent cash-on-cash return per year, which is double what I make (6 percent) in stock investment, in order
                to compensate for my risks.
            </p>

            <h4>Purchase &amp; Sale Agreement</h4>
            <p>
                Once you and the seller agree upon the terms in the signed letter of intent, you are ready for your attorney to draft up the purchase and sale
                agreement.
            </p>
        </div>
    </div>
</div>
