<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Utilities Statements</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Utilities are a major expense with real estate, so verify that the numbers you used for your math homework are accurate. Find out and verify
                    who pays for which utility. Call utility companies and get copies of most recent statements from all utility companies that landlord is
                    responsible for paying.
                </p>
                <p>Get contact information of all utility companies that tenants are responsible for paying.</p>
                <p>
                    Verify all the landlord responsible utility bills by calling each utility company and getting the last twelve months operating history on
                    each account. Get estimate of the rates for the next year. Insert revised figures into your budget. <u>Always check to make sure the utility
                        bills have all been paid.</u>
                </p>

                <h4>Energy Audits</h4>
                <p>
                    Nearly all utility companies will show you how to reduce your gas or electric bills. Some will perform an energy audit and inspection of
                    your property. Google &quot;energy audit&quot; or &quot;energy savings&quot; to get ideas.
                </p>
                <p>
                    Conduct an energy audit on a building before you buy it. Judge beforehand the extent to which you can feasibly lower these costs. Avoid
                    energy-hog buildings for which no solution exists.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>