<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Warranties</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Make sure you get copies of all the existing warranties on the property e.g., equipment, roof, etc. and make sure they are transferable.
                    These are too valuable to overlook and can be very difficult to get after the is completed. Many sellers purge all their records and related
                    documents on a property once they dispose of it.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>