<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Plumbing/Sewer Scope Inspection</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    A home inspector can look for leaks and can test to make sure the water is running and draining well, but he cannot see inside the drain
                    pipes to
                    confirm that there are no major problems. For this reason, you need to hire a plumbing inspector to stick a camera down the sewer lines and
                    check
                    for problems. After all, a cracked drain line can cost thousands of dollars to repair, especially if it&rsquo;s broken under a driveway or
                    parking lot.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>