<div class="container-xxl">
    <div class="row mt-4 mb-3">
        <div class="col-xl-12">
            <div class="page-header">
                <h1>Team</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <ul>
                <li><a href="javascript:void(0)" (click)="onRealEstateCpaClick()" class="text-decoration-none"><strong>Real Estate CPA</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onRealEstateAttorneyClick()" class="text-decoration-none"><strong>Real Estate Attorney</strong></a>
                </li>
                <li><a href="javascript:void(0)" (click)="onPropertyManagementCompanyClick()" class="text-decoration-none">
                        <strong>Property Management Company</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onLenderClick()" class="text-decoration-none"><strong>Lender</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onCommercialRealEstateBrokerClick()" class="text-decoration-none">
                        <strong>Commercial Real Estate Broker</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onInsuranceBrokerClick()" class="text-decoration-none">
                        <strong>Commercial Property Insurance Broker</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onRealEstateInteriorDesignerClick()" class="text-decoration-none">
                        <strong>Real Estate Interior Designer</strong></a></li>
                <li>
                    <strong>PCA &amp; Environmental inspectors</strong>
                    <ul>
                        <li>
                            Find by getting referral from lender, property management company, real estate agent, real estate investors, attorney, CPA. If
                            you&rsquo;re planning to work with the company that you got the referral for from someone other than your lender,
                            <i><strong>make sure that company is approved by your lender</strong></i> before paying them for an inspection.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Certificate of Occupancy Inspector</strong>
                    <ul>
                        <li>Contact local Building & Safety Department</li>
                    </ul>
                </li>
                <li>
                    <strong>Plumbing/Sewer Scope Inspector</strong>
                    <ul>
                        <li>Find by getting referral from property management company, real estate agent, real estate investors, attorney, CPA.</li>
                        <li>Check with company that will do PCA, maybe they can do it.</li>
                    </ul>
                </li>
                <li>
                    <strong>Asbestos Inspector</strong>
                    <ul>
                        <li>Find by getting referral from property management company, real estate agent, real estate investors, attorney, CPA.</li>
                        <li>Check with company that will do Environments report, most likely they can do it.</li>
                    </ul>
                </li>
                <li>
                    <strong>Lead-Based Paint Inspector</strong>
                    <ul>
                        <li>Find by getting referral from property management company, real estate agent, real estate investors, attorney, CPA.</li>
                        <li>Check with company that will do Environments report, most likely they can do it.</li>
                    </ul>
                </li>
                <li>
                    <strong>Pests/Wood Destroying Organisms Inspector</strong>
                    <ul>
                        <li>Find by getting referral from property management company, real estate agent, real estate investors, attorney, CPA.</li>
                        <li>Check with company that will do Environments report, most likely they can do it.</li>
                    </ul>
                </li>
                <li>
                    <strong>Building Measurement Service</strong>
                    <ul>
                        <li>Find by getting referral from property management company, real estate agent, real estate investors, attorney, CPA.</li>
                        <li>Check with company that will do PCA, maybe they can do it.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>