<div class="container-xxl">
    <div class="row mt-4 mb-3">
        <div class="col-xl-12">
            <div class="page-header">
                <h1>Post-Acceptance: The PSA is Executed</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <h4>Documents, Reports &amp; Inspections</h4>
            <ul>
                <li>Get documents that weren't received in pre-offer stage.</li>
                <li>Make sure all essential documents are obtained from the seller before PSA agreement starts time count down.</li>
                <li><strong>Certificate of Occupancy Inspection Report</strong> - if it has not been done by the seller, make sure you do it.</li>
                <li>
                    <a href="javascript:void(0)" (click)="onWalkThroughClick()" class="text-decoration-none">
                        <strong>Walk Through Every Room with Property Manager</strong></a> and conduct
                    <a href="javascript:void(0)" (click)="onTenantInterviewsClick()" class="text-decoration-none"><strong>Tenant Interviews</strong></a> before
                    spending money on doing PCA, Environmental, and other inspections.
                </li>
                <li><a href="javascript:void(0)" (click)="onBuildingMeasurementVerification()" class="text-decoration-none">
                        <strong>Building Measurement Verification</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onSeismicReportClick()" class="text-decoration-none">
                        <strong>Seismic/PML (Probable Maximum Loss) Report</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onPropertySurveyClick()" class="text-decoration-none">
                        <strong>ALTA Survey / Property Survey</strong></a>
                </li>
                <li><a href="javascript:void(0)" (click)="onTitleInspectionClick()" class="text-decoration-none"><strong>Title Inspection</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onEnvironmentalReportsClick()" class="text-decoration-none">
                        <strong>Environmental Reports Phase I, then if needed, do II &amp; III</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onPropertyConditionAssessmentReportClick()" class="text-decoration-none">
                        <strong>Property Condition Assessment (PCA) report</strong></a>
                </li>
                <li><a href="javascript:void(0)" (click)="onSewerScopeInspectionClick()" class="text-decoration-none">
                        <strong>Plumbing &amp; Sewer Scope Inspection</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onAsbestosInspectionClick()" class="text-decoration-none"><strong>Asbestos Inspection</strong></a>
                </li>
                <li><a href="javascript:void(0)" (click)="onLeadBasedPaintInspectionClick()" class="text-decoration-none">
                        <strong>Lead-Based paint inspection</strong></a></li>
                <li>
                    <a href="javascript:void(0)" (click)="onWoodDestroyingOrganismsInspectionClick()" class="text-decoration-none">
                        <strong>Pests/Wood Destroying Organisms Inspection</strong></a>
                </li>
                <li>
                    Radon, toxic mold, test water for purity
                </li>
            </ul>

            <p>
                <strong>IMPORTANT:</strong> units must be rent-ready at close of escrow and purchase and sale agreement needs to state that. Make sure seller
                fixes what&rsquo;s necessary before you close.
            </p>
            <p>
                Anything you can find during due diligence process can be potentially used as a leverage to further negotiate the purchase price, especially if
                it is a high cost item that was not in disclosure.
            </p>
            <p>
                Be present with inspectors during the inspections.
            </p>
            <p>
                If lender will be responsible for handling PCA, Environmental and other inspections, get a list of things that will be inspected, compare it
                with your list of inspections and if any inspection that is on your list is not done, then make sure you find inspectors to do it. Ask lender
                how long it will take get all inspections done.
            </p>

            <h4>Start Loan Process</h4>
            <p>
                Once PCA is sighed continue (in pre-offer was a start where you got pre-qualified for a loan) loan approval process:
            </p>
            <ol>
                <li>
                    <strong>Submit the property information: </strong>Once you find your deal, it’s time to get the second half of your approval equation
                    started: the approval of the property. The lender will require you to submit (or have your real estate agent submit) information about the
                    property, most likely the PSA. The lender may also want to see additional documents from you if it’s been awhile since you got pre-approved
                    (such as updated pay stubs and bank account information).
                </li>
                <li>
                    <strong>Loan goes to underwriting: </strong>When all the information has been gathered, it is sent to the lender’s underwriter, who will
                    give the final “yes” or “no” on the loan. It’s likely that during this time, the underwriter will make you jump through numerous hoops
                    before giving you the loan. In the next chapter, I will go into more detail on this process and how to ensure that you get a “yes.”
                </li>
                <li>
                    <strong>Lender issues an appraisal: </strong>The lender will likely hire a residential real estate appraiser to give them a valuation of the
                    property. The lender’s goal, of course, is to be secure in their investment, so they want to make sure they are not loaning more on the
                    property than they should (and also that the property is in good enough condition for them to loan on). A typical single-family house
                    appraisal will cost approximately $400, while a small multifamily appraisal might cost up to $1,000. If you are buying a commercial
                    property, expect to be in for at least $4,000. This appraisal cost is not generally fronted by the lender, but you will be required to pay
                    this before the appraiser will go out. This, of course, is to protect the lender from spending money on an appraiser and then having the
                    loan not go through.
                </li>
                <li>
                    <strong>Loan goes back to underwriting: </strong>After the appraisal is complete, the underwriter once again reviews all the
                    documents for the property, including the information just obtained in the appraisal, and decides whether or not they want to take the risk
                    of lending to you. They may, once again, ask for you to jump through certain hoops. For example, I once had an appraiser require that the
                    gutter downspouts on a property have “splash blocks” installed before they would issue a “yes” on the loan. They also, again, may want to
                    see more pay stubs or other financials from you. Just get them what they need, and do it as quickly as possible. The biggest delay in the
                    underwriting process is usually the borrower needing to get paperwork to the lender, so don’t be a clog in your own pipe! Ultimately,
                    underwriting will either approve or deny the loan.
                </li>
                <li>
                    <strong>Loan closes: </strong>If the loan is approved, the bank will let you or your real estate agent know. The title company or attorney
                    will also be informed, and closing will take place soon after. At the closing table (typically at your title company or attorney’s office),
                    you will bring a check for the down payment, and your lender will wire over the funds for the purchase. The title company or attorney will
                    take care of the paperwork, and you’ll be the owner of a new property.
                </li>
            </ol>

            <h4>Property Inspection</h4>
            <p>
                Walk through every room with property manager, interview tenants, and do basic check for big expense items: roof, foundation,
                heating and cooling, water heater, electrical system, and plumbing. <u>To find out if property has a deal breaking issues before spending money
                    on doing PCA, Environmental, and other inspections.</u>
            </p>

            <h4>No-no List of Improvements</h4>
            <p>
                Some real estate investors have developed their no-no list of improvements. Robert Bruss writes, &quot;Smart fixer-upper home buyers and
                investors look for properties with &rsquo;the right things wrong&rsquo;&quot;. To Bruss, the &quot;right things wrong&quot; include cosmetic
                improvements such as painting, landscaping, carpets, and lighting. On his no-nos are: completely replacing roof, foundation, wiring, and
                pluming. Replacing the boiler or air-conditioning equipment.
            </p>

            <h4>Inspections - the Repair Addendum</h4>
            <p>
                Chances are any property you are considering purchasing has minor superficial issues you'd like to correct eventually. Home inspections should
                not focus on these little imperfections since every home has its fair share. <u>Your pre-purchase inspection should be aimed at uncovering
                    problems that aren't so minor – meaning issues with the foundation, roof, or heating, plumbing and electrical systems.</u>
            </p>
            <p>
                <u>If problems are found in any of these components, you will want them to be addressed and resolved before you take possession of the
                    property.</u> You can request that these repairs be completed before closing by drafting a <strong>repair addendum</strong>, a summary of
                required repairs acknowledged by the buyer, Realtor, and seller. Not only will this ensure that you won’t have to face these expenses
                immediately after purchase, but it also reduces the risk that lawsuits will be filed disputing the condition of the property.
            </p>
            <p>
                Any major problems found during the inspection will be summarized in the inspector’s report. A detailed description of the problems will need to
                be transcribed into the repair addendum, thus communicating the findings to the seller. Always include a copy of the inspector's report so the
                seller can reference it. Then list, in the order you would like them completed, the repairs you would like the seller to address before
                re-inspection.
            </p>
            <p>
                Include as much detail in the description of repairs as possible. First list the specific part of the system that needs to be repaired. <u>Use
                    language that communicates your expectations clearly. If you want a component completely replaced, be sure to use the word
                    &quot;replace&quot; rather than &quot;repair&quot;. Make a request that once the work has been completed, you will receive copies of
                    receipts.</u>
            </p>
            <p>
                <u>After work has been completed, another inspection of each of the items included in the repair is required. This should be done well in
                    advance of the final walk-through and closing just in case additional work is still required If this is the case, another inspection report
                    and repair addendum signed by the buyer must be presented to the seller.</u>
            </p>

            <h4>Due Diligence Process</h4>
            <ul>
                <li><a href="javascript:void(0)" (click)="onDueDiligenceResourcesAndCompaniesClick()" class="text-decoration-none">
                        <strong>Due Diligence Resources &amp; Companies</strong></a>
                </li>
                <li>
                    <a href="javascript:void(0)" (click)="onPhysicalInspectionProcessClick()" class="text-decoration-none"><strong>Physical Inspection
                        </strong></a>
                </li>
                <li><a href="javascript:void(0)" (click)="onOtherPhysicalInspectionItemsClick()" class="text-decoration-none">
                        <strong>Other Physical Inspection Items</strong></a></li>
                <li>
                    <a href="javascript:void(0)" (click)="onPurposeOfEstimatingRepairCostClick()" class="text-decoration-none">
                        <strong>Purpose of Estimating Repair Cost</strong></a>
                </li>
                <li><a href="javascript:void(0)" (click)="onImprovementsClick()" class="text-decoration-none"><strong>Improvements</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onPropertyTaxAppealsClick()" class="text-decoration-none"><strong>Property Tax Appeals</strong></a>
                </li>
                <li><a href="javascript:void(0)" (click)="onFollowUpClick()" class="text-decoration-none"><strong>Follow-up</strong></a></li>
                <li>
                    <strong>Is this Property Purchase a Good Deal?</strong> - Before you are ready to proceed with purchase answer following question:
                    <ul>
                        <li>Is buying this property the best use of my money?</li>
                        <li>Will this property pay for itself?</li>
                        <li>
                            Can I increase the value of this property?
                            <ul>
                                <li>
                                    You will reach your financial goals much quicker if you can find property that is underperforming and kick it into shape
                                    through
                                    sound management.
                                </li>
                            </ul>
                        </li>
                    </ul>
                    If you can&rsquo;t answer yes to each question, don&rsquo;t buy the place.
                </li>
                <li><a href="javascript:void(0)" (click)="onHeadingTowardsFinishLineClick()" class="text-decoration-none">
                        <strong>Heading Towards the Finish Line</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onLenderRequiredPropertyAppraisalClick()" class="text-decoration-none">
                        <strong>Lender Required Property Appraisal</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onFinalWalkThroughClick()" class="text-decoration-none">
                        <strong>Final Walk-Through of the Property</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onClosingCreditsClick()" class="text-decoration-none"><strong>Closing Credits</strong></a></li>
                <li><a href="javascript:void(0)" (click)="onClosingDocumentsClick()" class="text-decoration-none"><strong>Closing Documents</strong></a></li>
            </ul>

            <p>
                The following story is an example of what can go wrong if you don't investigate a property thoroughly.
            </p>

            <h5>Case - Allison and Antonio</h5>
            <p>
                Allison had always wanted to own her own restaurant. She was finally in a position financially that allowed her to start realizing her
                dream. She began looking for a unique space to house her gourmet restaurant and wine bar. Because she believed that a new building wouldn't
                have the character she desired, she started looking in an older section of town.
            </p>
            <p>
                It was there that she fell in love with a charming brick building located right on the edge of the river. From the moment she saw the place,
                she knew its old charm would provide the perfect backdrop for her restaurant. To her surprise, the price was lower than she had imagined and
                the seller, Antonio, was motivated to sell because of a divorce.
            </p>
            <p>
                Antonio was in such a hurry to sell that he offered Allison a discounted price if she could have her inspection performed within 15 days.
                Allison was initially uncomfortable with this short time frame, but she didn't want to lose the building, or the great price. She agreed to
                Antonio's stipulation and made her offer.
            </p>
            <p>
                A quick inspection was performed. Allison was satisfied there were no structural problems. Although the inspection process was not as
                thorough as she would have hoped, Allison felt she could take care of any problems that might arise with the extra money she would be
                saving.
            </p>
            <p>
                A few months later, as she was painting the bathroom for her restaurant's upcoming opening, she noticed a strange smell. She decided it
                probably was just because the building was so old but made arrangements to have someone come in to check out the pipes.
            </p>
            <p>
                What they found was worse than Allison could have ever imagined. The sewage tank was as old as the building itself. It had never been
                replaced or updated, and now it was leaking. Sewage was seeping into the ground below the restaurant and out into the river. Worse yet, the
                previous tenant had been a dry-cleaning business. Instead of properly disposing of their hazardous solvents, they had simply poured them
                down the drain.
            </p>
            <p>
                The rotting sewage tank had been breached and was now leaking into the river. Dozens of children who had spent the summer months swimming
                downstream from the restaurant became ill When doctors discovered the pattern, the city began testing the water in the river Sure enough,
                they found sewage in the water, and traced it back to Allison's building and its disintegrating tank.
            </p>
            <p>
                Even though Allison had been unaware of damage, the town’s residents were outraged Allison paid to have the tank replaced, but then she
                faced lawsuits that the insurance company would not cover. She was forced to sell the building, with its new sewage tank, just to pay the
                settlements. By the time the nightmare was over, she had lost so much that she was never able to realize her dream of owning a restaurant.
            </p>

            <h5>How to Protect Yourself</h5>
            <p>
                Allison was held strictly liable because she was the responsible party. The fact that there was hazardous waste on her property, was all that
                had to be proved There is strict liability in such cases, meaning that ownership, rather than guilt or innocence, is the issue. If waste is
                found on property you own, you are liable. Federal law recognizes four classes of parties responsible for cleanup of hazardous waste:
            </p>
            <ol>
                <li>The current owner and operator of the property.</li>
                <li>The owner and operator of the property at the time the waste was deposited.</li>
                <li>Those who generated the waste and sent it to the site.</li>
            </ol>
            <p>
                In our example, Allison is a liable party as she is the current owner. She could sue the dry cleaner, but he had died with no assets.
            </p>
            <p>
                So, what could she have done differently to protect herself She should have had state licensed engineers perform a Phase I environmental report,
                a survey of the potential environmental problems on the property In a Phase I report, the engineers will either find no problems and record that
                in writing or will find a problem and suggest a more detailed Phase II report.
            </p>
            <p>
                <u>If you are unable to get a clean Phase I report on a property, it is probably not something you want to get involved in anyway. Banks most
                    likely won't loan money for a property that does not have a clean Phase I report.</u>
            </p>
            <p>
                The importance of having a clean Phase I report is that it can protect you if a problem should arise in the future. You have a good argument
                that because you had an engineer inspect the property and the property was found to be clean at that time, you had no notice of any problems. If
                Allison had had her property inspected by engineers, they either would have found the problem and she could have backed out of the deal - or she
                would have had a clean Phase I report that would have proven she was unaware of the problem, and it had occurred after the inspection.
            </p>
            <p>
                Keep in mind that you will also be held liable for any environmental hazard caused by your tenants. This means if one of your renters runs a
                methamphetamine lab out of your apartment building, you will be responsible for a toxic cleanup. This is just one important reason why you
                should know exactly who your tenants are and what they are doing.
            </p>
        </div>
    </div>
</div>