<div class="container-xxl">
    <div class="row mt-4">
        <div class="col-xl-12">
            <div class="page-header">
                <h1>Which Properties Make the Best Rentals?</h1>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-xl-12">
            <h4>Bedrooms</h4>
            <p>
                If you are looking for a multifamily property, two-bedroom apartments are usually acceptable, and incredibly common. Single-bedroom and studio
                apartments are also common, but they tend to attract a more transient tenant, so expect more turnover in that style.
            </p>

            <h4>Age</h4>
            <p>
                The older the property you buy is, the more expensive it's going to be to fix. I invest in a lot of older homes because they offer the best
                price in my market, but I definitely pay dearly for my choices. Projects that seem to be fairly simple have a tendency to get out of hand
                quickly, as existing but previously unknown problems are discovered. You have to deal with the work that others who were far less skilled have
                done over the years and live with the consequences of past shoddy work.
            </p>
            <p>
                Older homes are also generally less energy efficient than newer homes, which can cause the utility bills to be much higher. You might not think
                that matters much if the tenant will pay for their own heating or cooling, but trust me, tenants know. If your property costs an extra $100 to
                heat or cool, your tenants will do the math, and you may have a more difficult time keeping a property rented long term.
            </p>
            <p>
                Again, I'm not telling you that you should not invest in older homes. Just understand that the newer a property is, generally the fewer issues
                you will need to deal with.
            </p>

            <h4>Utilities</h4>
            <p>
                Some properties, especially older ones, have all the utilities paid by the owner, which is not ideal. <u>Buy these kind of properties only if
                    the numbers truly make sense, because having so little control over this major expense will give you a major headache. When tenants
                    don't need to pay for their own heat, they tend to leave windows open in the winter or the air conditioner running 24/7 in the summer. If
                    they don't need to pay for water, they'll never let you know about the constant drip in the bathroom, thereby costing you hundreds of
                    dollars a year.</u>
            </p>
            <p>
                <u>When shopping for multifamily, at least look for ones where heat and electricity can be paid by the tenant, and if you can find properties
                    that can be converted to a "submetered" system to allow tenants to pay for their own water, you've potentially struck gold!</u>
            </p>

            <h4>Lawn</h4>
            <p>
                Properties with large lawns, gardens, and other outside features will never be taken care of by tenants the way that you or I would take care of
                them. Although there are exceptions to every rule, I look for properties that have smaller yards to keep the yard work for the tenant at a
                minimum. That said, recreational space is very important in attracting a stable long-term tenant, so make sure there is somewhere the tenant
                (and/or their kids) can run around and have fun.
            </p>

            <h4>Parking</h4>
            <p>
                Stable tenants need a place to park their vehicles. Off-street parking (a driveway, carport, or garage) is something nearly all great tenants
                prefer, so look for properties with this feature. And generally, two parking spots are better than one, three are better than two, and so on.
            </p>

            <h4>Location</h4>
            <p>
                when shopping for a property, keep an eye out for what's nearby. A tenant is just like you: they want to eat out occasionally, take a jog in a
                park, pick up milk from the grocery store. Buy in locations where tenants want to live, and you'll find a more stable rental
            </p>

            <p>
                These are just a few of the property characteristics I look for when buying a property. You don't need to get each and every one perfect to get
                a great rental property, but these factors are important to consider when shopping.
            </p>

            <p>
                Now, this might surprise you, but I actually don't like to buy "perfect" properties. The fact is that perfect properties come at a premium! A
                savvy investor is always looking to snag a great deal, which is why I tend to avoid perfect properties and instead look for problem properties.
                I'll explain.
            </p>

            <h4>Problems I Look for When Shopping for Rental Properties</h4>
            <p>
                When looking for a rental property, I actually proactively look for problems. Sure, it's entirely possible to buy a rental property that is 100%
                finished and great, and perhaps for you and your business model, that is what you should do. But for me, I want to find problems that I can fix
                that will help me get a better deal.
            </p>
            <p>
                How do problems get me a better deal?
            </p>
            <p>
                It's simple: when most people encounter the following problems, they turn around and walk out the door, repulsed and saying, "No way!" I
                walk into that same property, take a look around, and start to get excited. In fact, it's hard for me to be excited about a property that
                doesn't have problems! It's the fear of dealing with problems that drives most people away, and with less competition, I know I can find better
                deals.
            </p>
            <p>
                Before I get to the list, I will caution you: with problems comes risk. It's imperative that you understand the full nature of the problem at
                hand and that you include an accurate budget to fix that problem when doing your numbers.
            </p>

            <h5>1. The Bigfoot Smell:</h5>
            <p>
                When you walk into a house, and it smells like bigfoot died in the kitchen, is your first thought, "I
                gotta get outta here?" The truth is, most people respond with disgust, but seasoned investors see opportunity. Bad smells are one of the
                easiest problems to fix in a property but one of the things that drives away 99% of the competition. Bad smells are generally caused by one
                or more of a few things, none of which are difficult to solve:
            </p>
            <ul>
                <li>Rotten food in the cupboards or rubbed into the carpet</li>
                <li>Cat or dog urine soaked into the floor</li>
                <li>Smoke residue on the walls, ceiling, and floor</li>
                <li>Mildew on the windows, walls, or other surfaces</li>
                <li>Bigfoot dead in the kitchen</li>
            </ul>
            <p>
                <u> As long as you are not dealing with some kind of environmental issue or a major sewer leak under the house, you'll likely find smells are
                    fairly easy to eliminate with some cleaning.</u> To get rid of the smell, go through the following list in order and stop when the smell is
                gone:
            </p>
            <ol>
                <li>
                    <strong>Carpet: </strong>In my experience, getting rid of the carpet and the pad underneath will get rid of 90% of the problem
                    immediately
                </li>
                <li>
                    <strong>Mop: </strong>Mop the floor with a mixture of bleach and water. Let it dry, and open the windows to air the place out. (It
                    can take a day or two for the smell of bleach to disappear and let you know if the smell is truly gone.)
                </li>
                <li>
                    <strong>Clean: </strong>Make sure every crumb in the kitchen is picked up and all windows have been washed. Obviously, you will need
                    to do this anyway, so find a professional cleaner who can come in and clean every square inch.
                </li>
                <li>
                    <strong>Prime the Floors: </strong>If the smell persists, buy some cans of Kilz Oil-Based Primer and a long-handled paint roller
                    from the local hardware store. Pour the primer out onto the floor (this is a lot of fun, actually!) and spread it over every square
                    inch. I will warn you: oil-based primer is strong smelling, so be sure to use a respirator (they run about $30) so you don't pass
                    out. I'm not kidding—you will pass out otherwise. I've been there, done that. The chemicals are just too potent.
                </li>
                <li>
                    <strong>Wash the Walls: </strong>This approach is most commonly used when dealing with stale smoke smell. Get a good sponge and a
                    bucket of soapy water, and scrub the walls. Often, you will be able to physically watch the smoke residue wipe away from the walls,
                    which is an oddly satisfying experience.
                </li>
                <li>
                    <strong>Prime/Paint the Walls/Ceiling: </strong>Lastly, and for situations where the other approaches have not solved the problem,
                    hire someone to spray the entire inside of the house with that Kilz Oil-Based Primer (about $200 in primer will do a whole house,
                    plus two days of labor).
                </li>
            </ol>
            <p>
                Following these steps, I've never had a problem smell I could not eliminate. Whether you do the task yourself or hire a local handyman to do it
                for you, the entire process is unlikely to cost more than $1,000 (not including the cost of the new carpet, which you are likely planning to
                replace anyway), and you'll have a fresh, clean, and newly painted property, ready for a new tenant. <u>The great news is that a bad smell can
                    drive the cost of a home down considerably, maybe even tens of thousands of dollars. Now you understand why investors often say,
                    "Mmmmm, it smells like money!"</u>
            </p>
            <p>
                <u>One final caveat on the smell issue: make sure the smell is not coming from a busted sewer line under the property or in the basement or
                    something tragic like that. That fix could be much more expensive. If you are unsure what is causing the bad smell in a property, bring
                    along someone with more experience and/or be sure to get a professional inspection on the property.</u>
            </p>

            <h5>2. Ugly Countertops and Cabinets</h5>
            <p>
                You've likely heard the phrase "kitchens and baths sell houses", and it's not an exaggeration! People spend a large amount of time in the
                kitchen, and nothing says "1979" like bright orange countertops or ugly cabinets. Most people simply avoid houses with these problems. Those
                people don't realize how easy it can be to transform an ugly kitchen into a modern, beautiful one with just some new counters and a fresh coat
                of paint on the cabinets. Yes, that's right, many times you can paint old cabinets to make them look brand
                new!
            </p>

            <h5>M...M... Mold?!</h5>
            <p>
                Uh oh, did I just say the M word? Yep! And yes, mold is one of best problems I look for when buying a property. You see, mold is a scary thing
                to the average consumer, maybe even to you, but it shouldn't be. You see, mold is a fungus that grows naturally everywhere. It's in your house
                right now. It's in your car. It's probably in your beard and in your hair. It's in the air you breathe, all the time, if you live in a wet
                climate. (Still scared?) Mold is everywhere that there is moisture.
            </p>
            <p>
                However, when mold spores begin to settle and accumulate in large quantities, suddenly the human eye can detect the mold and will start to see
                spots of black or green on certain surfaces. Now, if there is enough mold in an area, it can be dangerous to people with certain immune system
                problems, but in small quantities, it's not like anthrax, as much of the U.S. population seems to think. But let's just them keep thinking that
                mold is just slightly worse than eating a spoonful of ricin; while they are out there complaining about a few spots of mold in a property, I'm
                out there investigating why there is mold and snatching up amazing deals.
            </p>
            <p>
                Mold is not a random occurrence; it happens for a reason. That reason is moisture. Eliminate the moisture, and you eliminate the visible mold!
                If you walk into a potential rental property, and there is mold all over the bathroom walls, and then you notice that there are no windows or a
                vent in the bathroom, guess what? That's right, the mold is growing because the moisture from showers can't leave the bathroom. Install a vent,
                and the problem is probably solved. Mold all over the ceiling? I would wager that there is either a roof leak or no ceiling insulation directly
                above the moldy spot (so, condensation in the room is forming on the cold spot where the insulation is missing, causing mold growth).
            </p>
            <p>
                The only mold I would really worry about is mold in basement walls, because it indicates water seeping in through the foundation — and that
                begins to scare me. Fixing a bad, leaking foundation can be incredibly complicated and expensive, so unless you are more experienced, I would
                steer clear of those issues.
            </p>

            <h5>Jungle Landscaping</h5>
            <p>
                You've likely heard the term "curb appeal" before and probably know the importance of having a property look pristine from the street. After
                all, the landscaping is the very first thing potential buyers see when they visit the property. This is why I love to find properties where the
                yard looks less like a yard and more like Tarzan's jungle. Long grass, dead grass, overgrown bushes, pink flamingos—it's all good! Landscaping
                is not a terribly difficult or expensive thing to clean up, but the bad condition can drive away the bulk of the competition and help you snag a
                great deal. It's amazing what a simple cleaning, mowing, and edging can do to a property, and typically for less than $1,000, a problematic
                landscape situation can become a nice yard.
            </p>

            <h5>Junk, Junk, and More Junk</h5>
            <p>
                Have you ever watched the television show Hoarders? This show takes you inside the homes of individuals who have the compulsive habit of saving
                or collecting an absurd amount of junk.
            </p>
            <p>
                Sometimes the house is filled so high with junk that it's impossible to get into certain rooms. While this makes for highly entertaining
                television, this is not some mythological thing: hoarding is a real and very common problem for people around the world. When these hoarders
                need to move or they pass away, the junk they leave behind can be a major roadblock for casual buyers. However, when I see junk, I don't see a
                problem, I see opportunity. I might be able to get an incredible deal on the property because no one else wants to handle the problem! I can
                simply hire someone to come clean it out 100%, bringing it to a point where I can put in new carpet, perhaps paint it, and get it rented out for
                incredible cash flow.
            </p>

            <p>
                We just looked at problems that I like to find in a potential rental property. Now I'll share three problems I don't want to see when I'm
                shopping for a deal.
            </p>

            <h4>Problems I Avoid When Shopping for a Rental Property</h4>
            <p>
                The following are problems I try to avoid when I look for a rental property. This isn’t to say I will never touch a property that has one
                of these issues, but there better be a really good reason for it, <u>and I would have to factor it into my numbers.</u>
            </p>

            <h5>Neighborhood</h5>
            <p>
                You cannot easily fix a neighborhood. Sure, you could join the local city council and start a neighborhood watch, but the neighborhood is not
                likely going to change because you want it to. Therefore, I don’t want to buy a property where the neighborhood will always be an unsolvable
                problem. The property will continually be difficult to rent, the tenants will trash the house, I’ll have to deal with evictions and late rent,
                and in the end, the property’s value may never increase (and might actually decrease). I’m not saying I will only buy in a Class A neighborhood,
                but I’m definitely not going to buy in a Class D area.
            </p>

            <h5>Foundation Issues</h5>
            <p>
                Foundation issues scare me because they can be a money pit to fix, and the cost of a solution can sometimes eclipse six figures. This is
                especially true with foundation issues on a house with a basement or slab. I would also put any property that has water leaking in the
                foundation in this problem category and steer clear. Yes, there are investors who specialize in properties that have bad foundations, but for
                me, the risk is too great.
            </p>
        </div>
    </div>
</div>