<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Nonconforming Use</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    A nonconforming use is a use of property that was allowed under the zoning regulations at the time the use was established but which,
                    because of subsequent changes in those regulations, is no longer a permitted use.
                </p>
                <p>
                    A nonconforming structure is a structure that complied with zoning and development regulations at the time it was built but which, because
                    of subsequent changes to the zoning and/or development regulations, no longer fully complies with those regulations.
                </p>
                <p>
                    A nonconforming lot is one that, at the time of its establishment, met the minimum lots size requirements for the zone in which it is
                    located but which, because of subsequent changes to the minimum lot size applicable to that zone, is now smaller than that minimum lot size.
                </p>
                <p>
                    Local restrictions typically prohibit expansion of nonconforming uses and structures. Nonconforming uses usually lose their legal status
                    under local regulations if they are discontinued for a particular period of time, such as six months or a year. Nonconforming structures
                    typically lose their legal status if they are destroyed, such as by fire, in whole or in part.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>