<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Final Walk-Through of the Property</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Couple days before closing set up an appointment to walk through the property one last time. Verify that everything is
                    still the same and that nothing has changed since you made the original agreement, verify that all of the personal property inventory is
                    still there by comparing it to the pictures you took on the first walk through. If you are confident that the property is in the condition
                    you expect, then it’s time to move forward.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>