<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Property Management Company</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    By now you profiled your property and determined it&rsquo;s needs. You are ready to begin searching for property management companies that
                    will be the best fit.
                </p>
                <p>
                    Property management company can also help you better understand the market, such as vacancy rates and current market rent.
                </p>
                <p>
                    Always make sure property management company collect their income based on the property&rsquo;s income. It&rsquo;s just too easy for someone
                    to become complacent if they know the money will come in no matter their performance.
                </p>
                <p>
                    Not all property management companies will specialize in managing your type of investment. For example, if you own a 100-unit community, you
                    don&rsquo;t want to hire a company that doesn&rsquo;t offer on-site management and trained maintenance technicians. Conversely, if you own
                    ten-unit residential building, you probably don&rsquo;t want to hire a large company that will find it too easy to let your small property
                    fall through the cracks.
                </p>
                <p>
                    When evaluating a property management company make sure that it belongs to local and national trade organizations. Reputable companies
                    belong to trade associations.
                </p>
                <p>
                    Belonging to a trade association is an indication that the company is focused on improving its operations. Trade organizations also provide
                    certifications based on intensive training. The National Apartment Association provides a Certified Apartment Manager certification that
                    takes hours of classroom and practical application to obtain.
                </p>
                <p>
                    You can find a list of prominent property management trade associations on the NAAHQ.org and IREM.org websites. Also check following
                    websites:
                </p>
                <ul>
                    <li><a href="https://www.narpm.org/find/property-managers/" target="_blank" class="text-decoration-none">NARPM property managers search</a>
                    </li>
                    <li><a href="https://www.irem.org/about-irem/directory" target="_blank" class="text-decoration-none">
                            IREM real estate management businesses & members search</a></li>
                    <li><a href="https://www.irem.org/certifications" target="_blank" class="text-decoration-none">IREM certifications definitions</a></li>
                    <li>
                        <a href="https://www.naahq.org/join/find-naa-affiliate" class="text-decoration-none">NAA affiliate search</a>
                        <ul>
                            <li>Once you find affiliate then use their member directory to find property management company, attorney, CPA etc.</li>
                        </ul>
                    </li>
                    <li>Search online for local apartment association, for example; the Rental Housing Association of Chicago.</li>
                </ul>
                <p>
                    Look at their listing, do their listings provide good details about the property? Drive by their properties do they look clean and taken
                    care of? Before scheduling an interview with them, call them as you are a tenant looking for rental, do they reply back to you quickly
                    enough? Have them show you the rental. Observe the process, are you happy with they way they go through process of showing you the unit.
                </p>

                <h4>Types of Property Management Companies</h4>
                <ul class=" list-style-none">
                    <li>
                        <strong>National/International:</strong>
                        <ul>
                            <li>
                                <strong>Cons</strong>
                                <ul>
                                    <li>Smaller properties such as less than 50-unit buildings can get lost in the fold.</li>
                                    <li>May not have in-depth knowledge of your market specifically</li>
                                    <li>May not have relationship with local vendors.</li>
                                    <li>Will not manage single-family or duplex type properties.</li>
                                    <li>Often will be very red-tape oriented.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Regional:</strong>
                        <ul>
                            <li>
                                <strong>Cons:</strong>
                                <ul>
                                    <li>May not be able to absorb the loss of key employees.</li>
                                    <li>May not have the capability to manage large multifamily buildings.</li>
                                    <li>Cannot manage effectively outside its region.</li>
                                    <li>May not have strong training or education programs.</li>
                                    <li>May be eager to grow, and will take on properties regardless of qualification to manage them.</li>
                                    <li>Single-family and duplex type properties may play second fiddle to larger clients.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                <h4>After Selecting 3-5 Potential Property Management Companies</h4>
                <p>
                    Go through reviews on internet. Just remember: most negative reviews are written by problematic tenants. The fact they are complaining
                    online might be an indication the property manager dealt with them properly.
                </p>
                <p>
                    Check property management&rsquo;s website for additional information and if they list their property managers, check if they have any
                    certificates from local or national apartment associations.
                </p>

                <p>
                    <strong>Documents to get from property management company:</strong>
                </p>
                <ul>
                    <li>
                        Copy of the Management Contract. Look for:
                        <ul>
                            <li>Expenses that the owner is responsible for and expenses that property management company is responsible for.</li>
                            <li>
                                Make sure it explicitly explains the process for termination if you are unhappy with their services, but especially if they
                                violate the terms of your agreement.
                            </li>
                            <li>
                                Understand the fees involved and calculate the total cost for an entire year of management so you can compare the different
                                managers. It may sound nice to pay a 5% management fee but the extra fees can add up to be more than the other company that
                                charges 10% with no add-on fees. Fees should be clearly stated, easy to understand, and justifiable. If you ask the manager to
                                justify a fee and he starts hemming and hawing, move on or require them to remove the fee. Don't be afraid to negotiate!
                            </li>
                            <li>Make sure management fee is a percent of rent received and not the fixed fee independent of rent income.</li>
                        </ul>
                    </li>
                    <li>
                        Copy of the Lease Agreement
                        <ul>
                            <li>
                                Review their lease agreement. Think of all the things that could go wrong and see if the lease addresses them: unauthorized pets
                                or tenants, early termination, security deposit, lease violations, late rent, eviction, lawn maintenance, parking, etc.
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>
                    Once you&rsquo;ll have a good handle on the players involved in the area, decide who you will want to meet for the interview then call each
                    one of them and set up an appointment, letting them know you would like to meet them at the office.
                </p>

                <h4>The Office Visit</h4>
                <p>
                    When visiting the office observe: does it seem organized or chaotic? Is the an air of professionalism, and are the employees dressed neatly?
                </p>
                <ul>
                    <li>
                        Do they have a broker&rsquo;s license to manage real estate on behalf of other people?
                        <ul>
                            <li>
                                The individual agents don&rsquo;t have to have broker&rsquo;s license but the management company itself has to have
                                broker&rsquo;s license standing behind it.
                            </li>
                            <li>
                                If they say they are not, they don&rsquo;t have to have it, then check that with local real estate commission. If they
                                don&rsquo;t but they have to they will eventually get shut down by the real estate commission. Additionally if they are
                                licensed, then they are probably a professional real estate company.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Find out who will be the property manager for your property. Ask about his certifications and experience in the industry. Ask to see
                        those certificates. White down manager&rsquo;s name and verify those certificates on the local or national apartment association
                        website.
                    </li>
                    <li>Inquire about the education systems that company have in place for their property managers.</li>
                    <li>
                        Find out what&rsquo;s the name of the software they are using for accounting. If they are running reports only through an Excel
                        spreadsheet you might want to think twice.
                    </li>
                    <li>Find out what types of reports you&rsquo;ll see on a monthly and annual basis.</li>
                    <li>
                        Get a list of properties they manage or If property management company lists addresses of the properties online, visit those properties
                        to get a good feel for the they way a company manages properties, by observing the exterior condition of their properties. Go through
                        apartment showing process as if you were a tenant looking for apartment to rent.
                    </li>
                    <li>
                        What background checks do they do? What criteria from background checks do they use in determining qualification of the tenants? Make
                        sure they check following:
                        <ul>
                            <li>Work and rental history</li>
                            <li>Credit and criminal history</li>
                        </ul>
                    </li>
                    <li>How do they collect rent?</li>
                    <li>
                        Do you have in-house repair crew or do you use outside contractors?
                        <ul>
                            <li>
                                If they have in-house, this may mean that they will charge more take longer, do repairs what doesn't really need to be repaired.
                            </li>
                            <li>
                                If they use outside contractors, this may result in lower costs for maintenance and upkeep than you would be able to find on
                                your own.
                            </li>
                        </ul>
                    <li>
                        What&rsquo;s your communication style? When do you get in touch with me? What types of things would you let me know about? How often
                        would you get in touch with me?
                        <ul>
                            <li>
                                Tell them that you want communication every issue. Doesn't have to be a long phone call, it can be short email, but just let me
                                know what&rsquo;s going on.
                            </li>
                        </ul>
                    </li>
                    <li>
                        How often do you do drive by? Do you do drive by on a scheduled time or random time?
                        <ul>
                            <li>Property manager needs to do at least two drive bys per year at a random time.</li>
                        </ul>
                    </li>
                </ul>
                <p>
                    <a href="/assets/team/property-management-company-interview-questions.docx" target="_blank" class="text-decoration-none">
                        Download full list of property management interview questions.</a>
                </p>

                <h4>Property Visit</h4>
                <ul>
                    <li>
                        <strong>Property Condition</strong>
                        <ul>
                            <li>
                                When you first drive onto the property observe the condition of the landscaping. Is it pleasant, or does the grass need mowing
                                and are weeds popping up everywhere?
                            </li>
                            <li>Make sure the property is clean. Look to make sure there isn&rsquo;t trash lying around.</li>
                            <li>
                                Observe the condition of the buildings, paying special attention to any obvious deferred maintenance and capital items such as
                                broken windows, stucco and siding damage, old paint, and other signs of neglect.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Tours/Models</strong>
                        <ul>
                            <li>Ask to see the models or the units for the rent and observe the sales presentation.</li>
                            <li>
                                Observe the condition of the models or units. Are they clean and stylish? Do they get you exited about living at the community,
                                or are they forgettable?
                            </li>
                            <li>After the tour, the leasing agent should have immediately tried to get you to lease.</li>
                        </ul>
                    </li>
                </ul>

                <p>
                    Have a lawyer review contracts. They will be able to help you avoid any hidden traps.
                </p>

                <p>
                    Once you have visited the property management offices, talked to the staff, reviewed online reviews, received policies and procedures,
                    visited sample properties, and had a lawyer review contracts, you will have a pretty good idea of who will be a good fit to manage your
                    property.
                </p>

                <h4>The Management Contract</h4>
                <ul>
                    <li>
                        You should always have an attorney review any contract that you are going to sign. An attorney will be able to tell straightaway whether
                        a company is trying to fleece you with hidden clauses or trick fee structures.
                    </li>
                    <li>Never sign an agreement with just a flat fee structure.</li>
                    <li>If rate is above market, try to negotiate fee down to what property management companies in the market are charging.</li>
                    <li>
                        Determine if the agreement is clear that you will have financial control over the property, and that you can set the guidelines on
                        spending habits.
                    </li>
                    <li>
                        The management agreement should spell out clearly the responsibilities of the management company, and should have legal language for you
                        as the owner if those responsibilities are not met.
                    </li>
                    <li>Don&rsquo;t sign multiyear agreements that lock you into a contract wit penalties for early cancellation.</li>
                </ul>

                <h4>Analyze Their Performance</h4>
                <p>
                    After contracting with a management company, give them a few months to get settled. Then you will need to craft a system to analyze their
                    performance. You can measure their success by the following:
                </p>
                <ul>
                    <li>A lower vacancy rate</li>
                    <li>Greater return to the owner</li>
                    <li>Better collections</li>
                    <li>Lower turnover</li>
                    <li>Fewer complaints</li>
                    <li>Better condition</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>