<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Detailed Operating Budget</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Most property management firms will have prepared an operating budget for the current year, and later in the calendar year, next
                    year&rsquo;s
                    operating budget. This budget will factor in any upcoming maintenance and needed repairs to the property. Always ask for current
                    year&rsquo;s
                    operating budget and, if they have it, next year&rsquo;s budget as well. This will alert you to any expenditures planned for repairs,
                    replacements, maintenance issues, code compliance issues, upgrades, refurbished plans, and tenant improvement projects coming up.
                </p>
                <p>
                    Some property managers are reluctant to hand it over and many give some excuse for not being able to. Don&rsquo;t just passively accept it.
                    Insist you need to see it. If they say they can&rsquo;t, ask if there is anything that the owner is trying to hide from you. Tell them it is
                    important for you to review it. There is much to be learned and it will tell you a lot about what&rsquo;s happening with the building.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>