<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Property Tax Appeals</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Prior to removing contingencies, make sure that all property tax appeals have been processed. Also, get the contact information for any tax
                    consultants that have been retained to ensure all tax appeals are submitted or in process.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>