<div class="container-xxl">
    <div class="row mt-4">
        <div class="col-xl-12">
            <div class="page-header">
                <h1>Classifications</h1>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-xl-12">
            <h4>Multifamily</h4>
            <p>
                Multifamily classification is generally split into two categories: small and large. Small multifamily properties are any property that contains
                two, three, or four units. Large multifamily properties, therefore, are those with five or more units. This is an important distinction because
                of the way these properties are valued and financed. Smaller multifamily properties are considered “residential” to most lenders and are thus
                seen as no different from a single-family residence (SFR). Large multifamily, however, is considered commercial real estate, and the rules
                change drastically.
            </p>
            <p>
                While the value of a residential property (single family or small multifamily) is determined by what the similar house down the street sold for,
                value on commercial property is determined by comparing the ROI one would achieve with that of other commercial properties down the street. More
                technically, it is based on the ROI an investor would achieve if they did not use the loan. This is known as a Capitalization Rate (cap rate),
                and every location has a different normal cap rate to compare different properties against.
            </p>
            <p>
                See <a href="javascript:void(0)" (click)="onMultifamilyProsAndConsClick()" class="text-decoration-none">multifamily pros & cons</a>.
            </p>

            <h4>Location</h4>
            <div class="ps-4">
                <p>
                    <strong>Class A</strong> location is an area that has the newest buildings, hottest restaurants, best schools, wealthiest people, and
                    highest-cost real estate. This is truly the best location you can find, and the highest-quality tenants are looking to rent here.
                </p>
                <p>
                    <strong>Class B</strong> location might be slightly older than a Class A one, but perhaps still has decent restaurants, schools, and people.
                    This might be your &quot;middle class&quot; areas, but these will attract more blue collar workers who live paycheck to paycheck.
                </p>
                <p>
                    <strong>Class C</strong> location is likely a lower-income area with homes that are old, 30 years or more. This area tends to attract people
                    who are either on government subsidies or working low-wage jobs. You&rsquo;ll likely find a lot of check-cashing businesses, pawn shops, and
                    other such businesses in this area.
                </p>
                <p>
                    <strong>Class D</strong> location is a war zone where you likely would not want to travel alone. Not every city has a Class D area, but
                    you&rsquo;ll likely recognize one when you see one. Often, even cops are nervous about entering these areas, and crime and drug use/sales
                    run rampant. There are probably numerous buildings with boarded-up windows and other indications of being vacant.
                </p>
            </div>

            <h4>Building</h4>
            <div class="ps-4">
                <p><strong>Class A</strong> building follows the same concept. It is generally newer, probably less than ten years old, and therefore has fewer
                    maintenance issues. The building has modern amenities, such as granite countertops, hardwood floors, and other in-demand features. Class A
                    properties generally command the highest rent but may provide a lower amount of cash flow, because of the high-demand for an &quot;easy
                    investment.&quot; More demand, higher purchase cost = lower cash flow.</p>
                <p><strong>Class B</strong> building follows the same concept. It is probably 15-30 years old, mostly upgraded but perhaps lacking the shine of
                    a Class A property. Rental income is probably lower than what you might find with a Class A property, and the maintenance costs will likely
                    be higher because of the age of the home.</p>
                <p><strong>Class C</strong> building follows the same concept. The property is likely older than 30 years and looks the part. Numerous repairs
                    are likely needed, and ongoing maintenance should be expected. Systems in the property, such as plumbing and electrical, may be outdated and
                    require ongoing attention. Properties will typically rent for a low amount in this area, but the properties will also be much more
                    affordable than Classes A or B.</p>
                <p><strong>Class D</strong> building is likely old, similar to a Class C one, but with far more neglect. Chances are, the property is currently
                    uninhabitable, needing significant repairs before it could be lived in. Class D properties are generally exceptionally cheap, but getting
                    good tenants can be difficult.</p>
            </div>
        </div>
    </div>
</div>