<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Due Diligence Resources &amp; Companies</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    There are many companies out there that conduct due diligence and provide reports such as Environmental reports and PCA report. Consider
                    hiring one of the many reputable firms who specialize in conducting due diligence, such as EBI, AEI, etc. Be certain that you pick one that
                    is on your lander&rsquo;s approved list before hiring them. Without lender approval you may be forced to have report completed again by
                    another vendor acceptable to lender.
                </p>
                <p>
                    The easiest way to find a home inspector is by asking your real estate agent who they like to work with. They’ll likely have the name of
                    someone that they’ve worked with in the past. If you are not working with an agent, or if your agent doesn’t have any recommendations, ask
                    other local real estate investors, real estate agents, mortgage professionals, and/or property owners.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>