<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Why is Owner Selling?</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Find true motivation, you want to know whether your seller is <i>motivated</i>, and if so, to what degree. Are they looking for the absolute
                    highest price? Are they in need of a fast closing? The more motivated the seller, the more likely the seller is to be flexible on both price
                    and terms. <u>For example, if the home has been sitting on the market for a long time, and you have a good indication that the seller is
                        eager to sell, there is no real danger in submitting a lowball offer to see what happens. However, if you are in a competitive market
                        and a new listing hits the MLS at a great price and you know that it's going to sell quickly, you may want to cut out the chase and
                        simply offer your highest amount, right then and there. Sometimes, you may even need to offer more than the asking price.</u>
                </p>

                <p>
                    Reasons for selling typically fall into one or more of the following six categories:
                </p>

                <ul>
                    <li>
                        <strong>Need proceeds from sale for another investment opportunity.</strong>
                        <ul class="list-style-none">
                            <li>
                                The degree of motivation will vary depending on factors such as how much value was created and the timing for entry into the
                                next investment. If, for example, the seller created $600,000 in value on a $3-million apartment complex over a 12-month period,
                                the seller may in fact be willing to accept $2.85 million for the deal, thinking that a bird in the hand is worth two in the
                                bush. In other word, instead of holding out for the full $600,000 in profits - which could take as long as another six months to
                                a year - the seller can go ahead and accept the lower price, lock in a gain of $450,000 and be ready to move on to the next
                                deal. You may be inclined to think that $150,000 is a lot to leave on the table, and, granted, it is, but a value player has a
                                different mindset. The value player is thinking about the next deal and the $500,000 he or she will make on it.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Burned out due to poor management.</strong>
                        <ul class="list-style-none">
                            <li>
                                The degree of motivation will correlate directly with the seller&rsquo;s degree of distress. This is where subtle clues can be
                                detected by direct communication with the seller. Does the seller seem anxious, frazzled, or short with the staff? Indications
                                of poor management will also show up in the financial statements. For example, the vacancy rate may be high relative to the area
                                as a whole; the unit turnover ratio may be high; and make-ready costs may be higher than normal. If the seller is suffering from
                                burnout related to managing the property, the seller will most likely be highly motivated, and a highly motivated seller is a
                                flexible seller.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Changes in economic conditions.</strong>
                        <ul class="list-style-none">
                            <li>
                                Changes in macroeconomic conditions are changes that occur outside of and unrelated to a specific property, but which may affect
                                the property either positively or negatively. A shift in demographics, crime, or employment trends, for example, are all changes
                                over which the owner has no direct control, but may affect the operations of the property anyway. The apartment owner may have
                                been doing an excellent job over the years of keeping up the property and managing it, but something like an increase in crime
                                or job layoffs will have a direct adverse impact on the property&rsquo;s level of profitability. As a buyer, you will want to
                                tune in to and absorb as much information as possible about these conditions, because as the new owner, you, too, will have very
                                little control over them.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Tax considerations.</strong>
                        <ul class="list-style-none">
                            <li>
                                If the seller is involved in an exchange, then the seller is limited by law to a fixed number of days to identify another
                                property and subsequently close on it. These strict time constrains can impact the seller on both ends of this transaction - the
                                divestment of the current property and the acquisition of the new one. If the seller has not identified a new property to
                                purchase yet, the seller may not be that motivated, and may, in fact, stall the sale.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Life-changing event.</strong>
                        <ul class="list-style-none">
                            <li>
                                These events include such things as divorce, illness in the family, or the death of a loved one. If something were to happen to
                                one spouse - being seriously injured in a car wreck, for example - the other spouse may be forced to sell if he or she had
                                little involvement in operating the property.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Retirement.</strong>
                        <ul class="list-style-none">
                            <li>
                                At some time in everyone&rsquo;s life, they reach a point at which they are ready to retire. For example, the couple had owned
                                the apartment complex for 25 years and had just made their last mortgage payment. They were both of retirement age, and selling
                                the apartment would give them a sizable lump sum of cash on which to retire.
                            </li>
                        </ul>
                    </li>
                </ul>

                <p>
                    In markets where properties priced at market value fail to give you the cash flow you want, search for a property that you can buy at a
                    bargain price. Look for owners plagued by their poorly executed property management, dumb financing, high vacancies, or differed
                    maintenance. Then offer them quick relief from their pain.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>