<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Heading Towards the Finish Line</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Once you&rsquo;ve completed much of your physical due diligence and record review, you are ready to work on the lender required documents.
                </p>
                <p>
                    Be certain you haven&rsquo;t missed anything by going through your email chains, notes, memos, to see if there were items and answers that
                    that
                    were promised but not delivered, and things that could have slipped through the cracks. If you wait until last minute, things will get
                    hectic and
                    you will most likely forget about them.
                </p>
                <p>
                    Go through discussions with your team members, to make sure nothing has been forgotten or left out. <strong>Review your Due Diligence
                        Document
                        Checklist to see if you received everything you asked for.</strong>
                </p>
                <p>
                    Once your due diligence contingency period is up and your earnest money deposit is &quot;hard&quot; i.e. nonrefundable, you no longer have
                    much
                    of the negotiating leverage. That is why you need to be certain ALL the answers you were looking for are satisfactory and no loose ends
                    remain.
                    Generally, most of the negotiations are going to happen just prior to your expiration of the due diligence period.
                </p>

                <p>
                    Answer the following questions:
                </p>
                <ul>
                    <li><strong>Ideal Offer</strong> - At what price would you really like to buy that property?</li>
                    <li><strong>Target Price Range</strong> - At what price range will you still buy it?</li>
                    <li><strong>Walk Away Price</strong> - At what price will you walk away from the deal?</li>
                </ul>

                <p>
                    That way you have a strategy in mind beforehand to work with and you know ahead of time what your position is so you feel more confident
                    while
                    negotiating.
                </p>
                <p>
                    It&rsquo;s easy to get emotionally involved in the process if you feel you must own the property. It&rsquo;s best to take much of that
                    emotion
                    out of the equation.
                </p>

                <p>
                    If you are going to ask the seller for a price reduction or a contribution toward the repair or replacement of equipment, or some other item
                    or
                    issue, you need to be able to justify your request. It must be a legitimate reason and not some fabricated excuse to ask for a discount.
                    That
                    will only serve to alienate the seller and tarnish your reputation as a buyer in the commercial real estate market.
                </p>
                <p>
                    One way to make your request, is to write the seller an email stating the facts of your findings, including some bids for the replacement or
                    repair, any why you believe it would be fair and equitable for them to provide the credit.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>