@use '@angular/material' as mat;
@include mat.core();




$my-primary: mat.define-palette(mat.$cyan-palette, 700);
$my-accent:  mat.define-palette(mat.$cyan-palette, 500);
$my-warn: mat.define-palette(mat.$red-palette,500);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

$my-palette: mat.define-palette(mat.$indigo-palette);

.my-custom-style {
 background: mat.get-color-from-palette($my-palette, '500');
 color: mat.get-color-from-palette($my-palette, '500-contrast');
}

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);
@include mat.button-theme($my-theme);
