<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Walk Through Every Room</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Walk through every room of the property you want to see it ALL, no matter how much work or inconvenience the seller may insist that it
                    will cause. Once you own it, you own all the issue and problems that come with it. It&rsquo;s a &quot;red flag&quot; when seller says
                    there is no way he is going to let you walk all the spaces. If they are insistent, pass on the deal because this will bring unnecessary
                    risks.
                </p>
                <p>
                    Walk through every room of the property with property manager. Mission is to have property manager identify what needs to be replaced,
                    fixed,
                    added, and provide cost estimate for it. Help you to identify what it will take to run the property, assess the cost of maintenance,
                    identify what expenses can be minimized or eliminated, identify where more income can be generated, give you an idea what new rent amount
                    will be after the improvements are done, etc.
                </p>
                <p>
                    You are looking for two things - anything that&rsquo;s wrong with the building now that the seller should fix, and anything that could
                    be a problem after you take over, which you will have to fix. Either way, however your goal is to see that the seller pays for the major
                    repairs.
                    If it&rsquo;s something he must fix, he&rsquo;ll pay for it out of his pocket. If it&rsquo;s something you will have to fix, you&rsquo;ll
                    try to
                    get the seller to adjust the purchase price to reflect the extra expense.
                </p>
                <p>
                    This will also give you an opportunity to get a handle on your tenants and how they treat their apartments and the building. Recognize the
                    difference between how you live and how they live, and know that tenants have every right to live as they want to in their own homes.
                    It&rsquo;s
                    OK to let the dishes pile up or to leave the bathroom looking like something abandoned by the 101st Airborne. It&rsquo;s not OK to run a
                    meth lab
                    in the kitchen of to warehouse a suspicious cache of flat-screen TVs in the second bedroom.
                </p>
                <p>
                    Before you buy multifamily building, test soundproofing between units. If you can hear a television, people walking or talking, or toilets
                    flushing, beware. Unless you can solve the noise problem, tenants will complain and you will suffer higher turnover.
                </p>
                <p>
                    Verify inventory items list provided by the seller. Identify and list every item that the seller might maintain was not included in
                    the inventory items list. You list personal property for another purpose, too. You want the sellers to identify what personal property
                    belongs to
                    them and what belongs to their tenants. Property investors who do not obtain an accurate list of the seller&rsquo;s personal property (that
                    is,
                    personal property to be transferred to the buyer) may later find themselves in dispute with tenants when the tenants claim, &quot;That
                    refrigerator is ours. The junk icebox the landlord provided was carted off to the dump two years ago.&quot; To deter such claims, ask the
                    tenants
                    to sign off on any list of personal property that the sellers prepare.
                </p>
                <p>
                    Take photos of the inventory so that you can look to see if any of the equipment and/or supplies were moved our
                    prior to the close of the escrow. Also, look for:
                </p>
                <ul>
                    <li>
                        Clues about the lifestyle of the current residents: drug activity, people living in squalor, etc. A resident living without furniture,
                        sleeping on the floor, and keeping his articles in a Hefty bag could be a future vacancy.
                    </li>
                    <li>
                        Residents not living in units that the seller had designated as rented. Some sellers inflate their rent rolls and list
                        residents who don&rsquo;t really exist, or simply have such bad records that they do not know the current rental picture.
                    </li>
                    <li>
                        Missing furniture, appliances, or items near the end of their life. Make a list of all appliances, carpet, vinyl floors, and cabinets
                        that fall into these categories.
                    </li>
                    <li>Major water, smoke, fire, or resident damage to the premises and contents.</li>
                    <li>Telltale of pest problems is each unit and document any pest control needs.</li>
                </ul>

                <h4>Key Places to Visit</h4>
                <ul>
                    <li>
                        HVAC room.
                        <ul>
                            <li>
                                <strong>Water heaters:</strong> Inquire about the age and condition as well as physically inspect. Make note of any rust,
                                corrosion
                                or any leakage. Average age span is around 8-10 years. Check to see if there is a plate or sticker on it that tells when it was
                                manufactured.
                            </li>
                        </ul>
                    </li>
                    <li>Storage areas.</li>
                    <li>
                        Roof.
                        <ul>
                            <li>
                                Look for soft spots, stains and areas where the membrane material has pulled away from the roof surface. Be sure to look at
                                ceiling tiles and/or hard lid ceilings on the floor directly below the roof for stains and/or wet spots. Ask top floor tenants
                                if
                                they experienced any leaks.
                            </li>
                        </ul>
                    </li>
                    <li>Elevator equipment room.</li>
                </ul>

                <p>
                    If you see things are in disarray, scattered haphazardly with trash, dirty equipment and old broken fixtures sitting around, there is an
                    excellent chance that the building will have issues and equipment that are in disrepair and not properly maintained.
                </p>
                <p>
                    On the other hand, don&rsquo;t allow yourself to be misled by newly painted equipment and squeaky-clean equipment rooms. These may be a
                    mask to hide some issues that are there, but hard to discern without a thorough inspection by a qualified contractor or vendor.
                </p>

                <p>
                    <a href="/assets/due-diligence/post-acceptance/exterior-physical-inspection-checklist.docx" target="_blank"
                        class="text-decoration-none">Download
                        exterior physical inspection
                        checklist</a><br />
                    <a href="/assets/due-diligence/post-acceptance/interior-physical-inspection-checklist.docx" target="_blank"
                        class="text-decoration-none">Download
                        interior physical inspection
                        checklist</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>