<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Follow-up</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    About five to seven days before your earnest money deposit is non-refundable go through all your emails to see what has and has not
                    been received that was promised. Also, check with your team members to see if they have any outstanding issues that have not been addressed
                    or
                    information not yet received. If you&rsquo;re not diligent about this, you will be in a less advantageous position to demand a response once
                    your
                    earnest money deposit is non-refundable.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>