<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">HOA Documents</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    If the property is governed by an HOA, you&rsquo;ll need to review the HOA&rsquo;s declaration of covenants, conditions, and restrictions,
                    more commonly referred to as the CC&amp;Rs. This document explains all the things you can and cannot do according to the HOA.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>