<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Real Estate Interior Designer</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <h4>What Does an Interior Designer Do?</h4>
                <p>
                    An interior designer does more than just select colors for walls or find a rug that ties the sofa to the drapes; that's more the domain of a
                    decorator. An interior designer considers how you’ll use a space—the contours, angles, and proportions of the space; the sustainability of
                    materials; and your particular taste and style.
                </p>
                <p>
                    Designers also have a network of trusted contractors, retailers, and artisans who help turn your dreams into reality.
                </p>
                <p>
                    Of course, some clients say, “Wake me when it’s done,” and rely on interior designers to do everything so long as it stays within a budget.
                    But most clients want a true partnership with their designer—a free exchange of ideas and the ultimate say about what goes in their home.
                </p>

                <h4>How Do You Find Interior Designers?</h4>
                <p>
                    Although anyone can call himself a designer, the highest-qualified interior designers have a college degree in design and have obtained a
                    NCIDQ Certification given by the Council for Interior Design Qualification.
                </p>

                <ul>
                    <li>
                        Search on <a href="https://www.asid.org/find-a-pro" target="_blank" class="text-decoration-none">asid.org</a>. The Professional
                        Association
                        for Interior Designers
                        (ASID) maintains a database of members who meet the group's educational and work experience standards.
                    </li>
                    <li>
                        Ask for referrals on <a href="https://www.biggerpockets.com/" target="_blank" class="text-decoration-none">
                            BiggerPockets</a>, property management company, real estate agent.
                    </li>
                </ul>

                <p>
                    When you have a few names, check out their online portfolios and pay particular attention to before and after shots.
                </p>

                <h4>Interview Questions</h4>
                <ul>
                    <li>Ask about the designer&rsquo;s education, experience.</li>
                    <li>Discuss what other services the designer can provide. Can she manage the job if you&rsquo;re away on vacation?</li>
                    <li>Does designer have contractors that will do the work?</li>
                    <li>What visuals will the designer provide? Sample pictures, scale or elevation drawings?</li>
                    <li>How does designer&rsquo;s billing work?</li>
                    <li>Talk about the best way to communicate with the designer - telephone, email, text?</li>
                </ul>

                <p>
                    <a href="/assets/team/interior-designer-interview-questions.docx" target="_blank" class="text-decoration-none">Download interview
                        questions</a>.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>