<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Pests/Wood Destroying Organisms Inspection</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Termites, flying beetles, carpenter ants, and other wood-eating bugs can cause tens of thousands of dollars in structural damage to a house,
                    years before a homeowner or tenant even knows they are there! If your home inspector finds evidence of pests in the home, or if you simply
                    live in an area of the country where this is common, hiring a professional pest inspector to perform a pest inspection would be wise. This
                    is also known as an "inspection for wood destroying organisms." These inspections are generally done by local pest control companies whose
                    workers are specifically trained to spot signs of these "silent killers."
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>