<div class="row mt-4">
    <div class="col-xl-12 pt-2">
        <div class="card shadow">
            <div class="card-header bg-info-2 text-white">Rents</div>
            <div class="card-body">
                <h6 class="card-subtitle text-muted">What are the average rents for different types of floor plans?</h6>
                <div class="row mt-2">
                    <div class="col-xl-12 mt-3">
                        <table class="table table-bordered table-hover shadow">
                            <thead>
                                <tr class="table-info">
                                    <th colspan="5" class="text-center">All Occupied Units</th>
                                </tr>
                                <tr class="table-secondary">
                                    <th>Floor Plan</th>
                                    <th>Units</th>
                                    <th>Avg Contract Rent</th>
                                    <th>Avg Market Rent</th>
                                    <th>% of Market Rent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let floorPlan of rentRollSummary.rentsAllOccupiedUnits.rentsFloorPlans">
                                    <td>{{floorPlan.floorPlan}}</td>
                                    <td>{{floorPlan.units}}</td>
                                    <td>{{floorPlan.averageContractRent | currency}}</td>
                                    <td>{{floorPlan.averageMarketRent | currency}}</td>
                                    <td>{{floorPlan.percentOfMarketRent}}%</td>
                                </tr>
                            </tbody>
                            <tfoot class="fw-bold">
                                <tr class="table-secondary">
                                    <td>Total Average:</td>
                                    <td>{{rentRollSummary.rentsAllOccupiedUnits.units}}</td>
                                    <td>{{rentRollSummary.rentsAllOccupiedUnits.averageContractRent | currency}}</td>
                                    <td>{{rentRollSummary.rentsAllOccupiedUnits.averageMarketRent | currency}}</td>
                                    <td>{{rentRollSummary.rentsAllOccupiedUnits.percentOfMarketRent}}%</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-xl-12 mt-3">
                        <table class="table table-bordered table-hover shadow">
                            <thead>
                                <tr class="table-info">
                                    <th colspan="5" class="text-center">Occupied Non-Renovated Units</th>
                                </tr>
                                <tr class="table-secondary">
                                    <th>Floor Plan</th>
                                    <th>Units</th>
                                    <th>Avg Contract Rent</th>
                                    <th>Avg Market Rent</th>
                                    <th>% of Market Rent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let floorPlan of rentRollSummary.rentsNonRenovatedOccupiedUnits.rentsFloorPlans">
                                    <td>{{floorPlan.floorPlan}}</td>
                                    <td>{{floorPlan.units}}</td>
                                    <td>{{floorPlan.averageContractRent | currency}}</td>
                                    <td>{{floorPlan.averageMarketRent | currency}}</td>
                                    <td>{{floorPlan.percentOfMarketRent}}%</td>
                                </tr>
                            </tbody>
                            <tfoot class="fw-bold">
                                <tr class="table-secondary">
                                    <td>Total Average:</td>
                                    <td>{{rentRollSummary.rentsNonRenovatedOccupiedUnits.units}}</td>
                                    <td>{{rentRollSummary.rentsNonRenovatedOccupiedUnits.averageContractRent | currency}}</td>
                                    <td>{{rentRollSummary.rentsNonRenovatedOccupiedUnits.averageMarketRent | currency}}</td>
                                    <td>{{rentRollSummary.rentsNonRenovatedOccupiedUnits.percentOfMarketRent}}%</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-xl-12 mt-3">
                        <table class="table table-bordered table-hover shadow">
                            <thead>
                                <tr class="table-info">
                                    <th colspan="5" class="text-center">Occupied Renovated Units</th>
                                </tr>
                                <tr class="table-secondary">
                                    <th>Floor Plan</th>
                                    <th>Units</th>
                                    <th>Avg Contract Rent</th>
                                    <th>Avg Market Rent</th>
                                    <th>% of Market Rent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let floorPlan of rentRollSummary.rentsRenovatedOccupiedUnits.rentsFloorPlans">
                                    <td>{{floorPlan.floorPlan}}</td>
                                    <td>{{floorPlan.units}}</td>
                                    <td>{{floorPlan.averageContractRent | currency}}</td>
                                    <td>{{floorPlan.averageMarketRent | currency}}</td>
                                    <td>{{floorPlan.percentOfMarketRent}}%</td>
                                </tr>
                            </tbody>
                            <tfoot class="fw-bold">
                                <tr class="table-secondary">
                                    <td>Total Average:</td>
                                    <td>{{rentRollSummary.rentsRenovatedOccupiedUnits.units}}</td>
                                    <td>{{rentRollSummary.rentsRenovatedOccupiedUnits.averageContractRent | currency}}</td>
                                    <td>{{rentRollSummary.rentsRenovatedOccupiedUnits.averageMarketRent | currency}}</td>
                                    <td>{{rentRollSummary.rentsRenovatedOccupiedUnits.percentOfMarketRent}}%</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
