<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Seller Disclosure Statement</h5>
    <button type="button" class="close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Ask seller to complete Seller Disclosure Statement (Google "seller disclosure statements", your hits will include forms from multiple
                    states. Or
                    ask broker) that lists and explains all known problems or defects that may plague a property. If the seller refuses, offset this additional
                    risk
                    by scaling down the price you offer and enhance the rigor of the property inspection.
                </p>
                <p>
                    Read this document carefully, so you'll know immediately about any issues with the property that the owner knew about. Of course, the large
                    loophole here is that the owner must know about the problems.
                </p>
                <p>
                    As you review a seller-completed disclosure statement, watch for these six issues:
                </p>
                <ol>
                    <li>Sellers cannot disclose facts or conditions of which they are unaware. Disclosures do not substitute for inspections.</li>
                    <li>
                        Disclosures reveal the known past. They make no guarantees. Sellers do not warrant the present or future condition of the property. They
                        report only what they know.
                    </li>
                    <li>
                        Disclosure questions permit subjective answers. Are playing children a neighborhood noise problem? Is a planned street widening an
                        adverse
                        condition?
                    </li>
                    <li>Disclosure statements may not require sellers to disclose property defects that you can readily see. Inspection supersedes disclosure.
                    </li>
                    <li>
                        Beware of seller (or agent) statements that begin, &quot;I believe&quot;, &quot;I think&quot;, &quot;as far as we know&quot;, and other
                        similar hedges. Do not accept these answers as the final word. Follow up hedged statements or assertions with definitive inquiry or
                        inspection.
                    </li>
                    <li>
                        Many non-occupant owners claim no knowledge as to defects and condition. Their disclosure form often lack substantive answers. But they
                        will
                        maintain a record of service calls, maintenance, and replacements - as these records are required by the IRS. Ask the seller to produce
                        or
                        adjust your offer accordingly.
                    </li>
                </ol>
                <p>
                    Seller disclosures help you understand and value properties. But even so, give them only as much weight as they deserve. Some sellers forget
                    that
                    their boiler bangs like a tin drum; or maybe a circuit breaker pops each time a toaster and microwave operate at the same time. Sellers
                    often
                    fail to disclose.
                </p>

                <h4>Income Properties</h4>
                <p>
                    Most states, if not all, require that the seller disclose any known defects in a property before selling it. Therefore, in most deals you
                    purchase with the help of a real estate agent, the seller will give you a pile of forms in which the seller lists anything that might be
                    wrong with the property. <u>However, some seller disclosure laws apply only to one-to-four family owner-occupied properties. If you buy an
                        apartment building or shopping center, the law may not require the seller to fill out a disclosure statement. If, in this situation, the
                        seller refuses, offset this additional risk by scaling down the price you offer, and enhance the rigor of your pre-purchase
                        inspections.</u>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>