<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Personal Property Inventories</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Make sure following list is provided and included in the purchase and sale agreement, and is transferred at the close of escrow.
                </p>
                <ul>
                    <li>Appliances in each apartment</li>
                    <li>Laundry room equipment</li>
                    <li>Any other personal property included in the sale price</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>