<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Certificate of Occupancy</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    This inspection is seller&rsquo;s responsibility and is done by having an inspector employed by local Building &amp; Safety Department do
                    property inspection and confirm property qualifies for a certificate of occupancy.
                </p>
                <p>
                    The purpose of obtaining a certificate of occupancy is to prove that, according to the law, the house or building is in liveable condition.
                    Generally, such a certificate is necessary to be able to occupy the structure for everyday use, as well as to be able to sign a contract to
                    sell
                    the space and close on a mortgage for the space.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>