<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Tenant Interviews</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    <strong>Do not pass up the opportunity to interview the tenants.</strong> There are many critical issues that can be found out about the
                    building: its history, its current ownership, as well as, what improvements can be made to enhance tenant relations and retention. It is too
                    valuable of a source of information. It may even help to change your mind about going forward with the purchase.
                </p>
                <p>
                    It is best to have a tenant questionnaire sent to the tenants ahead of time to prepare for the interview.
                </p>

                <h4>Tenant Confirmation</h4>
                <p>
                    Write a note to each of the tenants introducing yourself, telling them you are considering buying the building, sharing a bit about your
                    plans
                    for it and asking them for any comments or suggestions that they may have for the place. (What better sources could you have to learn what's
                    really wrong with the place?).
                </p>
                <p>
                    Verify with them their signature on the Tenant Estoppel Certificate and have them review it.
                </p>
                <p>
                    Ask tenants to confirm the terms of their leases as the seller have represented them. Determine whether the sellers, or property manager
                    have entered into side agreements with tenants that would modify or override the terms of the written lease. Learn whether the seller have
                    orally promised any of the tenants special services, rent relief, or other dispensations.
                </p>
                <p>
                    Ask the tenants to sign off on any list of the seller's personal property that the sellers prepare.
                </p>

                <h4>Tenant Interview Questions</h4>
                <ol>
                    <li>How long have you been living in this apartment?</li>
                    <li>Why did you select this apartment versus other apartments?</li>
                    <li>Has the landlord and/or property management company been generally responsive in meeting your needs?</li>
                    <li>Does the landlord owe you any outstanding tenant improvement dollars or free rent?</li>
                    <li>List of security deposit, prepaid rent, and any credits land lord owes you?</li>
                    <li>Do you currently have any disputes with the landlord or property management company?</li>
                    <li>Is there any litigation currently pending between you and the landlord now?</li>
                    <li>Do you have any outstanding service requests?</li>
                    <li>Are there any water leaks? Have there been any water leaks?</li>
                    <li>Have there been any unusual odors?</li>
                    <li>Have there been any power outages?</li>
                    <li>Are the hallways generally kept clean and neat?</li>
                    <li>Is the exterior of the building and its surrounding area kept clean and neat?</li>
                    <li>What amenities, improvements would you like to be added?</li>
                    <li>If your lease come up for renewal now, would you consider renewing it?</li>
                    <li>What are your likes and dislikes are about your apartment?</li>
                    <li>Any problems with HVAC?</li>
                    <li>Any problems with plumbing?</li>
                    <li>Have you had any bad experiences in the building you can share?</li>
                    <li>How is security in the building and in the surrounding area?</li>
                </ol>

                <a href="/assets/due-diligence/post-acceptance/tenant-interview-questions-template.docx" target="_blank">Download tenant interview questions
                    template</a>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>