<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">All Current Service Contracts</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Make sure you receive all the current service contracts that are in effect at the building including, but not limited to:
                </p>
                <ul>
                    <li>Property management agreement.</li>
                    <li>Utilities contract.</li>
                    <li>Pool maintenance contract.</li>
                    <li>Elevator maintenance contract.</li>
                    <li>Roof maintenance contract.</li>
                    <li>HVAC maintenance contract.</li>
                    <li>Landscape maintenance contract.</li>
                    <li>Trash removal contract.</li>
                    <li>Laundry room equipment service contract.</li>
                    <li>Cable and alarm service contracts.</li>
                    <li>Yard care, snow removal contract.</li>
                    <li>Parking contracts.</li>
                    <li>Advertizing contracts.</li>
                </ul>

                <p>
                    Review carefully all service contracts in effect to make sure that they are cancelable with 30 or 60 days notice. Make special note of any
                    that
                    is self-renewing for long terms such as one year or longer. If you come across any of these types of agreements make sure that the seller
                    understands that he will be responsible for any costs incurred for early termination or be prepared to live with them for the duration of
                    the remaining term.
                </p>
                <p>
                    You want to have the flexibility of bidding other outside vendors and replacing the old ones if you feel you can strike a better deal with
                    another vendor.
                </p>
                <p>
                    Verify that these costs are in the operating budget, whether the service is needed, and also what services are missing. Assess the current
                    management company and determine whether they stay or go.
                </p>

                <p>Look for ways to improve them should they survive the transfer of ownership.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>