<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Encroachment In Real Estate</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <h4>What Is The Definition Of An Encroachment?</h4>
                <p>
                    In real estate, an encroachment occurs when a neighbor builds something either on or overhanging your property. An encroachment is a problem
                    because it impedes the use of the property for the person whose land is being encroached upon.
                </p>

                <h5>Encroachment Issues During A Home Purchase</h5>
                <p>
                    Even if the encroachment doesn't necessarily bother you, if you're looking to purchase a home, there are a couple of things to consider.
                </p>
                <p>
                    To begin with, if a neighbor builds something on your property and something happens as a result of the use of that structure, you could be
                    liable and have to file a claim against your homeowners insurance. Forgetting the possibility of an injury or significant damage for the
                    moment, this could result in higher insurance premiums, which is less than desirable.
                </p>
                <p>
                    Also consider the resale value down the line. Even if you're OK with someone possibly using your property for a specific purpose, it doesn't
                    mean the next person will be. In addition to infringing on their property rights, an encroachment might force them to pay more for title
                    insurance because they have to ensure the encroaching structure. Encroachments cause title problems because the nature of encroachments
                    makes property boundaries fuzzy.
                </p>
                <p>
                    A potential buyer finding out they may have to deal with an encroachment could choose to pass on buying a property or offer less money, so
                    this is important to think about.
                </p>

                <h4>What Types Of Encroachment Are There?</h4>
                <p>
                    When it comes to encroachments, there can be a sliding scale. Some are a bigger deal than others. Let's run through what you need to know if
                    you're going through the home buying process.
                </p>

                <h5>Minor Encroachment</h5>
                <p>
                    Not every encroachment needs to cause a huge amount of distress. A few that aren't likely to have a major impact on getting title insurance
                    or resale value include things like fences, gardens and the like. It could even be something as simple as a shrub or tree that has grown
                    beyond the property line. My next-door neighbor has had a garden right along our property line for years, but things like flowers and
                    vegetables often bring people together rather than cause a problem.
                </p>

                <h5>Major Encroachment</h5>
                <p>
                    Some encroachment issues should definitely cause a red flag. A garage or part of a house being built on your property would fall into this
                    category. Other items that can cause issues are an overhang or a tree branch that extends onto your property. If either of these fall,
                    there's the potential for major property damage and even serious injury, so it's something that needs to be considered.
                </p>

                <h5>Structural Encroachment</h5>
                <p>
                    Structural encroachment occurs when a property owner specifically builds something on land they don't own. This is typically between
                    neighbors, but it could also be between the property owner and a municipality because streets and sidewalks are often the property of the
                    city for the use of the public.
                </p>
                <p>
                    A structural encroachment could be an upstairs deck or balcony that partially overhangs your property. Garages or sheds would also be
                    included in this category. Depending on your property lines and where they were set up, a neighbor who was having a particularly bad day
                    might ask if your children had a permit to set up their lemonade stand in the neighborhood. It's not likely, but it could happen because the
                    street is public property.
                </p>

                <h4>Encroachment Vs. Easement</h4>
                <p>
                    One thing that people are often confused by is the difference between an encroachment and an easement. Although the same action can lead to
                    either, the resulting outcomes are very different.
                </p>
                <ul class="list-style-none">
                    <li>
                        <strong>Encroachment:</strong> If your neighbor builds something that's either partially or wholly on your property without an
                        agreement, it's considered an encroachment.
                    </li>
                    <li>
                        <strong>Easement:</strong> An easement also starts with something being built on or above your property. The key distinction here is
                        that the neighbor has gained an agreement to be able to access that portion of the property, often for a specific purpose.
                    </li>
                </ul>
                <p>
                    In order to see when an easement might come into play, let's look at a couple of quick examples.
                </p>
                <p>
                    Let's say your neighbor had built a shed on your property before it was fully developed for residential use. You might agree to an easement
                    granting them access to their shed. You might also have a big shared driveway that they use to gain access to their property. This would be
                    another situation where agreement about an easement might be in order.
                </p>

                <h4>What Can I Do About An Encroachment?</h4>
                <p>
                    If you're looking to get an encroachment handled when buying or selling a property, there are a few solutions you can try.
                </p>
                <ul class="list-style-none">
                    <li>
                        <strong>Talk to your neighbor:</strong> Your neighbor may be willing to move whatever is on your property over to theirs if it's
                        something like a garden or something else that can be easily moved.
                    </li>
                    <li>
                        <strong>Sell the land to your neighbor:</strong> Another option would be to sell the land that's being encroached upon by your neighbor
                        to that neighbor. This way, the neighbor doesn't have to go through the hassle of moving something that may be difficult or impossible
                        to uproot and you still receive some sort of compensation for the portion of your property that you'd be giving up. If you go this
                        route, consult your mortgage lender and/or a real estate attorney so you can be sure that you can do this with accurate survey records.
                        Your lender also has to be aware because it's important to remember that your property served as collateral for any existing mortgage
                        you might have.
                    </li>
                    <li>
                        <strong>Go to court:</strong> If you and your neighbor can't come to an amicable or fair agreement, the court is always an option. At
                        this point, it's probably a good idea to get a real estate attorney involved. A judge may have a variety of legal remedies available
                        including granting an easement or making a judgment on the value of the encroached property for the purposes of a sale.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>