<div class="container-xxl">
    <div class="row mt-4">
        <div class="col-xl-12">
            <div class="page-header">
                <h1>How to Find a Good Deal?</h1>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-xl-12">
            <ul>
                <li>
                    <strong>Find a Great Real Estate Broker: </strong>A great real estate broker who is fast and motivated is the key to success on the MLS.
                    Because there is such high competition for properties on the MLS, you need someone who is responsive and will get the job done. If you can’t
                    find this person, consider becoming an agent yourself.
                </li>
                <li>
                    <strong>Be Faster Than the Rest: </strong>Your success using the MLS is strictly tied to your ability to be fast. You may not have the
                    highest or best offer on a property, but if you get it in before the other guys, you might just hear a “yes” before the competition has even
                    looked at the property! Too late for them!
                </li>
                <li>
                    <strong>Look for Hidden Value-Add Opportunities: </strong>Look for properties that can be changed slightly to increase their value
                    dramatically. if you can envision the possibilities, you can take a mediocre property that most people would pass on and turn it into an
                    incredible deal!
                </li>
                <li>
                    <strong>Make Lots of Offers and Fail Often: </strong> Finding great deals on the MLS is largely a numbers game. You are playing with
                    statistics when trying to find that one deal that will provide great cash flow. Perhaps only one in 100 deals are worth buying, so you need
                    to look at 100 properties (on paper or screen) before you offer on one. And because most properties for which you submit an offer will not
                    work out, you need to offer often and fail often. That’s right: fail often. A wise investor once told me that if he gets more than one in
                    ten offers accepted, he knows he is offering too much! Although the ratio may be different for you, the point of his statement is solid:
                    don’t be afraid to submit a lot of offers.
                </li>
                <li>
                    <strong>Look for Old Listings: </strong>While speed is incredibly helpful when buying on the MLS, the opposite end of that spectrum can also
                    be a gold mine for investors to find hidden deals: old listings. If you’ve ever tried to sell a home, you’ll understand what I mean when I
                    say, “It’s stressful.” There is always that worry that your property won’t sell, and you’ll be stuck holding it forever. Therefore, the
                    longer a property sits on the MLS without an offer, the better chance you’ll have of getting a great deal. And the longer it sits on the
                    MLS, the more searchers forget about it. It’s no longer the “cute new kid in school.” It’s just another overpriced property that most people
                    are ignoring, and as a result, it might just be your ticket to getting a deal put together that makes financial sense (and cents!).
                </li>
                <li>
                    <strong>Focus on Distressed: </strong>When buying a property on the MLS, focus on the deals that need work. I have already talked about the
                    pros and cons of buying a fixer upper, so I don’t need to belabor the point. Just remember that homes that have some kind of “problem” are
                    the ones that 90% of the home buyers out there are avoiding, so focus in on those for the best chance at a deal.
                </li>
                <li>
                    <strong>Make Your Offer Clean: </strong>A clean offer is one without a lot of contingencies. I’ll discuss contingencies more in depth later,
                    but a contingency in an offer is a legal reason to back out. The more contingencies you have in your offer, the less inclined the seller
                    will be to accept it. Common contingencies include the “inspection contingency,” which allows you to back out if you uncover something bad
                    about the property’s condition during the inspection, or the “financing contingency,” which allows you to back out if you can’t get
                    financing. I’m not telling you to necessarily remove those contingencies, especially if you are new to this game, because they help you
                    limit risk. However, understand that the more contingencies you have in your offer, the less inclined the seller will be to accept. Imagine
                    that a seller receives two offers: one from you with numerous contingencies that would allow you to back out of the deal anytime before
                    closing for almost any reason, and another offer with no contingencies. The seller will likely choose the “cleaner” offer because they don’t
                    want to be jerked around—even if the cleaner offer was for less! Therefore, keep your offer as clean as possible to increase your chance of
                    getting an acceptance.
                </li>
                <li>
                    <strong>Work When No One Else Is Working: </strong> Finally, when dealing with the MLS, make it your goal to submit offers when your
                    competition is relaxing. BiggerPockets contributor and real estate investor Mark Ferguson often talks about the success he has had by
                    offering on deals on Friday, when most agents and investors have already begun wrapping up for the week and are planning their weekend
                    fishing trip or barbecue! By the time Monday rolls around and other agents and investors start working, he’s got the contract accepted and
                    the property tied up, and he is already getting his inspection scheduled. This same principle applies to holidays and especially to the end
                    of the year. Most people see the time between Thanksgiving and New Year’s Day as “holiday” time, so they work half as hard. Savvy investors,
                    however, know that this is the best time all year to find deals, for two reasons. One, during this season, banks are in a hurry to unload
                    their properties before the new year, and two, there is less competition for properties!
                </li>
            </ul>
        </div>
    </div>
</div>