<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Operating Statements</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>Operating Statement includes following:</p>
                <ul>
                    <li>Operating Revenues</li>
                    <li>All Non-Mortgage Expenses</li>
                    <li>Net Operating Income</li>
                </ul>

                <p>
                    The important things to look for are that every bit of income, including the tenants&rsquo;s deposits, and every important expense have been
                    or can be documented. And don&rsquo;t fret over the $19 charges at Home Depot; you&rsquo;re looking for the $1,900 in furnace repairs.
                </p>
                <p>
                    You don&rsquo;t want any surprises after you take over the building. If the seller says the air conditioners in apartment 2B were replaced
                    two years ago, trust and verify. Ask to see the receipts.
                </p>
                <p>
                    Have all the paperwork reviewed by your accountant and your lawyer. You pay them to find any problems. You want them to sign off on
                    everything before you take it to your lender as part of your loan application.
                </p>

                <p>Make sure to verify:</p>
                <ul>
                    <li>
                        <strong>Income:</strong> Make sure rent and other income numbers on lease and rent roll match the income numbers
                        on Profit &amp; Loss statement.
                    </li>
                    <li><strong>Expenses:</strong>
                        <ul>
                            <li>
                                <strong>Tax: </strong>Verify by checking county assessor&rsquo;s website.
                                <ul>
                                    <li>
                                        Property sales often trigger tax increases. Pay attention to the property assessment, value of the property. If you
                                        purchased property for $2 million but last time property was assessed at $1.5 million, the the county will get excited
                                        and potentially increase your tax bill. Consult with your CPA about this.
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <strong>Insurance: </strong>Call insurance broker and get a quote. Get couple insurance agents to bid on the property and use
                                that number in your projections. Asks insurance broker is property has all required insurance coverage. If no, find out what and
                                how much does it cost.
                            </li>
                            <li>
                                <strong>Water: </strong>Call local water department.
                            </li>
                            <li>
                                <strong>Sewer: </strong> Call local water or sewer department.
                            </li>
                            <li>
                                <strong>Garbage: </strong> Call local trash provider.
                            </li>
                            <li>
                                <strong>Gas: </strong>Call local gas company.
                            </li>
                            <li>
                                <strong>Electricity: </strong>Call local electric company.
                            </li>
                            <li>
                                <strong>HOA (if needed): </strong>Call the HOA.
                            </li>
                            <li>
                                <strong>Snow removal: </strong>Ask local landlords what they pay or call a snow removal company.
                            </li>
                            <li>
                                <strong>Lawn care: </strong> Ask local landlords what they pay or call a lawn care company for a quote.
                            </li>
                            <li>
                                <strong><a href="javascript:void(0)" (click)="onCapitalExpendituresClick()" class="text-decoration-none">Capital
                                        expenditures:</a></strong> Keep an eye on the amount in the capital expenditures account if the amount is too low most
                                likely that means property has some deferred maintenance.
                            </li>
                            <li>
                                <strong>Replacement reserves: </strong>Bank will tell you what it requires you to set aside for capital improvements, usually
                                it&rsquo;s around $300 per unit. Use that number in your projections. Has the owner allocated sufficient amounts for replacement
                                reserves? <u>Some investors use replacement reserve expense instead of estimating capital expenditures.</u>
                            </li>
                            <li>
                                <strong>Has the seller self-managed or self-maintained the property and therefore failed to include his unpaid managerial and
                                    maintenance work as cash expense?</strong> Do not reward the seller for the work that you will contribute to the property.
                                Count self-management as an expense.
                            </li>
                            <li>
                                <strong>Vacancy loss: </strong> Ask local property management for market vacancy rate. If property's vacancy rate is way off,
                                find out why. Consider this: the average vacancy rate in my area hovers around 6%–8%, but in my company, we run under 2% all
                                year round. Of course, when I analyze a deal, I am sure to include a 6%–8% vacancy rate, knowing that I will not always be the
                                one managing my properties so efficiently.
                            </li>
                            <li>
                                <strong>Property management:</strong> Get a quote from local property management companies research current one. See if you need
                                to change to a new property management company. Property management companies typically charge a percentage of the rent, along
                                with a fee, to rent out a unit. These numbers can vary based on area, but in my area, property managers charge 10% of the
                                monthly rent and 50% of the first month's rent when a unit is turned over. Rather than spending the time to get exact cost of
                                the property management based on vacancy rate. I will generally just add 1% to whatever the monthly percentage is. In this case,
                                the property manager charges 10%, so I'll call it 11%, assuming that extra 1% will cover the cost of their fee upon tenant
                                turnover.
                            </li>
                        </ul>
                    </li>
                </ul>

                <p>
                    Have property manager to review operating expenses. They will be able to asses whether the numbers are in line, or
                    off, so you know what questions you need answered.
                </p>

                <p>
                    Total Operating Expenses for a multifamily property typically range anywhere from about 40 percent of Gross Income to as much as 60 percent
                    of Gross Income. If expenses run any higher than that, the property will most likely have a difficult time cash-flowing properly. <u>One
                        primary factor that significantly affects operating expenses is whether the property is sub-metered</u>. For example, in some older
                    apartment buildings a master meter was installed at the time of construction. In this type of situation, the apartments are often rented out
                    as &quot;all-bills-paid&quot; and the owner assumes the responsibility for paying all utilities. Conversely, in most newer apartment
                    buildings, the units are individually metered so that the tenants become responsible for their own utilities. <u>This significantly reduces
                        the Total Operating Expenses for the owner.</u>
                </p>

                <p>
                    After analyzing dozens of financial statements for apartment buildings, you will begin to get a feel for every line item on the income
                    statement. You will know, for example, that on average repairs and maintenance will run between 10 and 15 percent, property taxes will run
                    about 5 percent, insurance will run about 2 percent, and management fees will run about 5 percent. These averages will obviously vary from
                    area to area, but if you are focusing on properties in a particular city or county, you will have a good idea of what costs should be on
                    average. By comparing the expenses as reported on the income statement with your expectations, anything outside of the norm will begin to
                    jump out at you. If repairs and maintenance are reported at 4 percent, for example, you will want to investigate further. Something is out
                    of line, and there is a good chance that not all of the repairs and maintenance items are being reported.
                </p>

                <p>
                    Another benchmark you can use to determine relative income and expenses is to break everything down on a per-unit basis. If you know that
                    total operating expenses are averaging $3.25 per square foot in your area and the income statement you are analyzing reflects something
                    outside of the normal scope, then you will want to investigate further to determine why. The bottom line is be aware of red flags when you
                    see them.
                </p>

                <p>
                    Visit the building (not every room, this will be done later during walk through step) with property manager in order to get an idea on what
                    it will take to run the building, how to minimize the expenses, and upgrades the building may need. This is the time to put rough numbers
                    on the paper and analyze if the cost of the needed repairs will still allow you to be profitable.
                </p>

                <h4>Estimated Repairs</h4>
                <p>
                    How much work does this property need before it's rent ready? Right now you may not have been to the property, so you might need to make
                    some assumptions. Once you've walked through the property, you'll be able to refine those assumptions to be more accurate. Then, after the
                    inspection and bids from contractors, you'll be able to get even more specific. To help estimate the rehab budget, I recommend filling out
                    the following form with your best estimates. These are the 24 main categories of repairs you'll likely face when estimating the repairs.
                </p>
                <p><img src="../../../../../../assets/due-diligence/pre-offer/estimated-repairs.jpg" class="img-fluid img-thumbnail" /></p>

                <h4>Total Purchase Price</h4>
                <p>
                    Is the actual amount you'll pay for the property. This is not necessarily the asking price or what it's worth. This is what you'll actually
                    pay. For example:
                </p>
                <p><img src="../../../../../../assets/due-diligence/pre-offer/total-purchase-price.jpg" class="img-fluid img-thumbnail" /></p>
                <p>
                    At this point, we can see the total amount we'll have in this property and can compare this with other homes selling in the area. After all,
                    a fixer-upper like this house doesn't make sense if all the other homes that are already fixed up cost around the same price (after all, why
                    go through the hassle of a rehab if you aren't getting something for your work?). In this case, however, I can see numerous examples of
                    similar fixed-up properties selling in the $110,000 to $130,000 range, so I actually expect the ARV (after repair value) for this property
                    to be approximately $120,000. So far, so good.
                </p>

                <h4>Adjusted Income &amp; Expenses</h4>
                <p>
                    Run property analysis calculator on adjusted numbers to determine new NOI. Keep in mind you haven't walked through every room in the
                    property with the property manager, haven't done PCA nor environmental reports and once you do you may adjust these numbers again based on
                    what you&rsquo;ll find during the inspection. Once you determine new NOI, if it looks good, base you initial offer price on it.
                </p>
                <ul class="list-style-none">
                    <li><i><strong>Property Value</strong> = NOI &#247; Sold Properties Capitalization Rate</i></li>
                    <li>
                        <i>
                            <strong>Offer Price</strong> = Property Market Value - all expenses you&rsquo;ll incur during the acquisition process - all
                            currently needed repair expenses - effort on getting currently needed repairs done</i>
                    </li>
                </ul>
                <p>
                    Buy for less than you could sell it today. Ideally 30% or more below current market value. It will also help in case unexpected expenses
                    come up after you close on the property. A popular rule of thumb used by many house flippers is the 70% rule. This rule states that the most
                    a flipper should pay for a property is 70% of the after repair value (ARV, what the house is worth after it has been fixed up) less rehab
                    costs. So, a house that has an ARV of $150,000 and needs $30,000 worth of rehab could be bought for $75,000, because $150,000 x .7 =
                    $105,000 $105,000 - $30,000 = $75,000
                </p>
                <p>
                    A real estate agent friend of mine once told me, "If I submit an offer, and it doesn’t make me blush, I offered too much!" In other words,
                    when you’re trying to get a good deal, submitting offers should make you a bit uncomfortable! So get out there, make some offers, blush a
                    bit, and get a few killer good deals.
                </p>
                <p>
                    Estimate and pay a price based only on how the property is operating today, not based on how the broker or seller tells you it can
                    potentially operate. By doing so, you will prevent yourself from paying more than a property is really worth.
                </p>
                <p>
                    If the deal does not provide sufficient cash flow to meet the DSCR requirements with minimum required down payment, chances are you will
                    want to take a pass on the deal and go on to the next one. Do not make the mistake of saying, &quot;Oh, I&rsquo;ll just put more money down
                    to lower my monthly payments.&quot; True, this will help to bring your DSCR into line. However, by putting more money down, you are reducing
                    the cash and total ROIs.
                </p>
                <p>
                    Even if asking price looks like a bargain, hold back your excitement. Verify bargain potential with detailed and accurate feature and price
                    information on com sales. Even when asking price seems low relative to cash flow, replacement cost, and affordability ratios, you might
                    still buy for a lower price. Also, be careful with the properties that are priced below market value. The seller would be putting property
                    for sale at the market price if he was able to. There is a reason why the seller typically is trying to unload the property below the market
                    value and that is because there is an issue there is something happening.
                </p>
                <p>
                    If after your analysis you don't think property is a good investment, in other words, if the net cash flow is too low, then you may need to
                    walk away from the deal or offer a much lower price to make the numbers work.
                </p>

                <h4>Future Repairs</h4>
                <p>
                    Future repairs are difficult to estimate because a lot of variables come into play. A house that is 90 years old will likely have
                    significantly more repair costs than a house built last year. A recently rehabbed house will also likely have fewer repairs needed than a
                    home untouched for decades.
                </p>

                <h4>Other</h4>
                <p>
                    Going through financial statements will enable you to evaluate the performance of the apartment complex over an extended period of time. You
                    should be able to detect any trends, such a systematic increase in rents. Conversely, if you observe flat or declining rental rate, along
                    with an increase in the vacancy rate, you might conclude that the market in that particular area has softened. This could also indicate
                    management problems, which can be overcome much more easily than a softening market.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>