<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">As-Built Drawings</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    An as-built drawing is a revised drawing created and submitted by a contractor after a construction project is finished. They contain any
                    changes
                    made from the initial drawings during the construction process, and provide an exact rendering of the building and property as it appears
                    upon
                    completion.
                </p>
                <p>
                    As-built renderings should detail the shape, dimensions, and precise locations of any and all elements within the scope of the project. Any
                    modifications, whether minor or major, should be included, along with a record of approvals to go along with the changes.
                </p>
                <p>
                    Even small details like materials used should be documented if they differ from those indicated in the original plan, with the intended but
                    unused materials simply crossed out, to allow future reference to the changes that emerged throughout the construction process.
                </p>
                <p>
                    Not having these on-site to reference will cause loss of valuable time needed to operate the new property. Mechanical, electrical, plumbing
                    and all design data are contained within the as-built drawings. If the seller indicates that he is unaware of their location, have the
                    seller inquire with the city building department and have him get a copy.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>