<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Building Measurement Verification</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    There are many times a building may not have current &quot;As-Built&quot; architectural drawings or space plans, which helps to determine an
                    accurate accounting of the actual square footage.
                </p>
                <p>
                    It is possible that some additional square footage can be picked up if the building was never re-measured under the most recent Building
                    Owners
                    and Managers Association International (BOMA) standards. It is cheap insurance to have the building measured professionally so that there
                    are no
                    mistaken calculations on anyone&rsquo;s part. It is an inexpensive and prudent exercise to avoid any legal complications later, and possibly
                    save you a bunch of money upfront in the event the numbers have been grossly overstated.
                </p>
                <p>
                    At the very least, verify the square footage on the existing building plans to the current rent roll to see what discrepancy may exist.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>