<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Commercial Real Estate Attorney</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <h4>Interview Questions</h4>
                <p>
                    Before interviewing verify attorney&rsquo;s license by looking them up on the state&rsquo;s Supreme Court website.
                </p>
                <ul>
                    <li>
                        <strong>How long have you been practicing residential real estate law?</strong> In real estate law cases, the experience of the attorney
                        or law firm is important. More complicated real estate matters suggest having a more experienced legal presence. You may have to pay
                        more for experience, but the value of your investment in such cases probably warrants the higher expense. The potential financial loss
                        in larger real estate deals also warrants having more experience on your side.
                    </li>
                    <li>
                        <strong>How much of your practice is devoted to residential real estate?</strong> Knowing that an attorney is qualified and has a number
                        of years’ experience in real estate isn’t enough. The law firm or attorney may have several areas of law that they cover. What is
                        perhaps more important is to ask what percentage of the practice is devoted to real estate? Ask “What else do you do?” Some lawyers take
                        in all cases, whoever walks in the door. This would not work out for you.
                    </li>
                    <li>
                        <strong>In which states are you licensed?</strong> If you find an attorney be some other method, you want to make sure the attorney is
                        licensed in the state in which the property is located, not just the state where you live, invest, or are incorporated. Also, make sure
                        your attorney is familiar with local laws. Towns and municipalities very often have their own rules regarding real estate sales.
                        Attorneys should be aware of local requirements in Los Angeles or San Francisco, for example.
                    </li>
                    <li>
                        <strong>How much do you charge and what is the fee structure?</strong> Real estate legal fees can vary widely, so it is best to know up
                        front how your attorney charges and how those charges are based. Is it an hourly fee or a fixed fee? Should you pay a retainer fee up
                        front in order to secure the attorney’s services? Can the fee be negotiable? Estimates for time-based fees range from $100 to $500 per
                        hour depending on the complexity of your case. Flat fees can range into the thousands of dollars. There are many services that you may
                        need such as reviewing contracts, loan and title commitments, closing, confirming the title company performed its job after the closing,
                        handling all communications, and responding to any of your concerns.
                    </li>
                    <li>
                        <strong>Will anyone else from your staff work on my case?</strong> Here is an important thing to know about hiring an outside agency,
                        legal or not. Because of the competitive landscape for many organizations, they need to prioritize the time of their different team
                        members. Their best people are often the ones you see up front, the ones who actually &quot;sell you&quot; their services. But they are
                        not always the ones who actually do the work for you. It&rsquo;s like having an &quot;A&quot; team and a &quot;B&quot; team. The
                        question is, which team are you really getting? According to Bankrate, some law firms use paralegals or junior lawyers to complete some
                        of the work required. Find out who will be doing what in your case, including the closing.
                    </li>
                    <li>
                        <strong>Are you also a title agent?</strong> It would be good to ask if your attorney is also a title agent. In some states, real estate
                        attorneys can also double as title agents. They may also have one on their staff. This is helpful because it means the attorney’s office
                        controls the closing process. There is no need to coordinate with any other office, and this can simplify and speed the closing process.
                        It might also lessen the expenses based on communications. It’s better to have a “one-stop shopping” experience than have to worry about
                        many different real estate authorities.
                    </li>
                </ul>
                <p>
                    <a href="/assets/team/attorney-initial-email-letter.docx" target="_blank" class="text-decoration-none">Download initial email
                        letter</a><br />
                    <a href="/assets/team/attorney-interview-questions.docx" target="_blank" class="text-decoration-none">Download interview questions</a>
                </p>

                <h4>Links</h4>
                <ul>
                    <li><a href="https://www.avvo.com/" target="_blank" class="text-decoration-none">Avvo: Find top rate lawyers in specific area</a></li>
                    <li><a href="https://www.redfin.com/buy-a-home/openbook/chicago" target="_blank" class="text-decoration-none">
                            Redfin Open Book: Attorneys in chicago area</a></li>
                    <li><a href="https://attorneys.superlawyers.com/" target="_blank" class="text-decoration-none">Super Lawyers: Find rated attorneys</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>