<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">All Current Leases</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Dig through the leases with a fine-tooth comb. After all, a lease goes with the property, so that lease between the seller and their tenant
                    will become the lease between you and the tenant. Be sure to pay special attention to the rental rate, the length of the agreement, and any
                    special, out-of-the-ordinary terms written into the lease. You don&rsquo;t want to discover after you buy the property that they had a
                    20-year lease for $1 per month!
                </p>
                <p>
                    Some owners place friends, relatives, and employees into their buildings at inflated rent levels. These tenants do not pay the rents shown
                    in the
                    lease (or if they do, they get kickbacks in cash or other benefits), but their signed leases sure look attractive to unsuspecting buyers.
                </p>
                <ul>
                    <li><strong>Signed:</strong> Make sure they are all signed</li>
                    <li>
                        <strong>Rent:</strong> Make sure it&rsquo;s the same amount listed on the rent roll and income statement. Have any tenants prepaid?
                        Are today's market rents above or below rental amounts tenants currently pay?
                    </li>
                    <li>
                        <strong>Duration:</strong> Month-to-month or a year-long lease? When does that lease end? Do tenants enjoy the right to renew?
                        If renewed, does the lease, or do rent control laws, limit the amount of rent increase that you can impose? Will the market, tenant
                        relations, or both, support a rent increase?
                    </li>
                    <li>
                        <strong>Security Deposits:</strong> What amount of security deposits has the owner collected from tenants? Make sure it&rsquo;s the
                        same as what the rent roll and balance sheet says. Have tenants prepaid their last month's rent? Make sure you are given the correct
                        cash at closing.
                    </li>
                    <li>
                        <strong>Utilities:</strong> Who is responsible for paying what? Do the leases require tenants to pay all of their own utilities?
                        If not, which utilities do the owners provide?
                        <ul>
                            <li>
                                Check with your property management if utility expenses can be pushed onto the tenants, for example, by implementing Resident
                                Utility Billing System (RUBS). Where a portion of the total water, sewer, electric, and gas costs, are added to each
                                resident&rsquo;s monthly charges.
                            </li>
                        </ul>
                    </li>
                    <li><strong>Pets:</strong> Do tenants have them? Is there pet rent?</li>
                    <li><strong>Late Fee:</strong> When is it applied, and how much?</li>
                    <li><strong>Special or Odd Arrangement:</strong> Do any tenants get a discount for doing maintenance or something similar?</li>
                    <li>
                        <strong>Concessions:</strong> Did tenants receive any concessions for signing their leases such as one month free rent or, other
                        incentives that lower the effective amount of rents the tenants pay? Do any tenants pay high rents only because of an under-the-table
                        agreement with the seller to help improve the income statement that the seller show prospective buyers?
                        <ul>
                            <li>
                                If there are concessions, check with your property management company if owner is giving concessions away above market. If yes,
                                then
                                the stop it immediately after acquiring property.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Yard care, snow removal, and other services:</strong>
                        Who provides yard care, snow removal, or other services such as small repairs within the rental units? Who pays for garbage and trash
                        pick up? Do the leases obligate the owners to provide tenants laundry facilities, off-street parking, a clubhouse, exercise room,
                        child-care center, or transportation?
                    </li>
                    <li>
                        <strong>Furniture and appliances:</strong>
                        Is the owner obligated to provide tenants with window coverings, furniture, or appliances? If so, precisely which ones? What quality?
                        Who retains responsibility for maintenance, repairs, and replacements?
                    </li>
                    <li>
                        <strong>Tenant improvement allowances can be applied as a rental credit:</strong> It will be your obligation once you own the property.
                        Make
                        sure you have an agreement from the seller in writing that you&rsquo;ll receive a credit at a close of escrow.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>