<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Recommended Contingencies</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <h4>Property Inspection Contingency</h4>
                <p>
                    If you are wondering how it is possible to perform a lengthy investigation without slowing the buying process, the answer is you must write
                    an offer in which the due diligence is included as a contingency for purchase. This way, if your investigation turns up something you don't
                    like, your contract loophole will allow you to back out of the deal, no questions asked, with all deposits refunded. These clauses in offers
                    usually read like this:
                </p>
                <ul class="list-style-none">
                    <li>
                        <i>
                            &quot;This offer is contingent upon buyer's inspection of the property and acceptance of its condition within 30 days from
                            acceptance of the offer.&quot;
                        </i>
                    </li>
                </ul>
                <p>
                    You can choose a shorter time period in which to perform the inspection. Some states have a 10-15 day range for inspections. In any case,
                    for a thirty-day period, if the seller accepts your offer on October 1, then you have until October 31 to inspect the property and decide
                    whether you will accept the property as is, back out of the deal completely, or request that certain repairs be made.
                </p>
                <p>
                    Your offer can include flexibility, which means you can have several contingencies that may allow you to back out. These contingencies may
                    include:
                </p>

                <h4>Financing Contingencies</h4>
                <p>
                    A condition of your offer should be that you successfully obtain suitable financing and show proof of loan commitment within a certain time
                    frame.
                </p>
                <ul class="list-style-none">
                    <li>
                        <i>
                            &quot;This Agreement is contingent upon Buyer obtaining the following type of financing: a _________ (eg. FHA, VA, Conventional,
                            Rural Development, etc.) with an interest rate not to exceed _____ % payable over a period of _____ (eg. 15, 30) years at a _____
                            rate (eg. Fixed).&quot;
                        </i>
                    </li>
                </ul>

                <h4>Appraisal</h4>
                <p>
                    The property should have to appraise for at least what you agreed to pay for it. If it does not the Buyer can use this loophole to void the
                    contract or the Seller may agree to reduce the price.
                </p>
                <ul class="list-style-none">
                    <li>
                        <i>
                            &quot;Within 7 calendar days of acceptance Buyer, at his option and expense, may have the property appraised by an appraiser
                            licensed in the State of _______ . If the appraised value is less than the amount of the purchase price contained in this Agreement
                            then this contact is voidable at Buyer's option and all earnest monies shall be returned; if Buyer chooses to void this Agreement in
                            accordance with this paragraph, then Buyer shall notify Seller in writing of such decision, and provide Seller with a copy of said
                            appraisal, within 3 business days of receipt of the appraisal.&quot;
                        </i>
                    </li>
                </ul>

                <h4>Professional Inspection</h4>
                <p>
                    You will want to have the property inspected. A general inspection contingency can cover a variety of concerns. For example, certain
                    properties should have environmental tests, such as land that once housed a gas station. You may, also want a home tested for radon, toxic
                    mold, the water tested for purity, structural soundness, electrical, mechanical, plumbing etc. However, the contingency language will have a
                    time frame in which these inspections must take place so <u>you will want to get on locating the proper inspectors immediately</u>. It is
                    important to understand that a general home inspection service will not cover many of the types of inspections you may want conducted on the
                    property. Home inspection services are not conducted by structural engineers or persons with any level of expertise in plumbing, electrical
                    or similar specialties, nor do many checks for building code violations such as snow loading, earthquake protection or hidden defects.
                    Inspection by qualified, licensed structural engineer is advisable as is using a plumber or electrician or any other specialist for any
                    specific areas of concern.
                </p>
                <ul class="list-style-none">
                    <li>
                        <i>
                            <p>
                                &quot;Buyer shall have the right to conduct any inspections, investigations, tests, surveys and other studies on the subject
                                property at Buyer's expense. Buyer shall, within ______ business days of acceptance, complete these inspections and give Seller
                                written notice of disapproved items.
                            </p>
                            <p>
                                If Buyer does not give Seller written notice of any items disapproved of within the time period specified, Buyer shall be deemed
                                to be satisfied with the results of any such inspections.
                            </p>
                            <p>
                                If Buyer does give Seller notice of disapproved items within the time period specified then Buyer shall also provide Seller with
                                copies of any pertinent inspection reports. Seller then has the option of correcting the deficiencies within ______ days of
                                receipt of notice of disapproval or voiding the contract and returning all earnest money deposits to Buyer.&quot;
                            </p>
                        </i>
                    </li>
                </ul>

                <h4>Personal Inspection</h4>
                <p>
                    A personal inspection contingency will give you an easy out should you want to back out before its expiration. <u>It should be worded
                        subjectively</u>, allowing you to get out of the contract simply because you decided you did not like the property after all.
                </p>
                <ul class="list-style-none">
                    <li>
                        <i>
                            &quot;Buyer shall have until _________, 20 __ to personally inspect the subject property and give Seller any written objections
                            regarding any aspect of the property that does not meet Buyer's subjective approval. If Buyer does not provide any written
                            objections by this date, Buyer will be deemed to be satisfied with the personal inspection. If on the other hand, Buyer gives
                            written notice of disapproval by _______ , 20 __ (date above), this contract shall be voidable in writing at Buyer's option and all
                            earnest Money returned.&quot;
                        </i>
                    </li>
                </ul>

                <h4>Survey</h4>
                <p>
                    It may be a good idea to have the land surveyed or the corners marked. Your approval of the corners can be a condition of the sale.
                </p>
                <ul class="list-style-none">
                    <li>
                        <i>
                            &quot;Seller(s) shall have the property surveyed and the property corners marked by a professional, licensed engineer in the State
                            of _____ by _______, 20 __. Buyer(s) shall have until _______, 20 __ to inspect the marked property corners Buyer(s) shall give any
                            disapproval in writing by _______, 20 __. If for any reason Buyer disapproves of the property corners, then this contact shall be
                            voidable at the Buyer's option and all earnest monies returned.&quot;
                        </i>
                    </li>
                </ul>

                <h4>Review of the Plat, Covenants, Conditions and Restrictions</h4>
                <p>
                    Plats often have notes that contain restrictions not found in the covenants or deed. <u>It is important that the plat and any other
                        restrictions on the property be reviewed by an attorney and that any restriction be approved by the buyer.</u>
                </p>
                <ul class="list-style-none">
                    <li>
                        <i>
                            &quot;Buyer shall have until _______, 20 __ to review the plat and any covenants, conditions or restrictions affecting the property
                            and to give Seller any written objections. If Buyer does not provide any written objections by this date, Buyer will be deemed to be
                            satisfied with the plat and all restrictions affecting the property. If, on the other hand, Buyer gives written notice of
                            disapproval by _______ , 20 __ (date above), this contract shall be voidable in writing at Buyer's option and all earnest money
                            returned.&quot;
                        </i>
                    </li>
                </ul>

                <h4>1031 Language</h4>
                <p>
                    If you are purchasing the property through a 1031 exchange, it is important that your contract mention this as well as provide that the
                    closing must occur within the bounds dictated by the exchange and that the Seller will cooperate with these needs.
                </p>
                <ul class="list-style-none">
                    <li>
                        <i>
                            &quot;Seller herein acknowledges that it is the intention of the Buyer to complete a Section 1031 Tax-deferred exchange. Seller
                            agrees to cooperate with the Buyer in any manner necessary in order to complete said exchange at no additional cost or liability to
                            Seller.&quot;
                        </i>
                    </li>
                </ul>

                <h4>Review of Title Commitment</h4>
                <p>
                    You will want your title commitment reviewed by an attorney (or a title company in some states) as the commitment will tell you if the
                    Seller has marketable title as well as list items of record that affect the subject property.
                </p>
                <ul class="list-style-none">
                    <li>
                        <i>
                            &quot;Within _______ business days of acceptance Seller shall provide Buyer with a commitment of title insurance policy showing the
                            condition of the title to said premises. Buyer shall have ______ business days from receipt of the commitment within which to object
                            in writing to the condition of the title and any of the liens, encumbrances or exceptions set forth in the commitment. If Buyer does
                            not so object Buyer shall be deemed to have accepted the condition of said title. If Buyer does make written objection within the
                            above time frame, then Seller can either clear any title defects or objections to any exceptions within _______ business days of
                            written notice or this contract shall be voidable in writing at Buyer's option and all earnest money returned.&quot;
                        </i>
                    </li>
                </ul>

                <h4>Approval of any, Leases associated with the property</h4>
                <p>
                    If you are purchasing rental property where any leases or tenancies are in place you will want the offer to be contingent upon your review
                    of those agreements.
                </p>
                <ul class="list-style-none">
                    <li>
                        <i>
                            &quot;Within ______ days of acceptance Seller shall provide Buyer with any rent or lease agreements currently in effect along with
                            an affidavit or letter stating whether or not such rent or lease agreements have been strictly adhered to by both the landlord and
                            the tenant. If such agreements have not been, strictly adhered to the letter shall list any defaults or waivers in detail. Buyer has
                            ______ days from Buyer's receipt of any such agreements and said letter to provide written notice to Seller that such agreements or
                            their current status are not acceptable and thus void the contract and have all earnest money deposits returned in full.&quot;
                        </i>
                    </li>
                </ul>

                <h4>Water Rights/Mineral Rights</h4>
                <p>
                    If water rights or mineral rights are a concern, be sure to make the review of those rights a condition of the offer.
                </p>
                <ul class="list-style-none">
                    <li>
                        <i>
                            &quot;Seller shall deliver to Buyer within _______ days of execution of this Agreement copies of all documents relating to water or
                            mineral rights. Buyer shall have _______ days from receipt of such documentation to object to the condition of said water or mineral
                            rights and to declare this Agreement void and all earnest money returned.&quot;
                        </i>
                    </li>
                </ul>

                <h4>General Contingency</h4>
                <p>
                    One attorney I know likes to put a general contingency in any offer - something to the effect of &quot;Within 30 days of acceptance, Buyer
                    may back out of this contract for any reason with no further obligation and full return of his earnest money deposit&quot;. You can make a
                    sales contract conditional on anything you would like. For example, you could make winning the lottery in July a condition of closing.
                    <u>But remember, these contingencies are put into the offer and as such could be the basis for a rejection or a counteroffer.</u>
                </p>
                <p>
                    Each of the above loophole contingencies gives you one more chance to back out of the deal if you aren't completely satisfied with what you
                    find. Buyers should not hesitate to use the acceptable financing clause. If you are not able to obtain financing that you feel comfortable
                    with, you should be able to get out of the deal completely.
                </p>
                <p>
                    At the end of your inspection period, many good brokers will prepare a written statement for you to sign in which you, for example, accept
                    the condition of the property, therefore removing that contingency on the offer. If you do not want to accept the property after your
                    investigation, you don't sign the agreement.
                </p>
                <p>
                    Sometimes, if communication isn't as strong, it will be assumed that if the agreed upon date comes and goes without you contacting the
                    broker or seller, that you have accepted the property's condition and are willing to proceed with the sale. If you are not planning on
                    purchasing after your investigation, it is always best to send a written letter before the deadline to the seller or broker, or both, to
                    notify them that the deal is off. If you do not do so, and they assume you are going to purchase when you are not, you may end up forfeiting
                    the deposit you have already paid. However, this may still be better-than being sued for the entire amount of the transaction.
                </p>
                <p>
                    In all cases, whether you want to buy or call- the deal off, it is best to clearly communicate your intentions, in writing to both the
                    seller and the broker before the deadline so that no party involved makes an incorrect assumption.
                </p>

                <h4>Environmental</h4>
                <p>
                    Another very important contingency to include in your offer is one regarding the property's environmental condition. This is a crucial part
                    of your due diligence. If you don't become familiar with your building’s entire environmental history, you could end up liable for any
                    previous problems that may exist.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>