<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Multifamily Pros & Cons</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <h4>Pros</h4>
                <ul>
                    <li>
                        <strong>More Cash Flow Possibilities: </strong>If purchased right, multifamily properties have a likelihood of producing positive cash
                        flow from day one. In addition, rents can be increased a small amount for each unit or expenses decreased and the ripple effect of those
                        changes can cause huge increases in cash flow.
                    </li>
                    <li>
                        <strong>One Loan, Multiple Units: </strong>Trying to get a loan is a long, arduous process that no one enjoys. But it is a necessary
                        evil for most real estate investors. This is a huge benefit of investing in multifamily properties: there are fewer loans to obtain! If
                        you were to go out and buy 20 SFRs in the next few years, that’s 20 loan applications you’d need to fill out, 20 financial statements
                        you need to prepare, 20 yesses you need to hear from the underwriting department. Exhausting, isn’t it? Instead, you can buy a 20- unit
                        apartment building and get just one loan—one application, one set of financials, only one yes.
                    </li>
                    <li>
                        <strong>One Insurance Policy: </strong>I hate insurance. I understand the importance of it, but the insurance world is just so
                        cumbersome and frustrating. A good amount of my wife’s administrative time is spent just dealing with insurance. We have boxes and boxes
                        of paperwork with nothing but insurance documents. When you invest in a multifamily property, you have one insurance policy on it. It’s
                        so much easier to keep track of and manage!
                    </li>
                    <li>
                        <strong>Math over Emotion: </strong>When investing in multifamily units, I am able to separate emotion from the transaction much more
                        easily than with a single-family home. Multifamily is all about the math, the numbers!
                    </li>
                    <li>
                        <strong>Business, Not Hobby: </strong>Furthermore, it’s much easier to treat multifamily investments as a business rather than a hobby
                        because of the nature of the beast. Multifamily properties are designed for investors to own and management companies to run; thus, the
                        cost of hiring such a management company is often figured into the cost of owning the property, leading to less hands-on-management by
                        you.
                    </li>
                    <li>
                        <strong>Income Valuation: </strong> As I mentioned earlier, multifamily units with five or more units are not valued the same way as
                        SFRs. If I were to sell you my single-family home, the appraiser would look at a few other single-family homes that were similar and
                        base their appraisal on the selling price of those other homes. Commercial properties, on the other hand, are valued based on the ROI
                        they give their owners. After all, it’s not easy to compare a 24-unit apartment building with another 24-unit apartment building with
                        the exact same returns, because you’ll never find that exact similar property. Commercial investments are just too different from one
                        another. Instead, we rely on the cap rate to base value on. If these three properties that recently sold gave the owner a 10% ROI, then
                        this one should also. So why is this income valuation so important? Because the value can be changed internally, rather than relying on
                        others, by simply lowering expenses or raising the income. Small changes to the income can make drastic swings to the value of the
                        property, and a savvy investor can use this to their advantage to supercharge the wealth building process.
                    </li>
                    <li>
                        <strong>Less Competition from Homeowners: </strong> When shopping for a single-family home, an investor is competing against tens of
                        thousands of others looking for a home. Most of this competition is in the form of non-investors who buy property for way too much money
                        because the front porch is "so cute" or the backyard is "perfect for Fido!" This can make competition much more difficult, because you
                        are playing the game with a different objective! Instead, when you buy multifamily properties, you are competing with other investors,
                        which means there is far less competition.
                    </li>
                </ul>
                <p>
                    Okay, multifamily properties sound pretty terrific. So what’s the downside? Let’s find out.
                </p>

                <h4>Cons</h4>
                <ul>
                    <li>
                        <strong>More Expensive: </strong>First, multifamily properties typically cost much more to buy than a single-family house. This can be a
                        barrier to entry for many people trying to get started, so multifamily is often not considered until much later in one’s investment
                        career. That said, smaller multifamily properties have some lower down payment financing options, and larger multifamily properties
                        often include raising money from other people.
                    </li>
                    <li>
                        <strong>More Management Intensive: </strong>I'll be the first to admit it, multifamily tenants cause more headaches than single-family
                        tenants. They are generally more "transitional" and thus have much more drama in their lives. Tenants stay for shorter periods of time,
                        which can add significant expense to your bottom line. They call and complain for pettier reasons, have more difficulty paying the rent
                        on time, and tend to be harder on units because they don't always feel like the place is their real "home". That said, as I mentioned
                        earlier, multifamily properties are often managed by third parties, so the owner doesn’t need to be very involved in the management
                        drama.
                    </li>
                    <li>
                        <strong>More Savvy Competition: </strong>Although there is less competition from homeowners when investing in multifamily properties,
                        the folks you are competing against are far more sophisticated than the average homeowner. They can spot a deal just like you can and
                        generally have a lot more capital with which to buy those deals.
                    </li>
                    <li>
                        <strong>More Complicated: </strong>Most people can easily wrap their head around a single-family investment property, but the more units
                        there are in a property, the more complicated (and expensive) it all becomes. Suddenly, you are dealing with 20 moving parts rather than
                        just two or three.
                    </li>
                    <li>
                        <strong>Fewer to Choose from: </strong>Depending on where you live, there may be a lack of available multifamily properties from which
                        to choose. While single-family homes are plentiful across the world, multifamily properties may be sparser in your location.
                    </li>
                    <li>
                        <strong>Government Regulations: </strong>Finally, when you invest in multifamily properties and raise money from others to fund it, you
                        enter a whole new world of government regulations that dictate what you can and cannot do while raising that money. If you do it wrong,
                        you might end up wearing an orange jumpsuit and earning $1.38 an hour serving soup to other white
                        collar inmates.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>