<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Commercial Property Insurance Broker</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Look for an insurance broker, rather than just an agent at a specific company. A broker can shop around at different companies for the best
                    rate and coverage, and can switch your policy if necessary without you having to take your business elsewhere.
                </p>
                <p>
                    Find commercial property insurance broker by getting referral from property management company, real estate agent, real estate
                    investors, attorney, CPA. You want an agent who has experience in insuring the type and size of property you&rsquo;re looking to acquire.
                    Ask him about his background and experience.
                </p>

                <p>
                    Get few insurance quotes on the property while doing your due diligence.
                </p>

                <p>
                    You&rsquo;ll need the agent when you get ready to close your deal on a property, as no lender is going to fund a loan on an uninsured
                    building.
                </p>

                <p>
                    If you have multiple properties, see if you can have them covered under the same insurance policy. You might be able to get discount that way.
                </p>

                <p>
                    Make sure your tenants have renter's insurance and entity that owns property is listed as an additional interest on that policy.
                </p>

                <p>
                    <u>If initial numbers on property look great, before you move forward on that property call insurance broker to see what will be the cost of
                        insurance for that property. Also, insurance company will pull a lot of data about that property and the surrounding area. Ask insurance
                        company if they can share that information with you.</u> So you can take a look at that and find out what quality of that property is, what
                    you can expect to receive from rental income, what your flood exposure is, your earthquake exposure is etc. See maybe there is flood issue, maybe
                    there is losses in the past you weren't made aware of that can harm your ability to obtain cost-effective insurance.
                </p>

                <h4>Insurance for Landlords</h4>
                <p>
                    The replacement cost policy is the preferred option if you can get it. The coverage will pay for the full cost of a covered loss minus your
                    deductible.
                </p>
                <p>
                    When looking at a replacement cost policy, make sure the dwelling coverage (Coverage A) involves enough of a payment to rebuild, base on
                    what contractors are charging in your area.
                </p>
                <p>
                    With most policies, if you are more than 20% under market costs, you will be subject to a coinsurance penalty. This means that if the home
                    would cost $200,000 to rebuild, and you are insured for less than $160,000 (80% of the value), any claim you have will be paid out at
                    the same ratio. For easy math, if the value is $200,000, and you insure for $100,000, you are at 50%. If you have a toilet overflow that
                    causes $8,000 in damage, the insurance company would pay only 50% of the cost - $4000 minus the deductible. This is because you were only
                    insured at 50% value on the home. Watch for this, and make sure your house is insured to full replacement value.
                </p>
                <p>
                    Next, make sure your policy includes outbuildings (garage, shops, etc.), if you have any. Also look for &quot;loss of rents coverage&quot;.
                    If your renters have to move out after a fire or other covered damage to the home, this will pay you the rent you would have collected
                    from them during that time.
                </p>
                <p>
                    Lastly, make sure you have liability coverage on the property. Common limits are $300,000, $500,000 and $1,000,000. It doesn&rsquo;t usually
                    cost much to get the higher coverages, so it&rsquo;s almost always worth it. Make sure you renters also carry their own renter&rsquo;s
                    insurance as well. Don&rsquo;t let tenants have dangerous dogs or other pets. You don&rsquo;t want want a dog bite claim on your record.
                    Insurance companies have those.
                </p>

                <p>
                    Before you buy a fire insurance policy and think you&rsquo;re covered, talk with several insurance agents and ask these questions:
                </p>

                <ul>
                    <li>
                        <strong>Who is covered?</strong> Typically, your insurance coverage protects only the named insureds within the policy. Therefore, take
                        care to name all persons or companies (LLC owning property, co-owners) whose financial interest in the property deserves
                        protection. <u>Make sure that LLC owning property is first named insured.</u> Add Wyoming holding LLC as a named insured also. You may also
                        list your name under named insured to satisfy your lender's requirements and accept that insurance. Put your lender as additional
                        insured. If you have multiple property holding LLCs have them all listed under named insured if you have them all under the same insurance
                        policy.
                    </li>
                    <li>
                        <strong>What property is covered?</strong> On this point, insurance policies distinguish between the property you own and the property
                        your
                        tenants own. Policies seldom (if ever) cover tenants&rsquo; property (require them to buy their own tenant policy). Also, policies
                        distinguish between personal property (appliances, lawn care equipment, assorted tools, and other items stored in the garage) and real
                        property (the building itself, plants, shrubs, fencing).
                    </li>
                    <li>
                        <strong>What perils are covered?</strong> People think that fire represents the most critical peril to protect against. But what about
                        flood,
                        earthquake, vandalism, tenant abuse, windstorm, hail, mudslides, sinkholes, riot, theft, accumulation of snow and ice (on roofs and
                        collapse), termite infestation, lawsuits, trip-and-fall accident, and other potential losses too numerous te mention? Your policy will
                        list
                        covered perils. Read them. If not adequate, your insurer may add coverage throughout a rider or endorsement.
                    </li>
                    <li>
                        <strong>What losses are covered?</strong> Insurers usually classify losses as direct or indirect. A fire that damages your building
                        creates a
                        direct loss. The fact that you can no longer collect rents until the damage is repaired represents an indirect loss. Your basic policy
                        will
                        not cover many types of indirect losses. For these losses (if coverage is available), you need to buy a rider or endorsement.
                    </li>
                    <li>
                        <strong>How much will the insurer pay?</strong> Every insurance contract restricts how much it will pay for losses. Most policies
                        include some combination of deductibles, limits, and co-insurance. Also, for real or personal property, your policy might pay to replace,
                        repair, or rebuild the damaged items with new materials (100 percent of replacement cost). Or the policy might only reimburse actual cash
                        value (replacement cost new, less depreciation).
                    </li>
                </ul>

                <p>
                    Within the same policy, different types and amounts of restrictions apply to the various types of coverage. For example, fire damage might
                    subject you to a $500 deductible, whereas earthquake damage subjects you to a $10,000 deductible. Don&rsquo;t assume that your policy
                    provides the amounts of coverage you want or need. Ask your insurance agent to explain all of the ways the company may restrict or limit its
                    payments for your covered losses.
                </p>
                <p>
                    Even when you buy replacement coverage for your building, your insurer may not pay for repair or construction costs mandated by stricter
                    building codes. Without a code compliance endorsement, your policy will pay only to replace your current building as it existed before it
                    suffered damage. If, to rebuild, current code requires additional fire sprinklers or an upgraded 200-amp electrical system, you&rsquo;ll pay
                    these costs out of pocket. Example from book, a large oak tree recently fell onto one of my houses. Code compliance coverage added around $25,000
                    to my insurance recovery - an amount that otherwise would have come out of my pocket.
                </p>

                <h4>Improve Coverage &amp; Reduce Premiums</h4>
                <p>
                    After choosing your basic coverages and endorsements, search through various policy deductibles and limits. Fine tune to identify the most
                    cost-effective combinations. Avoid paying a lot for a little: save money; increase deductibles and eliminate trivial coverages that
                    disproportionately push up your premiums. Also avoid risking a lot for a little. Purchase coverages that protect you against large-scale,
                    budget-busting losses such as huge liability claims.
                </p>
                <p>
                    Avoid coverage for small, frequent losses and extend coverage and limits for those rare but catastrophic exposures. To further save money
                    wisely,
                    ask your insurance agent to suggest loss prevention and loss reduction measures that you can undertake. Some insurers reduce premiums for
                    properties equipped with hurricane shutters, fire sprinkler systems, burglar bars, and dead-bolt locks.
                </p>

                <h4>Shop &amp; Contrast</h4>
                <p>
                    Secure competitive quotes from at least three to four other sources. You might also solicit bids through several insurance websites that are
                    operating, such as www.insurance.com, make sure to check with <a href="https://nreig.com/" target="_blank">National Real Estate Insurance
                        Group</a> (recommended by Clint Coons), and <a href="https://www.chubb.com/us-en/" target="_blank">Chubb</a>. Of course, don&rsquo;t jump for
                    the company with the lowest premiums. Through Best&rsquo;s Guide or other consumer rating reports, verify the company&rsquo;s financial strength
                    and is willingness to pay claims. Because property and liability insurers are licensed by state governments, check the company&rsquo;s record of
                    performance with your state department of insurance. (Insurance company financial data and performance records can be obtained at your local
                    library or through your state department of insurance website).
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
