<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Title Inspection</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Do title inspection and order title insurance. Find out who handles it in your area: lender, your attorney, title company.
                </p>
                <p>
                    If not lender, the your real estate agent will likely recommend an attorney or title company if you don&rsquo;t already have a favorite. He
                    will
                    send the necessary documents over, and the attorney or title company will get to work researching the chain of title and will also order
                    your
                    title insurance.
                </p>

                <h4>Title Insurance and the Preliminary Title Report</h4>
                <p>
                    Title insurance is simply a kind of insurance, just like car insurance, fire insurance, or any other type, except that it is designed to
                    protect the owner and/or lender from problems with the title. In other words, if a title insurance policy is taken out on a piece of
                    property, and later it was determined that a mistake had been made in the due diligence process and a mortgage was still in place on the
                    property, the title insurance policy would cover any financial damage from that situation. Most title companies and attorneys are pretty
                    good at researching the chain of title, so it’s unlikely that you’ll ever need to file a claim on title insurance, but nevertheless, most
                    lenders will not fund a deal unless title insurance is in place to protect their loan. Title insurance can be purchased by either an
                    attorney or a title company, and the cost is usually wrapped into the closing costs.
                </p>
                <p>
                    The title report holds all the specific information about a particular piece of property. The physical details, the type of ownership, and
                    exactly what rights are granted to the owner of that property. Sometimes there are flaws in the title that can bring about challenges for
                    the
                    owner. As discussed, title insurance can offer protection from such difficulties.
                </p>
                <p>
                    Many of the flaws found in titles are very subtle. Because of this, many lenders require title insurance and will not loan money until they
                    receive a clear and insured title report. Most title insurance protects against defects in, or liens or encumbrances on, the title to a
                    piece of property. The insurance company will help in defending against challenges to your title to the property. However, insurance
                    companies will only agree to insure against certain things. You must be aware of what coverage your company is providing. Again, they have
                    their own loopholes.
                </p>
                <p>
                    <u>The first step in obtaining title insurance is to receive a preliminary title report</u>. This is the product of the title insurance
                    company's review of public records that relate to the property in question. However, in most states, the preliminary title report cannot be
                    relied upon as a representation of the status of title to the property. It will, however, inform you what exactly the insurance company is
                    willing to insure you against.
                </p>
                <p>
                    When you receive the final title report from the insurance company it will include all the risks the title company has refused to insure
                    against. This is important to note because should there be a problem in the future, your insurance company will not involve itself regarding
                    any of the matters it has chosen to exclude coverage on. <u>Weigh the risk as you consider the purchase</u>.
                </p>
                <p>
                    <u>When you receive the title report, time spent carefully inspecting it will be well worth it. You should consider having your lawyer look
                        it over as well. If you close a real estate deal and then realize your insurance does not cover problems that were disclosed in the
                        preliminary report, there is no going back. At that point, you will not be able to rework the terms of the purchase agreement in order
                        to protect yourself. It is important that you know exactly what the title contains and how much coverage your insurance company is
                        providing before you close a deal.</u>
                </p>

                <h4>How to Review a Title Report</h4>
                <p>
                    Reviewing the title report is one of the most important steps potential buyers should take to be sure they are making an informed decision.
                    Check the entire report for inaccuracies or inconsistencies. Any that you find must be discussed with your attorney and the title insurance
                    company. Some of these issues may require you to work with the seller to resolve the problem with the title.
                </p>
                <p>
                    In order to play an active role in your real estate transaction, review each of the following items in your title report for accuracy:
                </p>
                <ul>
                    <li>
                        <strong>Addresses:</strong> Specifically check the addresses of the party who will close the deal, prepare the contract, or close the
                        loan. Also make sure the addresses of the seller, buyer's real estate agent, lender and attorney are correct as they will receive a
                        copy.
                    </li>
                    <li>
                        <strong>Current Owner (Vested Owner):</strong> Make sure the name of the seller of the property is accurate.
                    </li>
                    <li>
                        <strong>Description of the Property:</strong> This must be the same description that appears on the real estate purchase agreement. If
                        the description on the title report differs, the title company may not have performed a title search on the excluded property, thus
                        leaving that part uninsured. You must make sure that all of the property you intend to purchase will be covered by the title insurance
                        policy.
                    </li>
                    <li>
                        <strong>Plat Map:</strong> This describes the lot size and may include street names and the nearest intersection. Be sure the plat map
                        included in the title report matches the legal description of the property.
                    </li>
                    <li>
                        <strong>Interest or type of estate:</strong> This will describe the type of interest in property you are buying from the seller. The
                        most common type of property interest is the fee simple absolute. <u>If a type of ownership other than the fee simple absolute appears
                            on the title, you must be knowledgeable of the type of interest you are acquiring and the limitations it involves.</u>
                    </li>
                    <li>
                        <strong>Effective Date:</strong> When the title insurance company prepares title reports, they generally get their information from a
                        collection of public records called a title plant. The effective date will tell you the date through which the title plant is current,
                        and therefore the facts known through that date.
                    </li>
                    <li>
                        <strong>Type of Policy Requested:</strong> This will describe the details of your relationship with the insurance company. This should
                        include the limit of the liability assumed by the insurance company, the premium to be paid, etc. Make sure that these details match
                        those you discussed with your title insurance agent.
                    </li>
                    <li>
                        <strong>Report Number and Contact Person:</strong> This information must be correct - this is whom you will contact if you have
                        questions regarding the report. Use the report number to direct questions you have to the agent in charge of your file.
                    </li>
                </ul>
                <p>
                    <u>Once you have checked the above points for accuracy, now you must carefully inspect anything the insurance provider has chosen to not
                        insure you against.</u> This is where you will find any restrictions or limitations on the property. These can come in many forms and
                    have different consequences for the buyer. The following are examples of what you might find.
                </p>
                <ul>
                    <li>
                        <strong>Easements:</strong> This is when another person or the public has certain rights to your land. Although easements may not
                        necessarily have a negative effect on your real estate deal, you must first be aware if one exists and then you must consider what type
                        of impact it will have. These are common types of easements:

                        <ul>
                            <li>
                                <strong>A right of way:</strong> A third party's right to use a path or road located on your property.
                            </li>
                            <li>
                                <strong>A utility easement or right to place or keep something on the land:</strong> This also can include a third party's right
                                to use and maintain a sewer pipe, telephone line, garage, or anything else on or across your property.
                            </li>
                            <li>
                                <strong>Right of entry:</strong> Allows a third party to enter your property for certain and clearly defined purposes.
                            </li>
                            <li>
                                <strong>A right to the support of land and buildings:</strong> This maybe applicable if you purchase a lower-story unit in an
                                apartment complex.
                            </li>
                            <li>
                                <strong>A right of light and air:</strong> Gives a third party a right that may limit your ability to use or build on your
                                property if that use violates their rights.
                            </li>
                            <li>
                                <strong>Right to water:</strong> Gives a third party a right to use a waterway or divert water from a waterway located on or
                                adjacent to your property.
                            </li>
                            <li>A right to do some act that would otherwise amount to a nuisance.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Covenants, Conditions, and Restrictions:</strong> These are usually referred to as CC&Rs. They can limit your ability to use or
                        sell the property and are enforceable by the seller or third parties. These can include building limitations, limitations on use for
                        business and even aesthetic requirements for the building. Be sure you are aware of the consequences of a violation of such a
                        restriction. Sometimes they can result in financial liability or may cause ownership to revert back to a prior owner or third party.
                        Although CC&Rs don't necessarily have an adverse affect on your property (and may actually serve to increase property values), <u>it is
                            important to carefully study them. After all, they do affect your ability to use and sell the property.</u>
                    </li>
                    <li>
                        <strong>Mortgage or Deed of Trust:</strong> These reflect loans against the property. In some states, an existing mortgage or deed of
                        trust can affect the title directly or can create the potential for a lien or foreclosure and sale of the property. <u>You must
                            determine if this will affect the nature of the property. In many cases, the mortgage will be paid off through escrow at closing.
                            Make certain such directions are in the escrow instructions.</u>
                    </li>
                    <li>
                        <strong>Notice of Default:</strong> This indicates that there is an existing foreclosure proceeding against the property. <u>If this is
                            the case, you should not independently purchase the property. Instead, you may want to purchase it as part of the foreclosure
                            proceeding. Always consult with your attorney before buying a foreclosure.</u>
                    </li>
                    <li>
                        <strong>Parties in Possession:</strong> This exception means that any rights or claims of parties that currently possess the property
                        and are not recorded in the public records will not be covered by the insurance policy. <u>To protect yourself from this, especially
                            from the rights of someone who is wrongfully in possession of the property, have the property surveyed.</u> This can determine
                        whether any part of the property is currently in the possession of a third party.
                    </li>
                    <li>
                        <strong>Survey Exception:</strong> This can include any rights or claims of parties in possession; easements or claims of easements not
                        shown by public records; boundary line disputes; overlaps or encroachments; and any matters not of record that could be exposed by a
                        survey and inspection. <u>Simply by having the land surveyed and inspected, you can protect yourself against such an exception.</u>
                    </li>
                    <li>
                        <strong>Mechanic's Liens:</strong> Mechanic’s Liens: These can be tricky because they may not appear on the record even if they exist.
                        Mechanic's liens take effect when construction or improvement work starts, but aren't recorded until the work is finished but not paid
                        for by the owner. This type of exception means that the insurance will not cover any lien or right to a lien for services, labor, or
                        materials for any prior or subsequent development. <u>However, some insurance companies may provide coverage if the seller guarantees
                            against mechanic's liens, and if both buyer and seller have proper documentation in place.</u>

                    </li>
                    <li>
                        <strong>State or Federal Tax Liens, Judgments, Bankruptcy:</strong> Any taxes, assessments and judicial proceedings not shown as
                        existing liens in public records will not be covered by the title insurance. <strong>It is a good idea to get a warranty from the seller
                            that no such issues exist.</strong> (And remember, a Quit Claim Deed from the Seller offers no such warranty). Notice of default is
                        important. In bankruptcy proceedings, a title insurance company will usually hold insurance until a court order is flied that removes
                        the property from the bankruptcy court's jurisdiction.
                    </li>
                    <li>
                        <strong>Lis Pendens:</strong> A Lis Pendens filing means that the property is involved in litigation. A title company certainly won’t
                        insure it. You most certainly should not buy into it either.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>