<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Other Physical Inspection Items</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    A building that passes inspection with flying colors may still lay down a minefield of risks. Accompany your inspectors and question them
                    thoroughly. Discount your offering price for existing, known defects and potentially costly future expenses.
                </p>

                <p>
                    Test the soundproofing between units. If you can hear a television, people walking or talking, or toilets flushing, beware. Unless you can
                    solve the noise problem, tenants will complain and you will suffer higher turnover.
                </p>

                <p>
                    If you find that the property requires any type of major repair, such as a new roof, exterior painting, new appliances, termite
                    extermination, get estimates and factor the costs into the final valuation and purchase price.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>