<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Past Written Records of All Maintenance Calls</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Insist on a past written record of all maintenance calls, repairs, receipts, diagnoses, and replacements. You want full history. A full
                    history
                    alerts you to so-called solved problems that may point toward future expenses. Although few sellers are likely to fully comply with such a
                    request, it will reveal useful information and give you more evidence if it later turns out that the sellers hid defects from you.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>