<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">ALTA Survey / Property Survey</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    Whether you're a first-time property owner or looking to expand your home, knowing the exact location of your land's property lines is
                    important. Most people have a general idea of where their property begins and ends, but how can you know for sure? Some property lines are
                    clearly marked by landscape changes or roads, while many are completely invisible or have changed over time. To gain the most precise
                    understanding of the property you own, you need to get a property survey done.
                </p>

                <h4>What Is A Property Survey?</h4>
                <p>
                    A property survey confirms a property's boundary lines and legal description. It also determines other restrictions or easements included in
                    the property. While you can technically get your property surveyed at any time, confirming the boundaries of your land is an important part
                    of the home buying process.
                </p>
                <p>
                    Depending on your mortgage company and where you live, a property line survey may or may not be legally required. However, getting a
                    property survey done lets you know in no uncertain terms what land you're responsible for and where you can build, while empowering you and
                    your mortgage lender or title insurance company to set the most accurate terms of your agreements.
                </p>
                <p>
                    There are different types of property surveys, but they all determine important characteristics and features of the land based on what the
                    property owner needs. Here are a few examples:
                </p>

                <h5>Property Lines</h5>
                <p>
                    This one may sound obvious, but as legal boundaries of your property, a precise understanding of your property lines can either make or
                    break your homeowning experience. By eliminating any confusion or grey areas, you can build or expand your home with confidence and avoid
                    <a href="javascript:void(0)" (click)="onEncroachmentClick()">encroachments</a> – property disagreements with your neighbors.
                </p>
                <p>
                    In real estate terms, an encroachment happens when a neighbor builds something that invades on another neighbor's property. This type of
                    conflict can easily turn into a legal issue, as there is a lot on the line (no pun intended) when it comes to land ownership and building
                    rights.
                </p>
                <p>
                    For example, it's important to consider what could happen as a result of a new structure on your property, like injury or damage you could
                    be liable for in the eyes of the law, higher insurance premiums and lower resale value down the line. It's not unheard of for potential
                    buyers to offer less money for a property with poorly defined property lines, or to even pass on purchasing altogether.
                </p>

                <h5>Easements</h5>
                <p>
                    A property survey will reveal any easements on the property you want to purchase. An easement is a situation in which you may have to share
                    access to some part of your property. For example, a utility company could have the right to install electrical wires on your land, or you
                    may be required to share a private road or beach with your neighbors. There are many different types of easements and they don't always
                    result in negative situations or experiences; however, you can avoid being caught by surprise by conducting a thorough property survey as a
                    part of your home buying process.
                </p>

                <h5>Elevation</h5>
                <p>
                    Elevation matters! Topographical surveys are surveys that go deeper into the contours, elevation and features of the property. This type of
                    survey will include your property's exact elevation, building type and flood map location in order to determine the proper flood insurance
                    premium rates.
                </p>
                <p>
                    This information is important to know for architects and building contractors, and can impact the design and cost of any new structure you
                    decide to build. Paying for a topographical survey and a flood certificate now could end up saving you hundreds of dollars per year.
                </p>

                <h5>Hazard Areas</h5>
                <p>
                    The fieldwork a property surveyor does on the property results in a better understanding of the land you want to live or build on –
                    including potential problems and hazard areas. This is especially important if you plan to build new structures on your land. A thorough
                    survey from an accredited professional can help you avoid costly mistakes, like trying to build your new home only to find out your lot has
                    a water table near the surface, or incurring future damages from land erosion, landslides or earth collapse.
                </p>

                <h4>How To Get A Property Survey</h4>
                <p>
                    Now that you understand the benefits of property surveys, you're probably wondering how you can get the most precise idea of your property's
                    legal boundaries. There are several ways to go about getting a property survey:
                </p>

                <h5>Hire A Land Surveyor</h5>
                <p>
                    Luckily for grazing deer and hungry rabbits, not every plot of land is clearly defined and enclosed by a white picket fence. As land shifts
                    over time, some initial property line markers may no longer exist. If you have any questions about property lines, the safest thing to do
                    hire a land surveyor.
                </p>
                <p>
                    A professional land surveyor is an expert in defining property lines. They use their skills, education and specialized field equipment to
                    create legally binding property surveys. They can even serve as expert witnesses in court cases about land disputes. (Remember when we
                    talked about encroachments earlier on?)
                </p>
                <p>
                    During the property survey, a land surveyor will compare historical records and data with any existing markers to accurately define your
                    property lines – and their findings are legally binding. This process takes time, effort and boots-on-the-ground legwork, so hiring a
                    well-respected and -reviewed land surveyor before purchasing land or beginning any new home expansions is your best bet to avoid any legal
                    issues in the future. Call around for quotes before you decide, and be wary of any too-good-to-be-true low estimates.
                </p>

                <h5>Check The Property Deed</h5>
                <p>
                    Several different types of deeds are used in real estate. A property deed is a written legal document that transfers ownership of a property
                    from the grantor to the grantee. (Not to be confused with a title, which is the actual document that states who legally owns the property.)
                    This type of deed will have several pieces of important information about the property: accurate owner names, exact address, tax map number,
                    legal description, restrictions, and other information like conditions of the transfer and reservations of rights by a prior owner. While
                    some deeds only reference a lot or block number, many include detailed measurements in the form of – yep, you guessed it – a property survey
                    done by a land surveyor.
                </p>

                <h5>Search Property Survey Records</h5>
                <p>
                    While there is no national archive of real estate records, many states require property surveys to be filed with the local government. You
                    can search for property surveys by visiting the courthouse, assessor's or property office where your new land is located. You will need to
                    manually check transfers, requirements and restrictions on the property. This avenue can be time-consuming, but it's a free to low-cost way
                    to empower yourself with the knowledge and history of your new property's legal boundaries.
                </p>

                <h5>Find A Property Survey Online</h5>
                <p>
                    Can't make it to the courthouse? No worries, many local governments keep property records online. To search for your piece of land, you'll
                    need specific details about the property you want to look up. Gather as much information as you can, like the street address, boundary
                    descriptions and date of the last survey, and search the official county or assessor's website where the property is located.
                </p>
                <p>
                    The more information you have, the easier it will be for you to find the survey you need. Not all records will be digitalized, but the
                    results of your search may help you narrow down the exact office where your survey is located. You can then call the office and ask if they
                    can mail you a copy of the survey.
                </p>
                <p>
                    Geographical Information System (GIS) maps and property search sites are a better option if you have limited information on your property.
                    However, these sites often charge a fee or require a subscription.
                </p>
                <h5>Contact The Previous Surveyor</h5>
                <p>
                    Land surveyors keep copies of the property surveys they complete. (Legally, the survey belongs to them.) If you know the name and contact
                    information of the previous land surveyor, try reaching out. It's very likely that, for a fee, they can send you a copy. Land surveys
                    usually last 5 to 10 years after they are completed, so if the previous survey was done a long time ago, it's probably a good idea to get a
                    new one done even if you locate the official document.
                </p>

                <h4>Bottom Line</h4>
                <p>
                    Property surveys are an important part of the home buying process, and are usually paid for by the buyer. It's possible to find information
                    on your property lines without conducting an official property survey; however, you won't end up with an official document and you can't use
                    your findings as part of a property sale or legal dispute. The most secure option is to hire a licensed professional property surveyor, but
                    the cost will vary depending on the type of land you want surveyed.
                </p>

                <h4>Not All Surveys are Created Equal – The Benefit and Uses of an ALTA Survey</h4>
                <p>
                    While most lenders require a title search before financing the acquisition of commercial real property, survey requirements are not as
                    common. There are many issues that may be disclosed by a survey of a property that may not be obtained from a title search. There are
                    several types of surveys that a lender may consider, but boundary surveys and ALTA surveys are likely the most common. Boundary surveys show
                    the boundary lines between land parcels, but not necessarily any improvements on the property. ALTA surveys are boundary surveys created
                    pursuant to a set of minimum standards adopted jointly by the American Land Title Association (ALTA) and the American Congress on Surveying
                    and Mapping (ACSM). The surveyor depends on these detailed standards to prepare a survey that correlates with the needs of the either or
                    both of the property purchaser and the lender and the requirements of the title insurer. ALTA and ACSM issued the current version of these
                    requirements in 2011.
                </p>
                <p>
                    Although a boundary survey may cost significantly less than an ALTA Survey, an ALTA survey is more intensive and will provide more
                    comprehensive and detailed information. ALTA surveys provide information about property boundaries and easements, as well as improvements
                    such as fences, trails, roads, rights of ways, and other features on the property that may affect ownership of the property and may require
                    further investigation into the possibility of adverse rights. An ALTA survey will also show means of access to the property, the zoning
                    classification for the property, and the flood zone classification for the property. Boundary surveys often lack the level of detail
                    required for a commercial real estate purchaser or lender to properly evaluate the property.
                </p>
                <p>
                    <u>
                        Lenders should require ALTA surveys to ensure that their security interests and investments are protected from adverse claims that may
                        not be disclosed by a title search. The information provided on an ALTA Survey will assist the lender and the purchaser in evaluating
                        the property for potential risks and benefits of owning the property.
                    </u>
                </p>
                <p>
                    <strong>There are five (5) major concerns that a lender will want to address during its review of the ALTA survey:</strong>
                </p>
                <ol>
                    <li>
                        When ordering the survey, the lender may want to request that the surveyor also draft a legal description for the property, so the
                        lender may compare the surveyor’s legal description to the legal description in the title commitment. If the legal descriptions are not
                        the same, then there may be a problem that needs to be addressed.
                    </li>
                    <li>
                        The lender needs to study the easements and rights of way that are shown on the survey to determine how they encumber or benefit the
                        property. Certain types of easements and rights of way, and their location, may interfere with the purchaser’s intended use of the
                        property. <u>It is also important to compare the easements shown on the survey to the easements listed as exceptions in the title
                            commitment to confirm that all exception easements are shown on the survey and vice-versa.</u>
                    </li>
                    <li>
                        The lender should determine whether there are any encroachments related to the surveyed property. An encroachment is an overlap of an
                        improvement from one property onto the property of another or an overlap onto an easement. Encroachments are relatively common and may
                        require an easy cure (e.g., granting of an easement); some encroachments, however, may be expensive and difficult to cure.
                    </li>
                    <li>
                        The lender should determine whether there are any setback violations for improvements on the property. An ALTA survey will show the
                        setback requirements pursuant to the local zoning ordinance. If the improvements are closer to the property line than the ordinance
                        allows, then the owner of the property has a setback violation. Similar to encroachments, a setback violation may require a simple cure
                        (e.g., variance from the local governmental authority) or an expensive and difficult cure (e.g., removal of the building or improvement
                        that is in violation).
                    </li>
                    <li>
                        The lender can use the ALTA survey to determine how the owner or purchaser can access the property. An ALTA survey will show the
                        surveyed property and surrounding properties, and will help the lender determine whether the purchaser has access to a dedicated
                        roadway. If the property lacks such access, then the property is likely landlocked, and the owner or purchaser will not have a legal way
                        to access the property. If the surveyed property is landlocked, the lender should require that the owner or purchaser obtain and record
                        an easement for ingress and egress before allowing the transaction to close.
                    </li>
                </ol>
                <p>
                    Some of the items shown on an ALTA survey may be difficult to understand, so the lender should not hesitate to contact the surveyor to ask
                    questions and raise concerns.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>