@media (max-width:750px) {
  .mat-card {
   width: 70% !important;
  }


  }


.mat-card{
  margin:5% auto;
  width: 30%;
}

.mat-form-field{
  width: 100%;
  margin:2% auto;
}

button{
  width: auto;
  height: auto;
}
