<mat-card>
  <mat-card-content>
    <form [formGroup]="passwordResetForm">
      <p>PLease enter your email and we will send you new password shortly.</p>
      <p> You will be redirected to Home page automatically.</p>

      <mat-form-field appearance="legacy">
        <mat-label>Example: name@gmail.com </mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-progress-bar *ngIf="this.isProcessing" mode="indeterminate"></mat-progress-bar>

  <mat-card-actions align="end">
    <button mat-raised-button (click)="onGoBack()">GO BACK</button>
    <button mat-raised-button (click)="onRequestPasswordReset()" color="primary">SUBMIT</button>
  </mat-card-actions>
</mat-card>
