<div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Seller&rsquo;s Tax Return - IRS Schedule E</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <p>
                    One of the most powerful tools you cn use to determine the truth about a property&rsquo;s financials is the seller&rsquo;s tax return.
                    A seller will not likely make a property look extra &quot;cash flow-push&quot; for the IRS, so tax returns will likely be the most accurate
                    representation of how the property really performs.
                </p>
                <p>
                    To get it - simply ask for it. Also, talk to CPA to find out if you can get it directly from IRS.
                </p>
                <p>
                    Look for any discrepancies between tax returns filed and the financial information provided by the seller. If you find inconsistencies
                    between
                    the numbers they provide and the numbers on the tax return, dig further into this.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>